/***
RTL support for Ronneby theme
RTL by: RTL-Maker.net	
***/

/******************* Arabic font *******************/
/*
@import url(http://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);

body{font-family: 'Droid Arabic Naskh',serif ;}
h1{font-family: 'Droid Arabic Naskh',serif ;font-weight: 300;font-size:42px;}
h2{font-family: 'Droid Arabic Naskh',serif ;font-weight: 300;font-size:34px;}
h3{font-family: 'Droid Arabic Naskh',serif ;font-weight: 300;font-size:28px;}
h4{font-family: 'Droid Arabic Naskh',serif ;font-weight: 300;font-size:24px;}
h5{font-family: 'Droid Arabic Naskh',serif ;font-weight: 300;font-size:18px;}
h6{font-family: 'Droid Arabic Naskh',serif ;font-weight: 300;font-size:16px;}
blockquote .slug{font-family: 'Droid Arabic Naskh',serif ;font-weight: 300;}
.sidr .sidr-inner > ul > li > a{font-family: 'Droid Arabic Naskh',serif ;font-weight: 300;}
#wp-submit:not(.ubtn),#commentform #submit:not(.ubtn){font-family: 'Droid Arabic Naskh',serif ;font-weight: 300;}
.nav-menu .mega-menu-item .item-title{font-family: 'Droid Arabic Naskh',serif ;font-weight: 300;}
.nav-menu div.sub-nav a{font-family: 'Droid Arabic Naskh',serif ;}
.wpb_wrapper h6.widget-title{font-family: 'Droid Arabic Naskh',serif ;font-weight: 300;}
.uvc-type-wrap{font-family: 'Droid Arabic Naskh',serif ;font-weight: 300;}
.yith-wcwl-message, .onsale{font-family: 'Droid Arabic Naskh',serif ;font-weight: 300;}
.more-button{font-family: 'Droid Arabic Naskh',serif ;font-weight: 300;}
.dfd-blog-loop .dfd-blog-wrap .post .cover .dfd-news-categories .byline.category a{font-family: 'Droid Arabic Naskh',serif ;font-weight: 300;}
.filter li{font-family: 'Droid Arabic Naskh',serif ;font-weight: 300;}
#layout.single-post .dfd-single-style-advanced .post .dfd-single-post-heading .dfd-news-categories .byline.category a{font-family: 'Droid Arabic Naskh',serif ;font-weight: 300;}
.post.format-quote .entry-content .entry-thumb .quote-author,.post.format-quote .entry-media .entry-thumb .quote-author{font-family: 'Droid Arabic Naskh',serif ;font-weight: 300;}
.calend_date .calend_date__month{font-family: 'Droid Arabic Naskh',serif ;font-weight: 300;}
.calend_date .calend_date__day{font-family: 'Droid Arabic Naskh',serif ;font-weight: 300;font-size:28px;}
.pagination ul.page-numbers li span,.pagination ul.page-numbers li a{font-family: 'Droid Arabic Naskh',serif ;font-weight: 300;}
.pagination .prev-next-links a{font-family: 'Droid Arabic Naskh',serif ;font-weight: 300;}
.wpb_wrapper h1.widget-title{font-family: 'Droid Arabic Naskh',serif ;font-weight: 300;font-size:45px;}
.wpb_wrapper h2.widget-title{font-family: 'Droid Arabic Naskh',serif ;font-weight: 300;font-size:34px;}
.wpb_wrapper h3.widget-title{font-family: 'Droid Arabic Naskh',serif ;font-weight: 300;font-size:18px;}
.wpb_wrapper h4.widget-title{font-family: 'Droid Arabic Naskh',serif ;font-weight: 300;font-size:22px;}
.wpb_wrapper h5.widget-title{font-family: 'Droid Arabic Naskh',serif ;font-weight: 300;font-size:18px;}
.wpb_wrapper h6.widget-title{font-family: 'Droid Arabic Naskh',serif ;font-weight: 300;font-size:16px;}
.dfd-blog-title{font-family: 'Droid Arabic Naskh',serif ;}
.block-title{font-family: 'Droid Arabic Naskh',serif ;}
h3.entry-title{font-family: 'Droid Arabic Naskh',serif ;}
.box-name{font-family: 'Droid Arabic Naskh',serif ;font-weight: 300;font-size:16px;}
.widget h3.widget-title,.module .widget h3.widget-title{font-family: 'Droid Arabic Naskh',serif ;}
.feature-title{font-family: 'Droid Arabic Naskh',serif ;}
.dfd-background-dark .widget:not(.widget_recent_posts_widget) .entry-content-wrap h3.entry-title,
#side-area.dfd-background-dark .widget:not(.widget_recent_posts_widget) .entry-content-wrap h3.entry-title,.row .background--dark .widget:not(.widget_recent_posts_widget) .entry-content-wrap h3.entry-title{font-family: 'Droid Arabic Naskh',serif ;}
.nav-menu .mega-menu-item .item-title{font-family: 'Droid Arabic Naskh',serif ;}
#header-container.header-style-1 .nav-menu div.sub-nav .sub-menu-wide.sub-nav-group .sub-nav-item.menu-item-depth-1.has-submenu > a.menu-link.sub-menu-link,#header-container.header-style-2 .nav-menu div.sub-nav .sub-menu-wide.sub-nav-group .sub-nav-item.menu-item-depth-1.has-submenu > a.menu-link.sub-menu-link,#header-container.header-style-3 .nav-menu div.sub-nav .sub-menu-wide.sub-nav-group .sub-nav-item.menu-item-depth-1.has-submenu > a.menu-link.sub-menu-link,
#header-container.header-style-4 .nav-menu div.sub-nav .sub-menu-wide.sub-nav-group .sub-nav-item.menu-item-depth-1.has-submenu > a.menu-link.sub-menu-link{font-family: 'Droid Arabic Naskh',serif ;}
#buddypress div.generic-button{font-family: 'Droid Arabic Naskh',serif ;}
#buddypress div#item-header div#item-header-content .user-nicename{font-family: 'Droid Arabic Naskh',serif ;}
#buddypress ul.item-list li div.action a.button,#buddypress ul.item-list li div.item-title span,#buddypress .activity-read-more,#buddypress form#whats-new-form div#whats-new-content #whats-new-options #whats-new-submit #aw-whats-new-submit,#buddypress div#item-body form.standard-form input[type="submit"],#buddypress div#item-body form.standard-form fieldset linput[type="submit"],#buddypress div#item-body form.standard-form div.submit input[type="submit"],#buddypress div#item-body form.standard-form p input[type="submit"],#buddypress div#item-body form.standard-form p a.button,#buddypress div#item-body form.standard-form p#avatar-upload input[type="submit"],#buddypress div#item-body div.messages div.messages-options-nav input[type="submit"],#buddypress div#item-body div.messages div.messages-options-nav a,
#buddypress div#item-header div#item-header-content .user-nicename #item-meta div#latest-update a{font-family: 'Droid Arabic Naskh',serif ;}
#buddypress div.generic-button,#buddypress ul.item-list li.load-more,#buddypress div.item-list-tabs ul li a,#buddypress .activity form.ac-form div.ac-reply-content input[type="submit"],#buddypress .activity form.ac-form div.ac-reply-content a.ac-reply-cancel,#buddypress .activity #activity-stream li .activity-meta,#buddypress .activity #activity-stream li div.activity-comments ul li div.acomment-options a,#buddypress div#item-body form.standard-form div.invite div.main-column ul.item-list li div.action,
#buddypress div#item-body div.messages table.messages-notices tbody tr.unread td.thread-options a.button{font-family: 'Droid Arabic Naskh',serif ;}
#buddypress div#item-body div.messages table.messages-notices tbody tr td a.button,#buddypress div#item-body table.notifications tbody tr td a.mark-unread,#buddypress div#item-body table.notifications tbody tr td a.mark-read,#buddypress div#item-body table.notifications tbody tr td a.delete{font-family: 'Droid Arabic Naskh',serif ;}
#buddypress .activity #activity-stream li div.activity-content div.activity-inner p a,#buddypress div#item-header div#item-actions #item-actions-wrap h3{font-family: 'Droid Arabic Naskh',serif ;}
#buddypress div#item-body form.standard-form h4,#buddypress div#item-body div.groups ul.item-list .bp-single-group .item .item-title a{font-family: 'Droid Arabic Naskh',serif ;}
#buddypress form.dir-form div.item-list-tabs ul li a,#buddypress form#whats-new-form p.activity-greeting,#buddypress div#item-body ul.item-list li h4,#buddypress div#item-body ul.item-list li h5,#buddypress div#item-body ul.item-list li div.item div.item-title a,#buddypress div#item-body form.standard-form fieldset legend.screen-reader-text,#buddypress div#item-body form.standard-form div.bp-widget ul.item-list li h5 span.small a.button,#buddypress div#item-body form.standard-form table thead tr th,#buddypress div#item-body div.messages table.messages-notices tbody tr.unread td.thread-info p a,#buddypress div#item-body #bbpress-forums .entry-title,#buddypress div#item-body .profile h4,#buddypress div#item-body .profile div.bp-widget table.profile-fields tbody tr td.data p,#buddypress div#item-body table.notifications thead tr th,#buddypress div#item-body div#subnav ul li,#buddypress div#item-nav div.item-list-tabs ul li{font-family: 'Droid Arabic Naskh',serif ;}
.tooltipster-base .tooltipster-content .tooltipster-content-head{font-family: 'Droid Arabic Naskh',serif ;}
#side-area .side-area-button-section a{font-family: 'Droid Arabic Naskh',serif ;}
.form-search-section ::-webkit-input-placeholder{font-family: 'Droid Arabic Naskh',serif ;}
.form-search-section ::-moz-placeholder{font-family: 'Droid Arabic Naskh',serif ;}
.form-search-section :-ms-input-placeholder{font-family: 'Droid Arabic Naskh',serif ;}
.form-search-section input:-moz-placeholder{font-family: 'Droid Arabic Naskh',serif ;}
.form-search-section input[type="text"]{font-family: 'Droid Arabic Naskh',serif ;}
#layout.one-page-scroll > .slick-dots li > span{font-family: 'Droid Arabic Naskh',serif ;}
.tp-caption a.tp-button{font-family: 'Droid Arabic Naskh',serif ;}
.widget.widget_categories li a, .widget.widget_archive li a, .widget.widget_crum_cat_arch li a{font-family: 'Droid Arabic Naskh',serif ;}
.blog-top-block .box-name{font-family: 'Droid Arabic Naskh',serif ;}
#header .onclick-menu-wrap nav.onclick-menu .onclick-nav-menu .item-title{font-family: 'Droid Arabic Naskh',serif ;}
#comments .commentlist li .reply a{font-family: 'Droid Arabic Naskh',serif ;}
.dfd-share-popup-wrap .entry-share-popup li > a span{font-family: 'Droid Arabic Naskh',serif ;}
.project .entry-thumb .portfolio-entry-hover > a.quick-view{font-family: 'Droid Arabic Naskh',serif ;}
.testimonials .testimonial-item .left .box-name{font-family: 'Droid Arabic Naskh',serif ;}
.row article.not-found404 header{font-family: 'Droid Arabic Naskh',serif ;}
.search-page #main-content article.post.no-results header p.heading{font-family: 'Droid Arabic Naskh',serif ;}
.post.no-results.not-found header p.heading{font-family: 'Droid Arabic Naskh',serif ;}
.recent-posts-list .post-item .entry-content-wrap .widget-inner-heading{font-family: 'Droid Arabic Naskh',serif ;}
.widget_crum_widget_tabs .tabs.horisontal dd a,.widget_crum_cat_tabs .tabs.horisontal dd a{font-family: 'Droid Arabic Naskh',serif ;}
.widget_crum_widget_tabs article.mini-news .box-name,.widget_crum_cat_tabs article.mini-news .box-name{font-family: 'Droid Arabic Naskh',serif ;}
.widget.widget_dfd_widget_sidebar_menu ul li,.widget.widget_product_categories ul li,.widget.widget_pages ul li,.widget.widget_nav_menu ul li,.widget.widget_meta ul li{font-family: 'Droid Arabic Naskh',serif ;}
.widget.widget_crum_news_categories_list ul li{font-family: 'Droid Arabic Naskh',serif ;}
.widget.widget_display_stats dl{font-family: 'Droid Arabic Naskh',serif ;}
.widget.widget_bp_core_sitewide_messages .bp-site-wide-message .info p a#close-notice{font-family: 'Droid Arabic Naskh',serif ;}
.widget.widget_akismet_widget .a-stats a strong .count{font-family: 'Droid Arabic Naskh',serif ;}
.widget.widget_bp_groups_widget .item-options,.widget.widget_bp_core_members_widget .item-options{font-family: 'Droid Arabic Naskh',serif ;}
.widget.bbp_widget_login .bbp-login-form fieldset .bbp-submit-wrapper button[type="submit"]{font-family: 'Droid Arabic Naskh',serif ;}
.widget.widget_bp_core_login_widget .standard-form input[type="submit"]{font-family: 'Droid Arabic Naskh',serif ;}
.widget.widget_rss .widget-title .rsswidget{font-family: 'Droid Arabic Naskh',serif ;}
blockquote,blockquote p{font-family: 'Droid Arabic Naskh',serif ;}
#header-container #header .header-additional-menu > ul li{font-family: 'Droid Arabic Naskh',serif ;}
div.page-title-inner .page-subtitle{font-family: 'Droid Arabic Naskh',serif ;}
div.page-title-inner .breadcrumbs > nav{font-family: 'Droid Arabic Naskh',serif ;}
#footer .dfd-footer-menu ul li{font-family: 'Droid Arabic Naskh',serif ;}
.sidr ul li a .menu-subtitle{font-family: 'Droid Arabic Naskh',serif ;}
.post.format-quote .entry-content .entry-thumb a.quote-content,.post.format-quote .entry-media .entry-thumb a.quote-content{font-family: 'Droid Arabic Naskh',serif ;}
.wpb_wrapper h1.widget-sub-title{font-family: 'Droid Arabic Naskh',serif ;}
.wpb_wrapper h2.widget-sub-title{font-family: 'Droid Arabic Naskh',serif ;}
.wpb_wrapper h3.widget-sub-title{font-family: 'Droid Arabic Naskh',serif ;}
.wpb_wrapper h4.widget-sub-title{font-family: 'Droid Arabic Naskh',serif ;}
.wpb_wrapper h5.widget-sub-title{font-family: 'Droid Arabic Naskh',serif ;}
.wpb_wrapper h6.widget-sub-title{font-family: 'Droid Arabic Naskh',serif ;}
.subtitle{font-family: 'Droid Arabic Naskh',serif ;}
.entry-meta,.entry-meta.dopinfo{font-family: 'Droid Arabic Naskh',serif ;}
.nav-menu .mega-menu-item .menu-subtitle{font-family: 'Droid Arabic Naskh',serif ;}
#buddypress form.dir-form div.item-list-tabs ul li#subnav ul li.last label,#buddypress .activity #activity-stream li div.activity-comments ul li div.acomment-meta a.activity-time-since,#buddypress .activity #activity-stream li div.activity-comments ul li div.acomment-meta,#buddypress .activity #activity-stream li div.activity-content div.activity-header p a.view,#buddypress .activity #activity-stream li div.activity-content div.activity-header p,#buddypress div#item-body ul.item-list li div.action div.meta,#buddypress div#item-body form.standard-form,#buddypress div#item-body #bbpress-forums div.bbp-user-section li.bbp-body ul li p.bbp-topic-meta span.bbp-topic-started-in,#buddypress div#item-body div.groups ul.item-list .bp-single-group .item .item-meta span,#buddypress div#item-body div#subnav ul li.last label,#buddypress div#item-header div#item-header-content span.activity,#buddypress div#item-header div#item-actions #item-actions-wrap .highlight{font-family: 'Droid Arabic Naskh',serif ;}
.header-wishlist-link-wrap,.header-login-link{font-family: 'Droid Arabic Naskh',serif ;}
#header .onclick-menu-wrap nav.onclick-menu .onclick-nav-menu .menu-subtitle{font-family: 'Droid Arabic Naskh',serif ;}
#comments .commentlist li .comment-content{font-family: 'Droid Arabic Naskh',serif ;}
.project .entry-tags ul li a{font-family: 'Droid Arabic Naskh',serif ;}
.row article.not-found404 header .subtitle-name{font-family: 'Droid Arabic Naskh',serif ;}
.recent-posts-list .post-item .entry-content-wrap .subtitle span.entry-comments a{font-family: 'Droid Arabic Naskh',serif ;}
.widget_dfd_recent_comments .widget-recentcomments .recentcomments p.comment-text .author{font-family: 'Droid Arabic Naskh',serif ;}
.widget_dfd_recent_comments .widget-recentcomments .recentcomments p.comment-text a{font-family: 'Droid Arabic Naskh',serif ;}
.widget_dfd_recent_comments .widget-recentcomments .recentcomments .entry-meta .comments-date{font-family: 'Droid Arabic Naskh',serif ;}
.widget_counter_mail_subscribe .subscribe-widget .widget-title{font-family: 'Droid Arabic Naskh',serif ;}
.widget_crum_widget_tabs article.mini-news .entry-meta > span,.widget_crum_cat_tabs article.mini-news .entry-meta > span{font-family: 'Droid Arabic Naskh',serif ;}
.widget_crum_widget_tabs article.mini-news .entry-meta .entry-comments,.widget_crum_cat_tabs article.mini-news .entry-meta .entry-comments{font-family: 'Droid Arabic Naskh',serif ;}
.widget_crum_widget_tabs article.mini-news .entry-date,.widget_crum_cat_tabs article.mini-news .entry-date{font-family: 'Droid Arabic Naskh',serif ;}
.widget_dfd_vcard_simple .vcard-field p a{font-family: 'Droid Arabic Naskh',serif ;}
.widget.widget_recent_entries ul li .comment-author-link,.widget.widget_recent_comments ul li .comment-author-link{font-family: 'Droid Arabic Naskh',serif ;}
.widget.widget_recent_entries ul li a,.widget.widget_recent_comments ul li a{font-family: 'Droid Arabic Naskh',serif ;}
.widget.widget_recent_entries ul li span.post-date,.widget.widget_recent_comments ul li span.post-date{font-family: 'Droid Arabic Naskh',serif ;}
.widget.widget_display_replies ul li div{font-family: 'Droid Arabic Naskh',serif ;}
.widget.widget_display_topics ul li div{font-family: 'Droid Arabic Naskh',serif ;}
.widget.widget_bp_groups_widget ul.item-list li .item .item-meta,.widget.widget_bp_groups_widget ul.item-list .vcard .item .item-meta,.widget.widget_bp_core_members_widget ul.item-list li .item .item-meta,.widget.widget_bp_core_members_widget ul.item-list .vcard .item .item-meta{font-family: 'Droid Arabic Naskh',serif ;}
.widget.bbp_widget_login .bbp-logged-in a.button.logout-link{font-family: 'Droid Arabic Naskh',serif ;}
.widget.widget_bp_core_login_widget .bp-login-widget-user-links .bp-login-widget-user-logout{font-family: 'Droid Arabic Naskh',serif ;}
.widget.widget_crum_login form p label,.widget.widget_crum_login form p a{font-family: 'Droid Arabic Naskh',serif ;}
.widget.widget_rss ul .rss-date{font-family: 'Droid Arabic Naskh',serif ;}
.widget.widget_rss ul a{font-family: 'Droid Arabic Naskh',serif ;}
.widget.widget_rss ul cite{font-family: 'Droid Arabic Naskh',serif ;}
#layout .woo-page-title{font-family: 'Droid Arabic Naskh',serif ;}
.summary .price{font-family: 'Droid Arabic Naskh',serif ;}
.products .product .woo-cover .buttons-wrap a.add_to_cart_button{font-family: 'Droid Arabic Naskh',serif ;}
.products .product .woo-cover .buttons-wrap a.added_to_cart{font-family: 'Droid Arabic Naskh',serif ;}
.products .product .woo-title-wrap .price-wrap .amount{font-family: 'Droid Arabic Naskh',serif ;}
.products .product.style-2 .additional-price{font-family: 'Droid Arabic Naskh',serif ;}
.single-product .dfd-price-rating-wrap > .price-wrap .price{font-family: 'Droid Arabic Naskh',serif ;}
.single-product .single_variation_wrap .single_variation .price{font-family: 'Droid Arabic Naskh',serif ;}
.woocommerce-page #reviews #review_form #respond > h3{font-family: 'Droid Arabic Naskh',serif ;}
.cart-wrap .shop_table tbody tr .product-name a{font-family: 'Droid Arabic Naskh',serif ;}
.cart-wrap .shop_table tbody tr .product-price,.cart-wrap .shop_table tbody tr .product-subtotal{font-family: 'Droid Arabic Naskh',serif ;}
.cart-wrap .cart_totals table tbody tr td span.amount{font-family: 'Droid Arabic Naskh',serif ;}
#yith-wcwl-form .shop_table thead th{font-family: 'Droid Arabic Naskh',serif ;}
#yith-wcwl-form .shop_table tbody tr .product-name a{font-family: 'Droid Arabic Naskh',serif ;}
#yith-wcwl-form .shop_table tbody tr .product-price{font-family: 'Droid Arabic Naskh',serif ;}
#yith-wcwl-form .shop_table tbody tr .product-stock-status{font-family: 'Droid Arabic Naskh',serif ;}
#yith-wcwl-form .shop_table tbody tr .product-add-to-cart{font-family: 'Droid Arabic Naskh',serif ;}
.woocommerce-page .checkout-login-wrap .woocommerce-info a{font-family: 'Droid Arabic Naskh',serif ;}
.woocommerce-page .checkout-coupon-wrap .woocommerce-info a{font-family: 'Droid Arabic Naskh',serif ;}
.woocommerce-page .checkout .checkout-details-cover .shop_table thead th{font-family: 'Droid Arabic Naskh',serif ;}
.woocommerce-page .checkout .checkout-details-cover .shop_table tfoot .cart-subtotal th,.woocommerce-page .checkout .checkout-details-cover .shop_table tfoot .order-total th{font-family: 'Droid Arabic Naskh',serif ;}
.woocommerce-page .checkout .checkout-details-cover .shop_table tfoot .amount{font-family: 'Droid Arabic Naskh',serif ;}
.yith-wcwl-message,.onsale{font-family: 'Droid Arabic Naskh',serif ;}
.yith-wcwl-share h4.yith-wcwl-share-title{font-family: 'Droid Arabic Naskh',serif ;}
.yith-wcwl-share ul li a{font-family: 'Droid Arabic Naskh',serif ;}
.woocommerce-page .widget_price_filter .price_slider_amount{font-family: 'Droid Arabic Naskh',serif ;}
.widget_recent_reviews li a{font-family: 'Droid Arabic Naskh',serif ;}
.dfd_tabs_block .vc_tta-accordion .vc_tta-panel .vc_tta-panel-title a .vc_tta-title-text .accordion_inner_text{font-family: 'Droid Arabic Naskh',serif ;}
div.page-title-inner .page-title{font-family: 'Droid Arabic Naskh',serif ;}
.widget_best_sellers ul li .product_summary,.widget_top_rated_products ul li .product_summary,.widget_recently_viewed_products ul li .product_summary,.widget_products ul li .product_summary{font-family: 'Droid Arabic Naskh',serif ;}
.widget_shopping_cart .widget_shopping_cart_content ul.cart_list li a,.shopping-cart-box .widget_shopping_cart_content ul.cart_list li a{font-family: 'Droid Arabic Naskh',serif ;}
.widget_shopping_cart p.total,.shopping-cart-box p.total{font-family: 'Droid Arabic Naskh',serif ;}
.widget_shopping_cart .widget_shopping_cart_content ul.cart_list li .mini-cart-content .box-name{font-family: 'Droid Arabic Naskh',serif ;}
.widget_shopping_cart .widget_shopping_cart_content ul.cart_list li .mini-cart-content .mini-cart-quantity .amount{font-family: 'Droid Arabic Naskh',serif ;}
.widget_shopping_cart .widget_shopping_cart_content ul.cart_list li .variation dd{font-family: 'Droid Arabic Naskh',serif ;}
.widget_shopping_cart .widget_shopping_cart_content .total{font-family: 'Droid Arabic Naskh',serif ;}
.widget_shopping_cart .widget_shopping_cart_content .total .amount{font-family: 'Droid Arabic Naskh',serif ;}
.button.wc-backward:not(.ubtn), button:not(.ubtn), .button:not(.ubtn), #wp-submit:not(.ubtn), #commentform #submit:not(.ubtn){font-family: 'Droid Arabic Naskh',serif ;}
.woocommerce-page #reviews #comments ol.commentlist li .comment-text .comment-description{font-family: 'Droid Arabic Naskh',serif ;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td{font-family: 'Droid Arabic Naskh',serif ;}
#yith-wcwl-form .wishlist-title h2{    font-size: 34px;}
*/


/******************* RTL *******************/

@media only screen and (min-width: 800px) {
	.vc_rtl-columns-reverse {
		.column, .columns {
			float: right;
		}
	}
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td{
direction:rtl;
unicode-bidi:embed;
}
pre,
code {
    text-align: left;
	direction:ltr;
}
.form-search-section input[type="text"] {
    padding-left: 45px;
    padding-right: 15px;
}
.form-search-section .inside-search-icon,
.form-search-section .searchsubmit-icon,
.form-search-section .btn {
    left: 10px;
    right: auto;
}
/*input,
textarea {
    text-align: right;
}*/
::-webkit-input-placeholder {
    text-align: right;
}
.widget_shopping_cart .widget_shopping_cart_content ul.cart_list li,
.shopping-cart-box .widget_shopping_cart_content ul.cart_list li {
    text-align: right;
}
.shopping-cart-box .widget_shopping_cart_content ul.cart_list li {
    padding-right: 10px;
    padding-left: 0;
}
.nav-menu .nav-item {
    float: right;
}
nav.mega-menu ul.nav-menu {
    text-align: right;
}
nav.mega-menu ul.nav-menu:after {
    left: 0;
    right: auto;
}
.nav-menu .mega-menu-item.menu-item-depth-0:before {
    right: 0;
    left: auto;
}
.dfd-additional-header-menu li {
    float: right;
    padding-left: 25px;
    padding-right: 0;
}
.dfd-additional-header-menu li:last-child {
    padding-left: 0;
}
.login-header .links a i {
    margin-left: 5px;
    margin-right: 0;
}
#header-container #header .header-wrap > .row:last-child .header-main-panel .logo-for-panel a {
    text-align: right;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
.sidr .sidr-inner > ul > li > a,
.button.wc-backward:not(.ubtn),
button:not(.ubtn),
.button:not(.ubtn),
#wp-submit:not(.ubtn),
#commentform #submit:not(.ubtn),
.filter li,
.wishlist-empty .info-wrap-empty .info-content-empty .info-empty .button-on-page .wc-backward,
.cart-empty-page .info-wrap-empty .info-content-empty .info-empty .button-on-page .wc-backward,
article.not-found404 .info-wrap-empty .info-content-empty .info-empty .button-on-page .wc-backward,
.wpb_wrapper h2.widget-title,
.wpb_wrapper h3.widget-title,
.wpb_wrapper h4.widget-title,
.wpb_wrapper h5.widget-title,
.wpb_wrapper h6.widget-title,
.widget h3.widget-title,
.module .widget h3.widget-title,
.nav-menu .mega-menu-item .item-title,
#buddypress div#item-header div#item-header-content .user-nicename,
.lang-sel,
.lang-sel ul > li a,
.tp-caption a.tp-button,
#header .onclick-menu-wrap nav.onclick-menu .onclick-nav-menu .item-title,
.widget_counter_mail_subscribe .subscribe-widget form button[type="submit"],
.widget.widget_dfd_widget_sidebar_menu ul li,
.widget.widget_product_categories ul li,
.widget.widget_pages ul li,
.widget.widget_nav_menu ul li,
.widget.widget_meta ul li,
.widget.widget_crum_news_categories_list ul li,
.widget.widget_display_stats dl,
.widget.widget_bp_groups_widget .item-options,
.widget.widget_bp_core_members_widget .item-options,
.widget.bbp_widget_login .bbp-login-form fieldset .bbp-submit-wrapper button[type="submit"],
.widget.widget_bp_core_login_widget .standard-form input[type="submit"],
.widget.widget_rss .widget-title .rsswidget,
.sidr .sidr-inner > ul > li > a,
.button.wc-backward:not(.ubtn),
button:not(.ubtn),
.button:not(.ubtn),
#wp-submit:not(.ubtn),
#commentform #submit:not(.ubtn) {
    letter-spacing: 0 !important;
}
.slick-list {
    direction: ltr;
}
.post .entry-meta,
.search-results #main-content .post .entry-meta,
.search-results #main-content article .entry-meta {
    text-align: right;
}
.entry-meta > *,
.entry-meta.dopinfo > * {
    float: right;
    padding-left: 6px;
    padding-right: 0;
}
.entry-meta > * {
    float: right;
    padding-left: 6px;
    padding-right: 0;
}
.dfd-blog-module.blog_masonry .posts-list .post .entry-content .more-button {
    float: right;
}
.dfd-blog-module.blog_masonry .posts-list .post .entry-content .entry-meta.right {
    float: left;
}
.widget_categories,
.widget_archive,
.widget_crum_cat_arch {
    text-align: right;
}
.widget_categories .widget-archive li a,
.widget_categories ul:not(.post-categories) li a,
.widget_archive .widget-archive li a,
.widget_archive ul:not(.post-categories) li a,
.widget_crum_cat_arch .widget-archive li a,
.widget_crum_cat_arch ul:not(.post-categories) li a {
    float: right;
    margin-right: 0;
}
.recent-posts-list .post-item .entry-thumb {
    float: right;
}
.recent-posts-list .post-item .entry-thumb + .entry-content-wrap {
    margin-right: 70px;
    margin-left: 0;
}
.delim {
    padding-left: 5px;
    margin-left: 5px;
    padding-right: 0;
    margin-right: 0;
}
div.page-title-inner .breadcrumbs > nav > span {
    float: right;
}
.single-post .entry-data .author-photo {
    float: right;
}
.single-post .entry-data .entry-meta {
    margin-right: 60px;
    margin-left: 0;
}
#comments .commentlist li .avatar-box {
    float: right;
}
#comments .commentlist li .comment-author {
    margin-left: 0;
    margin-right: 80px;
}
#comments .commentlist li .ovh {
    margin-right: 80px;
    margin-left: 0;
}
#comments .commentlist .comment >.clearfix footer {
    margin-left: 0;
    margin-right: 80px;
}
#comments .commentlist li .comment-author .date {
    float: right;
}
#comments .commentlist li .comment-author .author {
    float: right;
    padding-right: 0;
    padding-left: 10px;
}
ol li ul,
ol li ol {
    margin-right: 20px;
    margin-left: 0;
}
#comments .commentlist li ul.children {
    margin-right: 0;
    padding-right: 100px;
    padding-left: 0;
}
#comments .commentlist li .reply .dop-link {
    padding-left: 10px;
    padding-right: 0;
}
#respond form p {
    text-align: right;
}
.dfd-controls .page-inner-nav.nav-prev .pagination-title {
    text-align: right;
}
.dfd-meta-container .dfd-single-tags {
    text-align: left;
}
.dfd-meta-container .dfd-single-tags .post-tags ul .post-tags-item {
    float: right;
    margin-left: 8px;
    margin-right: 0;
}
.dfd-meta-container .post-like-wrap.left {
    float: right;
}
.dfd-meta-container .post-like-wrap {
    margin-left: 25px;
    margin-right: 0;
}
.dfd-share-popup-wrap .entry-share-popup {
    right: 60px;
    left: auto;
    float: right;
}
.dfd-share-popup-wrap .entry-share-popup li {
    float: right;
}
.dfd-meta-container .dfd-single-share.left {
    float: right;
}
blockquote {
    padding-right: 30px;
    padding-left: 0;
    border-right: 2px solid #c39f76;
    border-left: none;
}
blockquote:before {
    right: 10px;
    left: auto;
}
.dfd-meta-container .dfd-single-tags.right {
    float: left;
}
#buddypress div.message-search form input[type="submit"],
#buddypress div.message-search form:after,
#buddypress li.groups-members-search form input[type="submit"],
#buddypress li.groups-members-search form:after,
#buddypress div.dir-search form input[type="submit"],
#buddypress div.dir-search form:after,
#bbpress-forums div.bbp-search-form form input[type="submit"],
#bbpress-forums div.bbp-search-form form:after,
.widget_display_search form input[type="submit"],
.widget_display_search form:after,
.widget_product_search form input[type="submit"],
.widget_product_search form:after,
.widget_search form input[type="submit"],
.widget_search form:after {
    left: 0;
    right: auto;
}
.dfd-controls .page-inner-nav.nav-next .pagination-title {
    text-align: left;
}
.post .clearfix,
.search-results #main-content .post .clearfix,
.search-results #main-content article .clearfix {
    text-align: right;
}
.post .entry-media .post-like-wrap,
.search-results #main-content .post .entry-media .post-like-wrap,
.search-results #main-content article .entry-media .post-like-wrap {
    left: auto;
    right: 0;
}
.post .entry-media .post-comments-wrap, .search-results #main-content .post .entry-media .post-comments-wrap, .search-results #main-content article .entry-media .post-comments-wrap {
    right: 0;
    left: auto;
}
.post .entry-media .post-comments-wrap + .post-like-wrap, .search-results #main-content .post .entry-media .post-comments-wrap + .post-like-wrap, .search-results #main-content article .entry-media .post-comments-wrap + .post-like-wrap {
    right: 25px;
    left: auto;
}
.post .more-button {
    float: right;
}
.entry-meta > *:last-child,
.entry-meta.dopinfo > *:last-child {
    padding-left: 0;
}
.entry-meta > *:last-child {
    padding-left: 0;
}
/*.entry-meta .entry-comments span {
    padding-left: 6px;
    padding-right: 0;
}
.entry-meta .entry-comments span,
.entry-meta.dopinfo .entry-comments span {
    padding-left: 6px;
    padding-right: 0;
}*/
.post .entry-meta.right,
.search-results #main-content .post .entry-meta.right,
.search-results #main-content article .entry-meta.right {
    float: left;
}
.post .entry-media .post-like-wrap span.count,
.search-results #main-content .post .entry-media .post-like-wrap span.count,
.search-results #main-content article .entry-media .post-like-wrap span.count {
    right: 25px;
    left: auto;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}
.single-folio.folio_inside_1 .folio-info .folio-info-field .folio-field-name {
    text-align: right;
}
.single-folio.folio_inside_1 .folio-info .folio-info-field {
    text-align: right;
}
.single-folio.folio_inside_1 .folio-client {
    float: right;
}
.dfd-meta-container .dfd-single-tags .post-tags ul .post-tags-item:last-child {
    margin-left: 0;
}
.audioplayer ,.audioplayer div{
    direction: ltr;
}

[dir="rtl"] .slick-next:before {
    content: " ";
}
[dir="rtl"] .slick-prev:before {
    content: " ";
}
#grid-folio.with-excerpt .entry-content, #portfolio-page .works-list.with-excerpt .entry-content {
    text-align: right;
}
.project.portfolio-hover-style-19 .entry-thumb .portfolio-entry-hover .title-wrap .widget-title {
    left: auto;
    right: 0;
    text-align: right !important;
}
.project.portfolio-hover-style-20 .entry-thumb .portfolio-entry-hover .title-wrap .widget-title, .project.portfolio-hover-style-20 .entry-thumb .portfolio-entry-hover .title-wrap .entry-tags {
    text-align: right !important;
}
.project.portfolio-hover-style-14 .entry-thumb .portfolio-entry-hover .title-wrap .widget-title,
.project.portfolio-hover-style-14 .entry-thumb .portfolio-entry-hover .title-wrap .entry-tags {
    text-align: right;
}
.project .entry-tags ul {
    text-align: right;
}
.project .entry-tags ul li {
    padding-left: 10px;
    padding-right: 0;
    margin-left: 5px;
    margin-right: 0;
}
.project .entry-tags ul li:before {
    left: 0;
    right: auto;
}
.slick-list .slick-slide {
    float: right;
}
.dfd-service-list.half-size-elements > *,
.dfd-equal-height-wrapper.half-size-elements > * {
    float: right;
}
.dfd-service-list.one-third-width-elements > *,
.dfd-equal-height-wrapper.one-third-width-elements > * {
    float: right;
}
.dfd-service-list.quarter-width-elements > *,
.dfd-equal-height-wrapper.quarter-width-elements > * {
    float: right;
}
.dfd-service-list.fifth-width-elements > *,
.dfd-equal-height-wrapper.fifth-width-elements > * {
    float: right;
}
.dfd-service-list.sixth-width-elements > *,
.dfd-equal-height-wrapper.sixth-width-elements > * {
    float: right;
}
.dfd-service-module-wrap .dfd-service-list.half-size-elements .dfd-service-item {
    border-left-width: 0;
    border-right-width: 1px;
}
.dfd-service-module-wrap .dfd-service-list.half-size-elements .dfd-service-item:nth-child(odd) {
    border-right-width: 0;
}
.dfd-service-module-wrap .dfd-service-list.one-third-width-elements .dfd-service-item {
    border-left-width: 0;
    border-right-width: 1px;
}
.dfd-service-module-wrap .dfd-service-list.one-third-width-elements .dfd-service-item:nth-child(3n+1) {
    border-right-width: 0;
}
.dfd-service-module-wrap .dfd-service-list.quarter-width-elements .dfd-service-item {
    border-right-width: 1px;
    border-left-width: 0;
}
.dfd-service-module-wrap .dfd-service-list.quarter-width-elements .dfd-service-item:nth-child(4n+1) {
    border-right-width: 0;
}
.dfd-service-module-wrap .dfd-service-list.fifth-width-elements .dfd-service-item {
    border-left-width: 0;
    border-right-width: 1px;
}
.dfd-service-module-wrap .dfd-service-list.fifth-width-elements .dfd-service-item:nth-child(5n+1) {
    border-right-width: 0;
}
.dfd-service-module-wrap .dfd-service-list.sixth-width-elements .dfd-service-item {
    border-left-width: 0;
    border-right-width: 1px;
}
.dfd-service-module-wrap .dfd-service-list.sixth-width-elements .dfd-service-item:nth-child(6n+1) {
    border-right-width: 0;
}
.entry-meta .entry-tags ul li {
    float: right;
}
.project .entry-tags ul li:last-child {
    padding-left: 0;
    margin-left: 0;
}
.aio-icon-box.right-icon {
    direction: ltr;
}
.aio-icon-box.left-icon {
    direction: ltr;
}
.right-icon .aio-ibd-block {
    direction: rtl;
}
.left-icon .aio-ibd-block,
.left-icon .aio-ibd-block *,
.left-icon .aio-icon-header h3.aio-icon-title,
.left-icon .aio-icon-description {
    text-align: left;
}
.dfd-share-module ul li {
    float: right;
}
.dfd-share-module.dfd-default ul li a,
.dfd-share-module.dfd-background-hover ul li a {
    border-right: 1px solid #e8e8e8;
    border-left: none;
}
.dfd-share-module.dfd-default ul li:last-child a,
.dfd-share-module.dfd-background-hover ul li:last-child a {
    border-left: 1px solid #e8e8e8;
}
.uavc-list-icon .uavc-list li .uavc-list-icon {
    float: right;
}
.single-folio.folio_inside_1 .portfolio-inside-thumbs-carousel .slick-list .slick-slide {
    float: right;
}
.ult_pricing_table_wrap.ult_design_1 .ult_pricing_table .top-part .inscription-hot {
    left: 0;
    right: auto;
}
.dfd-progress .progress .label-wrap label {
    float: right;
}
.dfd-progress .progress .label-wrap .skill-percent {
    float: left;
}
.dfd-testimonials .dfd-testimonial-item.top-image-position.text-right .feature-title,
.dfd-testimonials .dfd-testimonial-item.top-image-position.text-right .subtitle {
    margin-left: 10px;
    margin-right: 0;
}
.dfd-testimonials .dfd-testimonial-item.top-image-position.text-right .subtitle:before {
    right: 0;
    left: auto;
}
.dfd-testimonials .dfd-testimonial-item.top-image-position.text-right .subtitle {
    padding-right: 10px;
    padding-left: 0;
}
.dfd-testimonials .dfd-testimonial-item.top-image-position.text-left .subtitle:before {
    right: 0;
    left: auto;
}
.dfd-testimonials .dfd-testimonial-item.top-image-position.text-left .subtitle {
    padding-right: 10px;
    padding-left: 0;
}
ul li ul,
ul li ol {
    margin-right: 20px;
    margin-left: 0;
}
.nav-menu div.sub-nav li {
    padding-left: 20px;
    padding-right: 0;
}
.nav-menu div.sub-nav a {
    padding: 5px 20px 5px 60px;
}
.nav-menu div.sub-nav ul.sub-sub-menu {
    margin-right: 2px;
    margin-left: 0
}
.nav-menu div.sub-nav li.has-submenu > a.sub-menu-link:before {
    right: auto;
    left: 0;
}
#header-container #header .header-wrap > .row:last-child .header-main-panel .header-col-fluid {
    text-align: right;
}
#header-container.dfd-new-headers .lang-sel span.flag {
    margin-left: 8px;
    margin-right: 0;
}
.button.wc-backward:not(.ubtn),
button:not(.ubtn),
.button:not(.ubtn),
#wp-submit:not(.ubtn),
#commentform #submit:not(.ubtn) {
    padding-right: 80px;
    padding-left: 40px;
}
.single-folio.folio_inside_1 .folio-info.desc-top .folio-info-field .folio-inside-add-info .folio-client,
.single-folio.folio_inside_1 .folio-info.desc-top .folio-info-field .folio-inside-add-info .folio-inside-like,
.single-folio.folio_inside_1 .folio-info.desc-bottom .folio-info-field .folio-inside-add-info .folio-client,
.single-folio.folio_inside_1 .folio-info.desc-bottom .folio-info-field .folio-inside-add-info .folio-inside-like {
    text-align: right;
}
.sidr .form-search-container #searchsubmit,
.sidr .form-search-container .searchsubmit-icon {
    left: 0;
    right: auto;
}
.sidr ul li a .sidr-dropdown-toggler {
    left: 0;
    right: auto;
    border-right: 1px dotted rgba(255, 255, 255, 0.1);
    border-left: none;
}
.sidr ul li a > i {
    margin-left: 10px;
    margin-right: 0;
}
.dfd-blog-module.wide_posts.text-center .post .entry-media,
.dfd-blog-module.wide_posts.text-center .post .entry-content {
    right: 25%;
    left: auto;
}
.dfd-blog-module.wide_posts.text-center .post .entry-media {
    margin-right: -90px;
    margin-left: auto;
}
.dfd-blog-module.wide_posts.text-center .post .entry-content .more-button {
    float: none;
}
.dfd-blog-module.wide_posts .post .title-wrap {
    right: 0;
    left: auto;
}
.aio-icon-component .aio-icon-box {
    direction: ltr;
}
.aio-icon-component .aio-icon-box.heading-right-icon {
    direction: rtl;
}
.aio-icon-component .aio-icon-box .aio-icon-header {
    text-align: left;
}
.aio-icon-header h3.aio-icon-title,
.aio-icon-description,
.aio-icon-description * {
    text-align: left;
}

.top-icon .aio-icon,
.top-icon .aio-icon-img,
.top-icon .aio-icon-header,
.top-icon .aio-icon-description {
    text-align: center;
}
.aio-icon-component .aio-icon-box.top-icon .aio-icon-header {
    text-align: center;
}
.top-icon .aio-icon-header h3.aio-icon-title,
.top-icon .aio-icon-description,
.top-icon .aio-icon-description * {
    text-align: center;
}
.vc-row-wrapper.full_width_small_paddings .ult-carousel-wrapper.ult_horizontal .slick-slider .slick-prev,
.vc-row-wrapper.full_width_content_paddings .ult-carousel-wrapper.ult_horizontal .slick-slider .slick-prev,
.vc-row-wrapper.full_width_content .ult-carousel-wrapper.ult_horizontal .slick-slider .slick-prev {
    right: 10px;
    left: auto;
}
.vc-row-wrapper .dfd-side-by-side-slider .ult-carousel-wrapper.ult_horizontal .slick-slider .slick-prev {
    right: -30px;
    left: auto;
}
.vc-row-wrapper.full_width_small_paddings .ult-carousel-wrapper.ult_horizontal .slick-slider .slick-next,
.vc-row-wrapper.full_width_content_paddings .ult-carousel-wrapper.ult_horizontal .slick-slider .slick-next,
.vc-row-wrapper.full_width_content .ult-carousel-wrapper.ult_horizontal .slick-slider .slick-next {
    left: 10px;
    right: auto;
}
.vc-row-wrapper .dfd-side-by-side-slider .ult-carousel-wrapper.ult_horizontal .slick-slider .slick-next {
    left: -30px;
    right: auto;
}
.wpcf7 form .dfd-contact-from-style-2 p.dfd-border-right {
    border-right: 2px solid #e8e8e8;
    border-left: none;
}
.ubtn-left {
    float: left;
}
/*
a.pp_arrow_previous,
a.pp_arrow_next {
    text-indent: 10000px;
    direction: ltr;
}
.pp_nav .pp_play,
.pp_nav .pp_pause {
    text-indent: 10000px;
    direction: ltr;
}
a.pp_close {
    text-indent: 10000px;
    direction: ltr;
}
a.pp_previous {
    text-indent: 10000px;
    direction: ltr;
}
a.pp_next {
    text-indent: 10000px;
    direction: ltr;
}*/
.pp_nav {
    float: right;
    direction: ltr;
    margin: 3px 0 0 10px;}
.pp_content_container .pp_details {
    float: right;}
.pp_content_container {
    text-align: right;
}
div.pp_default .pp_content_container .pp_right {
    padding-right: 20px;
}
.dfd-subscribe-module .dfd-subscribe-module-form input[type="text"] {
    direction: ltr;
    text-align: left;
}
.row article.not-found404 .container form input[type="submit"] {
    left: 0;
    right: auto;
}
.row article.not-found404 .container form:before {
    left: -1px;
    right: auto;
}
.row article.not-found404 .container .arhives:before {
    left: -1px;
    right: auto;
}
.dfd-progress .progress .progress-bar {
    direction: ltr;
}
.wpcf7 form .dfd-contact-form-style-5 p .label {
    left: auto;
    right: 0;
}
.dfd-horizontal-scroll-wrap .scrollbar {
    direction: ltr;
}
.dfd-horizontal-scroll-wrap .dfd-horizontal-scroll-container {
    direction: ltr;
}
.dfd-horizontal-scroll-wrap .dfd-horizontal-scroll-container > ul {
    direction: rtl;
}
.smile_icon_list.left {
    text-align: left;
}
.one-page-scroll .slick-list .slick-slide {
    float: left;
}
/*.products .product .woo-cover .buttons-wrap {
    left: auto;
    right: 0;
}
.products .product .woo-cover .buttons-wrap * {
    float: right;
}*/
.products .product .woo-cover .buttons-wrap a .front {
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-left: none;
}
.products .product .woo-cover .buttons-wrap a .back {
    left: auto;
    right: 0;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-left: none;
}
.products .product .woo-cover .buttons-wrap a.add_to_cart_button .front,
.products .product .woo-cover .buttons-wrap a.add_to_cart_button .back {
    padding-left: 20px;
    padding-right: 0;
}
.products .column,
.products .columns {
    float: right;
}
body.single.single-product #main-content .column,
body.single.single-product #main-content .columns {
    float: right;
}
body.woocommerce-cart #main-content .cart-wrap .column,
body.woocommerce-cart #main-content .cart-wrap .columns {
    float: right;
}
body.single.single-product #main-content .vc-row-wrapper .column,
body.single.single-product #main-content .vc-row-wrapper .columns {
    float: left;
}
body.woocommerce-order-received .column, body.woocommerce-order-received .columns {
    float: right;
}

.dfd-single-product-module .buttons-wrap {
    left: auto;
    right: 0;
}
.dfd-single-product-module .buttons-wrap > div * {
    float: left;
}
.dfd-single-product-module.dfd-shop-new-styles .buttons-wrap > div * {
    float: right;
}
.dfd-single-product-module.dfd-shop-new-styles .buttons-wrap a {
    border-right: 1px solid rgba(255,255,255,0.2);
    border-left: none;
}
.dfd-single-product-module.dfd-shop-new-styles .buttons-wrap a:first-child {
    border-right: none;
}
.dfd-single-product-module.dfd-shop-new-styles .buttons-wrap a {
    border-right: 1px solid rgba(255,255,255,0.2);
    border-left: none;
}
.dfd-single-product-module.dfd-shop-new-styles .buttons-wrap a.add_to_cart_button {
    padding-left: 20px;
    padding-right: 0;
}
.dfd-single-product-module .buttons-wrap a.add_to_cart_button .front,
.dfd-single-product-module .buttons-wrap a.add_to_cart_button .back {
    padding-left: 20px;
    padding-right: 0;
}
.dfd-single-product-module .buttons-wrap a .front {
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-left: none;
}
.dfd-single-product-module .buttons-wrap a .back {
    left: auto;
    right: 0;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-left: none;
}
.dfd-single-product-module.dfd-style-2 .dfd-bottom-heading {
    left: auto;
    right: 0;
}
.dfd-single-product-module.dfd-style-2 .dfd-bottom-heading .box-name {
    float: right;
}
.dfd-single-product-module.dfd-style-2 .dfd-bottom-heading .dfd-price {
    float: right;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-left: none;
}
.dfd-single-product-module.dfd-style-2 .dfd-product-top .dfd-price {
    right: auto;
    left: 35px;
}
.yith-wcwl-message,
.onsale {
    right: auto;
    left: 5px;
}
.products .product .woo-cover .buttons-wrap a.added_to_cart {
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-left: none;
}
.products .product .woo-cover .buttons-wrap a.added_to_cart .front,
.products .product .woo-cover .buttons-wrap a.added_to_cart .back {
    padding-left: 20px;
    padding-right: 0;
}
.widget_shopping_cart .widget_shopping_cart_content ul.cart_list li .thumb .image-cover img,
.shopping-cart-box .widget_shopping_cart_content ul.cart_list li .thumb .image-cover img {
    right: 50%;
    left: auto;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
}
.widget_shopping_cart .widget_shopping_cart_content ul.cart_list li .thumb,
.shopping-cart-box .widget_shopping_cart_content ul.cart_list li .thumb {
    float: right;
}
.shopping-cart-box .widget_shopping_cart_content ul.cart_list li a.remove {
    right: 0;
    left: auto;
}
.widget_shopping_cart .widget_shopping_cart_content ul.cart_list li .mini-cart-content,
.shopping-cart-box .widget_shopping_cart_content ul.cart_list li .mini-cart-content {
    margin-right: 85px;
    margin-left: 0;
}
.widget_shopping_cart p.buttons a,
.shopping-cart-box p.buttons a {
    float: right;
    text-align: right;
    padding: 0 20px 0 0;
    line-height: 49px;
}
.widget_shopping_cart p.buttons a.wc-forward:before,
.shopping-cart-box p.buttons a.wc-forward:before {
    right: -5px;
    left: auto;
}
.widget_shopping_cart p.buttons a.wc-forward.checkout,
.shopping-cart-box p.buttons a.wc-forward.checkout {
    padding-right: 40px;
    padding-left: 0
}
.widget_shopping_cart p.buttons a.wc-forward.checkout:before,
.shopping-cart-box p.buttons a.wc-forward.checkout:before {
    right: 15px;
    left: auto;
}
.widget_shopping_cart p.buttons a.wc-forward.checkout:after,
.shopping-cart-box p.buttons a.wc-forward.checkout:after {
    right: -3px;
    left: auto;
}
.single-product .product_title.text-left {
    text-align: right;
}
.single-product .subtitle.text-left {
    text-align: right;
}
.single-product .dfd-price-rating-wrap > .price-wrap .price del {
    padding-left: 15px;
    padding-right: 0;
}
.single-product .dfd-price-rating-wrap > .price-wrap {
    padding-left: 20px;
    padding-right: 0;
}
.woocommerce .star-rating,
.woocommerce-page .star-rating {
    float: right;
}
.single-product .dfd-price-rating-wrap .woocommerce-product-rating .woocommerce-review-link {
    margin-right: 10px;
    margin-left: 0;
}
.quantity {
    float: right;
    margin-left: 15px;
    margin-right: 0;
}
.single-product .cart .single_add_to_cart_button {
    float: right;
    padding: 0 75px 0 25px;
}
.single-product .cart .single_add_to_cart_button:before {
    right: 0;
    left: auto;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-right: none;
}
.single-product .share-wrap .entry-share-no-popup a {
    float: right;
}
.single-product .share-wrap .entry-share-no-popup a:first-child {
    border-right: 2px solid #1b1b1b;
    border-left: none;
}
.single-product .share-wrap .entry-share-no-popup a:last-child {
    border-left: 2px solid #1b1b1b;
    border-right: none;
}
.single-product .product-meta > div > span {
    text-align: right;
}
.single-product .shop_attributes tbody tr th {
    text-align: left;
}
.single-product .shop_attributes tbody tr td {
    text-align: right;
}
.woocommerce-page #reviews #review_form #respond .form-submit {
    float: right;
}
.woocommerce-page #reviews #comments .comment_container .left {
    float: right;
}
.woocommerce-page #reviews #comments ol.commentlist li .comment-text .star-rating {
    margin-right: 25px;
    margin-left: 0;
}
.woocommerce-page #reviews #comments ol.commentlist li .comment-text .comment-description {
    text-align: right;
}
.single-product .dfd-price-rating-wrap .woocommerce-product-rating {
    text-align: left;
}
.single-product .dfd-woo-single-share-bottom .dfd-blog-share-popup-wrap {
    float: right;
}
.single-product .dfd-woo-single-share-bottom .dfd-blog-share-popup-wrap .dfd-share-icons {
    left: auto;
    right: 0;
}
.dfd-share-cover .dfd-blog-share-popup-wrap .dfd-share-icons ul > li {
    right: 160px;
    left: auto;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transition: text-shadow .3s ease, right .3s ease, -webkit-transform .3s ease;
    -moz-transition: text-shadow .3s ease, right .3s ease, -moz-transform .3s ease;
    -o-transition: text-shadow .3s ease, right .3s ease, -o-transform .3s ease;
    transition: text-shadow .3s ease, right .3s ease, -webkit-transform .3s ease, transform .3s ease;
}
.dfd-share-cover .dfd-blog-share-popup-wrap:hover .dfd-share-icons ul > li:nth-child(1),
.dfd-share-cover.dfd-share-simple .dfd-blog-share-popup-wrap .dfd-share-icons ul > li:nth-child(1) {
    right: 0;
    left: auto;
}

.dfd-share-cover .dfd-blog-share-popup-wrap:hover .dfd-share-icons ul > li:nth-child(2),
.dfd-share-cover.dfd-share-simple .dfd-blog-share-popup-wrap .dfd-share-icons ul > li:nth-child(2) {
    right: 40px;
    left: auto;
}

.dfd-share-cover .dfd-blog-share-popup-wrap:hover .dfd-share-icons ul > li:nth-child(3),
.dfd-share-cover.dfd-share-simple .dfd-blog-share-popup-wrap .dfd-share-icons ul > li:nth-child(3) {
    right: 80px;
    left: auto;
}

.dfd-share-cover .dfd-blog-share-popup-wrap:hover .dfd-share-icons ul > li:nth-child(4),
.dfd-share-cover.dfd-share-simple .dfd-blog-share-popup-wrap .dfd-share-icons ul > li:nth-child(4) {
    right: 120px;
    left: auto;
}

.dfd-share-cover .dfd-blog-share-popup-wrap:hover .dfd-share-icons ul > li:nth-child(5),
.dfd-share-cover.dfd-share-simple .dfd-blog-share-popup-wrap .dfd-share-icons ul > li:nth-child(5) {
    right: 160px;
    left: auto;
}
.vc_tta-container .vc_tta {
    direction: ltr;
}
.vc_tta-container .vc_tta-panels-container {
    direction: rtl;
}
.vc_tta-title-text {
    direction: rtl;
}
.dfd_tabs_block .dfd_tta_tour .vc_tta-tabs-container .vc_tta-tab a {
    padding-right: 50px;
    padding-left: 20px;
}
.dfd_tabs_block .dfd_tta_tour .vc_tta-tabs-container .vc_tta-tab a:before {
    left: 0 !important;
    right: 19px !important;
}
.dfd_tabs_block .dfd_tta_tour .vc_tta-tabs-container .vc_tta-tab a:after {
    right: 23px !important;
    left: 0 !important;
}
.vc_tta.vc_general .vc_tta-title-text:not(:empty):not(:first-child), .vc_tta.vc_general .vc_tta-title-text:not(:empty)~* {
    margin-right: 14px;
    margin-left: 0 !important;
}
.dfd_tabs_block .dfd_tta_tour .vc_tta-tabs-container .vc_tta-tab.vc_active a:before {
    left: 0 !important;
    right: 19px !important;
}
#layout .woo-page-title {
    float: right;
    padding-left: 10px;
    padding-right: 0;
    text-align: right;
}
.product-ordering {
    float: left;
    left: 10px;
    right: auto;
    padding-right: 10px;
    padding-left: 0;
}
.product-ordering .click-dropdown {
    float: left;
}
.dfd-blog-page-icon {
    right: auto;
    left: 0;
}
.widget_shopping_cart p.buttons a.wc-forward.checkout, .shopping-cart-box p.buttons a.wc-forward.checkout {
    border-right: 1px dotted #cdcdcd;
    border-left: none;
}
.widget.widget_dfd_widget_sidebar_menu ul li, .widget.widget_product_categories ul li, .widget.widget_pages ul li, .widget.widget_nav_menu ul li, .widget.widget_layered_nav ul li, .widget.widget_meta ul li {
    padding: 10px 25px 10px 0;
}
.widget.widget_dfd_widget_sidebar_menu ul li:hover, .widget.widget_product_categories ul li:hover, .widget.widget_pages ul li:hover, .widget.widget_nav_menu ul li:hover, .widget.widget_layered_nav ul li:hover, .widget.widget_meta ul li:hover {
    padding-right: 30px;
    padding-left: 0;
}
.widget.widget_dfd_widget_sidebar_menu ul li:before, .widget.widget_product_categories ul li:before, .widget.widget_pages ul li:before, .widget.widget_nav_menu ul li:before, .widget.widget_layered_nav ul li:before, .widget.widget_meta ul li:before {
    left: auto;
    right: 0;
}
.widget.widget_dfd_widget_sidebar_menu ul li .count, .widget.widget_product_categories ul li .count, .widget.widget_pages ul li .count, .widget.widget_nav_menu ul li .count, .widget.widget_layered_nav ul li .count, .widget.widget_meta ul li .count {
    display: inline-block;
}
.shopping-cart-box .widget_shopping_cart_content p.buttons a.checkout {
    border-right-color: rgba(255,255,255,0.2);
}
.widget_best_sellers ul li .product_thumbnail,
.widget_top_rated_products ul li .product_thumbnail,
.widget_recently_viewed_products ul li .product_thumbnail,
.widget_products ul li .product_thumbnail {
    float: right;
    padding-left: 15px;
    padding-right: 0;
}
.widget_best_sellers ul li .product_summary,
.widget_top_rated_products ul li .product_summary,
.widget_recently_viewed_products ul li .product_summary,
.widget_products ul li .product_summary {
    margin-right: 85px;
    margin-left: 0;
}
.woocommerce-page .widget_price_filter .price_slider_amount input[type="text"]:first-child {
    margin-left: 4%;
    margin-right: 0;
}
.woocommerce-page .widget_price_filter .price_slider_amount input[type="text"] {
    float: right;
}
.woocommerce-page .widget_price_filter .price_slider_amount:before {
    right: 4%;
    left: auto;
}
.woocommerce-page .widget_price_filter .price_slider_amount:after {
    right: 55%;
    left: auto;
}
.woocommerce-page .widget_price_filter .price_slider_amount .button:before {
    right: 24%;
    left: auto;
}
.woocommerce-page .widget_price_filter .price_slider_amount .button:after {
    right: 67%;
    left: auto;
}
.variation dt, .variation dd {
    float: right;
}
.variation dt {
    clear: right;
    padding-left: 5px;
    padding-right: 0;
}
body.woocommerce-checkout #main-content > .woocommerce .dfd-coupon-wrap .checkout_coupon .form-row-last {
    left: 35px;
    right: auto;
}
.row article.not-found404 .container form input[type="text"] {
    padding-right: 20px;
    padding-left: 0;
}
.row article.not-found404 .container .arhives select {
    padding-right: 20px;
    padding-left: 0;
}
.products .product .woo-cover .buttons-wrap.dfd-buttons-light a {
    margin-left: 7px;
    margin-right: 0;
}
.products .product .woo-cover .buttons-wrap.dfd-buttons-light a:last-child {
    margin-left: 0;
}
.woocommerce-thankyou-order-received a, .woocommerce-thankyou-order-received .button, .woocommerce-thankyou-order-received .button.wc-backward, .woocommerce-message a, .woocommerce-message .button, .woocommerce-message .button.wc-backward, .woocommerce-error a,
.woocommerce-error .button, .woocommerce-error .button.wc-backward, .woocommerce-info a, .woocommerce-info .button, .woocommerce-info .button.wc-backward {
	padding:0;
}
.woocommerce-thankyou-order-received .button, .woocommerce-thankyou-order-received .button.wc-backward, .woocommerce-message .button, .woocommerce-message .button.wc-backward, .woocommerce-error .button, .woocommerce-error .button.wc-backward, .woocommerce-info .button, .woocommerce-info .button.wc-backward {
    float: left;
}
.woocommerce-thankyou-order-received, .woocommerce-message, .woocommerce-error, .woocommerce-info {
    padding: 10px 80px 10px 20px;
}
.woocommerce-thankyou-order-received:before, .woocommerce-message:before, .woocommerce-error:before, .woocommerce-info:before {
    right: 15px;
    left: auto;
}
.woocommerce-order-received #main-content .woocommerce .shop_table.customer_details tbody th, .woocommerce-order-received #main-content .woocommerce .shop_table.customer_details tbody td {
    text-align: right;
}
.single-product .product-meta > div > span.tagged_as > a {
    float: right;
    margin-right: 0;
    margin-left: 2px;
}
.woocommerce-message,
.woocommerce-error,
.woocommerce-info {
    padding: 10px 80px 10px 20px;
}
.woocommerce-message:before,
.woocommerce-error:before,
.woocommerce-info:before {
    right: 20px;
    left: auto;
}
.single-product .single-product-wishlist-wrap {
    float: right;
}
body.woocommerce-checkout #main-content > .woocommerce .checkout.woocommerce-checkout #customer_details {
    float: right;
}
body.woocommerce-checkout #main-content > .woocommerce .checkout.woocommerce-checkout #order_review_heading, body.woocommerce-checkout #main-content > .woocommerce .checkout.woocommerce-checkout #order_review {
    float: left;
}
.single-product .single-product-wishlist-wrap .product-in-wishlist,
.single-product .single-product-wishlist-wrap .add_to_wishlist {
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-left: none;
}
table thead tr th,
table tfoot tr th,
table tbody tr td,
table tr td,
table tfoot tr td {
    text-align: right;
}
#yith-wcwl-form .shop_table tbody tr td {
    text-align: right;
}
.single-product .cart .added_to_cart {
    float: right;
}
.woocommerce-page #reviews #comments .dfd-wrapper > div.box-name:before {
    left: -10px;
    right: 0;
}
.woocommerce-page #reviews #review_form #respond > h3:before {
    left: 0;
    right: -35px;
}
.woocommerce-page #reviews #review_form #respond > h3:after {
    right: -25px;
    left: auto;
    border-right: 1px dotted #cdcdcd;
    border-left: none;
}
.woocommerce-page #reviews #comments ol.commentlist li {
    padding: 0 44px 0 0;
}
.widget_shopping_cart p.total,
.shopping-cart-box p.total {
    text-align: right;
}
.cart-wrap .shop_table tbody tr .product-remove a {
    float: right;
}
.cart-wrap .cart_totals table tbody tr th {
    text-align: right;
}
.cart-wrap .checkout-button {
    padding: 0 47px 0 0;
}
.cart-wrap .button-gray {
    float: right;
    padding: 0;
}
.cart-wrap .coupon .dfd-coupon-wrap > span {
    left: 35px;
    right: auto;
}
.cart-wrap .coupon .dfd-submit-wrap {
    float: right;
}
.woocommerce-page.woocommerce-checkout .dfd-coupon-wrap .woocommerce-info {
    padding-right: 20px;
    padding-left: 20px;
}
.woocommerce-page .checkout .checkout-details-cover #payment ul.payment_methods label.box-name {
    padding-right: 10px;
}
.woocommerce-page .checkout .checkout-details-cover #payment .place-order input {
    text-align: center;
}
input[type="checkbox"] {
    float: right;
    margin-left: 15px;
    margin-right: 10px;
}
.woocommerce .addresses .title h3,
.woocommerce-page .addresses .title h3 {
    float: right;
}
.woocommerce .my_account_orders .order .order-status {
    text-align: right !important;
}
.woocommerce .my_account_orders .order .order-actions .button:not(.ubtn) {
    padding-right: 40px;
    padding-left: 40px;
}
.tabs.horisontal dd,
.tabs.horisontal li {
    float: right;
}
.widget_crum_widget_tabs article.mini-news .box-name,
.widget_crum_widget_tabs article.mini-news .entry-meta,
.widget_crum_widget_tabs article.mini-news .entry-date,
.widget_crum_cat_tabs article.mini-news .box-name,
.widget_crum_cat_tabs article.mini-news .entry-meta,
.widget_crum_cat_tabs article.mini-news .entry-date {
    margin-right: 70px;
    margin-left: 0
}
.widget_categories .widget-archive li .icon-wrap,
.widget_categories .post-categories li .icon-wrap,
.widget_categories li .icon-wrap,
.widget_archive .widget-archive li .icon-wrap,
.widget_archive .post-categories li .icon-wrap,
.widget_archive li .icon-wrap,
.widget_crum_cat_arch .widget-archive li .icon-wrap,
.widget_crum_cat_arch .post-categories li .icon-wrap,
.widget_crum_cat_arch li .icon-wrap {
    float: right;
}
.widget .post-categories .icon-wrap .dfd-icon-right_2:before {
    content: "\ec2c";
}
.widget_categories .widget-archive li a,
.widget_categories .post-categories li a,
.widget_categories li a,
.widget_archive .widget-archive li a,
.widget_archive .post-categories li a,
.widget_archive li a,
.widget_crum_cat_arch .widget-archive li a,
.widget_crum_cat_arch .post-categories li a,
.widget_crum_cat_arch li a {
    margin-right: 40px;
    margin-left: 0;
}
.widget_crum_contacts_widget .widget-title {
    text-align: right;
}
.widget_crum_contacts_widget {
    text-align: right;
}
.widget .text-left {
    text-align: right;
}
.widget.widget_crum_login form p.login-remember label input[type="checkbox"] {
    margin-left: 5px;
    margin-right: 0;
}
input[type="checkbox"]::after {
    margin-right: -9px;
    margin-left: auto;
    right: 50%;
    left: auto;
}
input[type="checkbox"]::before {
    margin-right: -9px;
    margin-left: auto;
    right: 50%;
    left: auto;
}
.widget_dfd_vcard_simple .vcard-field p {
    margin-right: 30px;
    margin-left: 0;
}
.widget_crum_tags_widget,
.widget_product_tag_cloud,
.widget_tag_cloud {
    text-align: right;
}
.widget_crum_tags_widget .tags-widget a,
.widget_crum_tags_widget .tagcloud a,
.widget_product_tag_cloud .tags-widget a,
.widget_product_tag_cloud .tagcloud a,
.widget_tag_cloud .tags-widget a,
.widget_tag_cloud .tagcloud a {
    float: right;
    margin-left: 4px;
    margin-right: 0;
}
.widget_shopping_cart .widget_shopping_cart_content .buttons .checkout.wc-forward:after {
    right: -12px;
    left: auto;
}
.single-product .cart table.variations tr td.value.odd {
    padding-left: 5px;
    padding-right: 0;
}
.single-product .cart table.variations tr td.value.even {
    padding-right: 5px;
    padding-left: 0
}
.dfd-single-product-module .dfd-star-ratings .star-rating {
    margin-left: 10px;
    margin-right: 0;
}
.nav-menu div.sub-nav a i {
    padding-left: 20px;
    padding-right: 0;
}
.dfd-progressbar .meter{
	right:0;
	left:auto;
}
.dfd-progressbar .progressbar-number {
    text-align: left;
	}
.dfd-service-item.style-01 .module-icon {
    margin: 0 0 0 30px;
}
.widget.widget_categories li, .widget.widget_archive li, .widget.widget_crum_cat_arch li{
	padding-right: 25px;
	padding-left: 25px;
}
.widget.widget_categories li .icon-wrap i.dfd-uncategoriesed:before, .widget.widget_categories li:before, .widget.widget_archive li .icon-wrap i.dfd-uncategoriesed:before, .widget.widget_archive li:before, .widget.widget_crum_cat_arch li .icon-wrap i.dfd-uncategoriesed:before, .widget.widget_crum_cat_arch li:before{
	right: 0;
	left:auto;
}
.widget_dfd_recent_posts .recent-posts-list .post-list-item .entry-thumb, .widget_crum_widget_tabs .recent-posts-list .post-list-item .entry-thumb, .widget_crum_cat_tabs .recent-posts-list .post-list-item .entry-thumb{
	float:right;
}
.widget_dfd_recent_posts .recent-posts-list .post-list-item .entry-content-wrap, .widget_crum_widget_tabs .recent-posts-list .post-list-item .entry-content-wrap, .widget_crum_cat_tabs .recent-posts-list .post-list-item .entry-content-wrap {
    margin-right: 80px;
    margin-left: 0;
}
.widget_dfd_recent_posts .recent-posts-list .post-list-item .entry-thumb .post-comments-wrap, .widget_crum_widget_tabs .recent-posts-list .post-list-item .entry-thumb .post-comments-wrap, .widget_crum_cat_tabs .recent-posts-list .post-list-item .entry-thumb .post-comments-wrap{
	left: -12.5px;
    right: auto;}
.widget_dfd_recent_posts .recent-posts-list .post-list-item .entry-thumb .post-comments-wrap:after, .widget_crum_widget_tabs .recent-posts-list .post-list-item .entry-thumb .post-comments-wrap:after, .widget_crum_cat_tabs .recent-posts-list .post-list-item .entry-thumb .post-comments-wrap:after{
	left:0;
	right:auto;
    border-top: 3px solid #b38653;
    border-left: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-right: 3px solid #b38653;
}
.widget_dfd_recent_posts .recent-posts-list.comments-enabled .post-list-item .entry-content-wrap div.box-name, .widget_dfd_recent_posts .recent-posts-list.comments-enabled .post-list-item .entry-content-wrap div.entry-meta,
.widget_crum_widget_tabs .recent-posts-list.comments-enabled .post-list-item .entry-content-wrap div.box-name, .widget_crum_widget_tabs .recent-posts-list.comments-enabled .post-list-item .entry-content-wrap div.entry-meta,
.widget_crum_cat_tabs .recent-posts-list.comments-enabled .post-list-item .entry-content-wrap div.box-name, .widget_crum_cat_tabs .recent-posts-list.comments-enabled .post-list-item .entry-content-wrap div.entry-meta {
    padding-right: 35px;
    padding-left: 0;
}
.widget.widget_dfd_recent_comments .widget-recentcomments .recentcomments p.comment-text:before {
    border-left: 12px solid transparent;
    border-right: none;
    right: 5px;
    left: auto;
}
.widget.widget_dfd_recent_comments .widget-recentcomments .recentcomments p.comment-text:after {
    border-left: 10px solid transparent;
    border-right: none;
    right: 6px;
    left: auto;
}
.dfd-heading-module-wrap .dfd-heading-module {
    float: right;
}
.dfd-icon-list-wrap .dfd-list-icon-block {
    margin-left: 15px;
    margin-right: 0;}
.widget.widget_categories, .widget.widget_archive, .widget.widget_crum_cat_arch {
    text-align: right;}
div.page-title-inner.page-title-inner-bgcheck .entry-meta .entry-comments:before, div.page-title-inner.page-title-inner-bgcheck .entry-meta .entry-views:before{
	right:0;
	left:auto;
}
div.page-title-inner.page-title-inner-bgcheck .entry-meta .entry-comments, div.page-title-inner.page-title-inner-bgcheck .entry-meta .entry-views {
    margin-right: 10px;
    margin-left: 0;
    padding-left: 0;
    padding-right: 20px;
}
#layout.single-post .dfd-single-style-advanced .post .dfd-single-post-heading .dfd-news-categories .byline.category a{
	float:right;
}
#layout.single-post .dfd-single-style-advanced .dfd-meta-container .dfd-commentss-tags .dfd-single-tags .post-tags ul li,
#layout.folio_inside_2 .project .dfd-meta-container .dfd-commentss-tags .dfd-single-tags .post-tags ul li, #layout.dfd-single-gallery .dfd-meta-container .dfd-commentss-tags .dfd-single-tags .post-tags ul li {
    float: right;
    margin-right: 0;
    margin-left: 4px;}
.dfd-meta-container .post-like-wrap .social-share i, .dfd-meta-container .post-like-wrap .social-share span {
    float: right;
}
.dfd-meta-container .post-like-wrap .social-share i {
    margin-left: 5px;
    margin-right: 0;
}
.dfd-meta-container .post-like-wrap .social-share .like-hover-title{
	margin-right: 0;
	margin-left: auto;
	-webkit-transition: max-width .3s ease, margin-right .3s ease;
    -moz-transition: max-width .3s ease, margin-right .3s ease;
    transition: max-width .3s ease, margin-right .3s ease;
}
.dfd-meta-container .post-like-wrap:hover .like-hover-title {
    margin-right: 10px;
    margin-left: 0;
}

.dfd-share-cover .dfd-blog-share-popup-wrap {
    float: left;
}
.dfd-share-cover .dfd-blog-share-popup-wrap .dfd-share-icons {
    left: 0;
    right: auto;
	}
.dfd-share-cover .dfd-blog-share-popup-wrap .dfd-share-icons > a {
    right: 160px;
	left:auto;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transition: text-shadow .3s ease, right .3s ease, -webkit-transform .3s ease;
    -moz-transition: text-shadow .3s ease, right .3s ease, -moz-transform .3s ease;
    -o-transition: text-shadow .3s ease, right .3s ease, -o-transform .3s ease;
    transition: text-shadow .3s ease, right .3s ease, -webkit-transform .3s ease, transform .3s ease;
}

.dfd-share-cover .dfd-blog-share-popup-wrap:hover .dfd-share-icons > a:nth-child(1),.dfd-share-cover.dfd-share-simple .dfd-blog-share-popup-wrap .dfd-share-icons > a:nth-child(1){
	right:0;
}
.dfd-share-cover .dfd-blog-share-popup-wrap:hover .dfd-share-icons > a:nth-child(2),.dfd-share-cover.dfd-share-simple .dfd-blog-share-popup-wrap .dfd-share-icons > a:nth-child(2){
	right:40px;
}
.dfd-share-cover .dfd-blog-share-popup-wrap:hover .dfd-share-icons > a:nth-child(3),.dfd-share-cover.dfd-share-simple .dfd-blog-share-popup-wrap .dfd-share-icons > a:nth-child(3){
	right:80px;
}
.dfd-share-cover .dfd-blog-share-popup-wrap:hover .dfd-share-icons > a:nth-child(4),.dfd-share-cover.dfd-share-simple .dfd-blog-share-popup-wrap .dfd-share-icons > a:nth-child(4){
	right:120px;
}
.dfd-share-cover .dfd-blog-share-popup-wrap:hover .dfd-share-icons > a:nth-child(5),.dfd-share-cover.dfd-share-simple .dfd-blog-share-popup-wrap .dfd-share-icons > a:nth-child(5){
	right:160px;
}
#layout.single-post .dfd-single-style-advanced .dfd-meta-container .dfd-commentss-tags .dfd-single-tags .post-tags, #layout.folio_inside_2 .project .dfd-meta-container .dfd-commentss-tags .dfd-single-tags .post-tags, #layout.dfd-single-gallery .dfd-meta-container .dfd-commentss-tags .dfd-single-tags .post-tags {
    float: left;}
#layout.single-post .dfd-single-style-advanced .dfd-meta-container .dfd-commentss-tags .dfd-single-tags, #layout.folio_inside_2 .project .dfd-meta-container .dfd-commentss-tags .dfd-single-tags, #layout.dfd-single-gallery .dfd-meta-container .dfd-commentss-tags .dfd-single-tags {
    margin-right: 140px;
    padding-right: 20px;
    padding-left: 0;
    margin-left: 0;
}
#layout.single-post .dfd-single-style-advanced .dfd-meta-container .dfd-commentss-tags .post-comments-wrap, #layout.folio_inside_2 .project .dfd-meta-container .dfd-commentss-tags .post-comments-wrap, #layout.dfd-single-gallery .dfd-meta-container .dfd-commentss-tags .post-comments-wrap{
	float:right;
}
#layout.single-post .dfd-single-style-advanced .dfd-meta-container .dfd-commentss-tags .post-comments-wrap span.box-name, #layout.folio_inside_2 .project .dfd-meta-container .dfd-commentss-tags .post-comments-wrap span.box-name,
#layout.dfd-single-gallery .dfd-meta-container .dfd-commentss-tags .post-comments-wrap span.box-name {
    float: right;
    margin-right: 10px;
    margin-left: 0;
	}
#layout.single-post .dfd-single-style-advanced .dfd-meta-container .dfd-commentss-tags .post-comments-wrap .entry-comments a, #layout.folio_inside_2 .project .dfd-meta-container .dfd-commentss-tags .post-comments-wrap .entry-comments a,
#layout.dfd-single-gallery .dfd-meta-container .dfd-commentss-tags .post-comments-wrap .entry-comments a{
	float:right;
}
#layout.single-post .dfd-single-style-advanced .dfd-meta-container .dfd-commentss-tags .post-comments-wrap .entry-comments a:before, #layout.folio_inside_2 .project .dfd-meta-container .dfd-commentss-tags .post-comments-wrap .entry-comments a:before,
#layout.dfd-single-gallery .dfd-meta-container .dfd-commentss-tags .post-comments-wrap .entry-comments a:before {
    left: 0;
	right: auto;
    border-top: 3px solid #b38653;
    border-left: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-right: 3px solid #b38653;
}
#layout.single-post .dfd-single-style-advanced .about-author .author-photo {
    float: right;
    margin-right: 15px;
    margin-left: 0;}
#layout.single-post .dfd-single-style-advanced .about-author .author-content {
    margin-right: 95px;
    margin-left: 0;
}
#layout.single-post .dfd-single-style-advanced .about-author .author-content .author-top-inner {
    padding-left: 0;
    padding-right: 20px;}
#layout.single-post .dfd-single-style-advanced .about-author .author-content .author-top-inner div.box-name {
    float: right;
	}
#layout.single-post .dfd-single-style-advanced .about-author .author-content .author-top-inner .widget.soc-icons {
    float: left;
}
#layout.single-post .dfd-single-style-advanced .about-author .author-content .author-description {
    padding-right: 20px;
    padding-left: 0;
	}


.slick-track .text-left {
    text-align: right;
}
#layout.single-post .dfd-single-style-advanced .about-author .author-content .author-top-inner .widget.soc-icons a {
    float: right;
    border-right: 1px solid #d6d6d6;
    border-left: none;}
.block-under-single-post .dfd-heading-shortcode .text-left {
    text-align: right;
}
#layout.single-post #comments .commentlist, #layout.single-folio.folio_inside_2 #comments .commentlist {
    padding-right: 44px;
    padding-left: 0;
}
#layout.single-post #comments .commentlist .comment >.clearfix .avatar-box, #layout.single-folio.folio_inside_2 #comments .commentlist .comment >.clearfix .avatar-box {
    margin-right: -44px;
    margin-left: 0;}
#layout.single-post #comments .commentlist .comment >.clearfix header.comment-author, #layout.single-folio.folio_inside_2 #comments .commentlist .comment >.clearfix header.comment-author {
    margin-left: 0;
    padding-left: 0;
    padding-right: 30px;
    margin-right: 40px;}
#layout.single-post #comments .commentlist .comment >.clearfix .ovh, #layout.single-folio.folio_inside_2 #comments .commentlist .comment >.clearfix .ovh {
    margin-right: 40px;
    margin-left: 0;
}
#comments .commentlist li .reply {
    float: left;}
#layout.single-post #comments .commentlist .comment >.clearfix header.comment-author .reply .dop-link, #layout.single-folio.folio_inside_2 #comments .commentlist .comment >.clearfix header.comment-author .reply .dop-link {
    float: right;
    padding-left: 0;
    padding-right: 50px;
}
#layout.single-post #comments .commentlist .comment >.clearfix header.comment-author .reply .dop-link:before, #layout.single-folio.folio_inside_2 #comments .commentlist .comment >.clearfix header.comment-author .reply .dop-link:before {
    right: 20px;
    left: auto;}
#layout.single-post #comments .commentlist .comment >.clearfix header.comment-author .reply .comment-reply-link, #layout.single-folio.folio_inside_2 #comments .commentlist .comment >.clearfix header.comment-author .reply .comment-reply-link {
    float: right;
    padding-left: 25px;
    padding-right: 40px;}
#layout.single-post #comments .commentlist .comment >.clearfix header.comment-author .reply .comment-reply-link:before, #layout.single-folio.folio_inside_2 #comments .commentlist .comment >.clearfix header.comment-author .reply .comment-reply-link:before {
	right:20px;
    left: auto;}
.dfd-new-subscribe-module .dfd-subscribe-module-form .cell-submit {
    right: auto;
    left: 0;}
.widget_counter_mail_subscribe .follow-widget .follow-widget-item .icon-wrap {
    float: right;}
.widget_counter_mail_subscribe .follow-widget .follow-widget-item .icon-wrap i {
    margin-left: 15px;
    margin-right: 0;
}
.widget_counter_mail_subscribe .follow-widget .follow-widget-item a{
    float: right;}
.widget_counter_mail_subscribe .follow-widget .follow-widget-item a:before {
    left: 100%;
    right: -20px;
	-webkit-transition: left .3s ease;
    -moz-transition: left .3s ease;
    transition: left .3s ease;
	}
.widget_counter_mail_subscribe .follow-widget .follow-widget-item:hover a:before {
    left: 10px;
	right:-20px;
}
.dfd-dropcap{
	float:right;
    margin-left: 20px;
    margin-right: 0;
}
.dfd_tabs_block .dfd_tta_tabs .vc_tta-tabs-container .vc_tta-tabs-list li.vc_tta-tab a .vc_tta-title-text:not(:empty):not(:first-child), .dfd_tabs_block .dfd_tta_tabs .vc_tta-tabs-container .vc_tta-tabs-list li.vc_tta-tab a .vc_tta-title-text:not(:empty)~* {
    margin-right: 8px;
    margin-left: 0;
}
.single-folio.folio_inside_2 .folio-info.desc-left > .row .folio-info-field blockquote, .single-folio.folio_inside_2 .folio-info.desc-right > .row .folio-info-field blockquote {
    margin-left: -15px;
}
.single-folio.big_images_list #my-work-slider > .slides li, .single-folio.middle_image_list #my-work-slider > .slides li, .single-folio.small_images_list #my-work-slider > .slides li, .single-folio.advanced_gallery #my-work-slider > .slides li {
    float: right !important;
}
.dfd-controls-top .page-inner-nav .pagination-title {
    text-align: left;
}
.dfd-controls-top .page-inner-nav .dfd-controler .thumb {
    right: 0;
    left: auto;
}
div.pp_default .pp_social {
    margin-left: 10px;
    margin-right: auto;
}
.pp_social {
    float: left;
}
.single-folio .folio-info .folio-info-field .folio-field-name{
	text-align: right;
}
.single-folio .folio-info .folio-info-field{
	text-align: right;
}
.single-folio .folio-client {
    float: right;}
.single-folio.folio_inside_2 .folio-inside-add-info .folio-client:before{
	right:0;
	left:auto;
}
.single-folio.folio_inside_2 .folio-inside-add-info .folio-client {
    padding-right: 30px;
    padding-left: 0;
    margin-right: 10px;
    margin-left: 0;
}
.single-folio.folio_inside_2 .project {
    text-align: right;
}
.single-folio.folio_inside_2 #comments, .single-folio.folio_inside_2 #respond {
    text-align: right;
}
.single-folio.folio_inside_2 .folio-info.desc-top .dfd-folio-add-fields-wrap .four.columns:before, .single-folio.folio_inside_2 .folio-info.desc-bottom .dfd-folio-add-fields-wrap .four.columns:before{
	left:0;
}
.dfd-facts-counter.layout-5 .module-icon {
    margin-left: 20px;
    margin-right: 0;
}
.dfd-contact-block-container .fild-content i {
    left: auto;
    right: 0;
}
.dfd-contact-block-container.style-3 .fild-content .delimiter, .dfd-contact-block-container.style-4 .fild-content .delimiter {
    right: 60px;
    left: auto;
}
.dfd-contact-block-container .fild-content {
    padding-right: 60px;
    padding-left: 0;
}
.dfd-contact-block-container {
    padding-left: 20px;
    padding-right: 0;
}
.dfd-contact-block-container.style-2 {
    margin-right: 20px;
    margin-left: 0;
}
.dfd-contact-block-container.style-2 .dfd-contact-block-module {
    margin-right: -20px;
    margin-left: 0;
}
.dfd-gmap-module .dfd-gmap-tooltip-wrap .cover .dfd-gmap-tooltip ul.dfd-gmap-infobox li:before {
    right: 0;
    left: auto;
}
.dfd-announce-module-wrap .dfd-announce-module {
    text-align: right;
}
.dfd-new-soc-icon a {
    margin-left: 3px;
    margin-right: 0;
    float: right;
}
.dfd-new-soc-icon.text-left{
	text-align:right;
}
#dfd-blog-loop .text-left {
    text-align: right;
}
.blog-top-block .title {
    float: right;
    padding-left: 10px;
    padding-right: 0;}
.click-dropdown {
    float: right;}
.click-dropdown > a {
    padding: 0 15px 0 80px;}
.click-dropdown > a:before {
    left: 15px;
    right: auto;}
.click-dropdown > div ul {
    margin-left: -26px;
    margin-right: auto;}
.dfd-read-share .read-more-wrap {
    float: right;}


.dfd-read-share .read-more-wrap a.simple {
    padding-right: 0;
	border-left:none;
    border-right: 0px solid transparent;
    -webkit-transition: padding-right .3s ease, border-right-width .3s ease, border-right-color .3s ease;
    -moz-transition: padding-right .3s ease, border-right-width .3s ease, border-right-color .3s ease;
    transition: padding-right .3s ease, border-right-width .3s ease, border-right-color .3s ease;
}
.dfd-read-share .read-more-wrap a.simple:hover {
    padding-right: 15px;
	padding-left:0;
	border-left:none;
    border-right-width: 3px;
    border-right-color: #c39f76;
}
.click-dropdown > div ul.category-filer .icon-wrap {
    float: right;
}
.dfd_tabs_block .dfd_tta_tabs.classic_empty .vc_tta-tabs-container .vc_tta-tabs-list li.vc_tta-tab a:before {
    left: 100%;
    margin-right: auto;
    right: auto;
    margin-left: -16px;
}

.dfd-team-member.layout-02 .image-wrap {
    float: right;
    margin-left: 20px;
    margin-right: 0;
}	
.dfd-team-member.layout-02 .content-wrap {
    text-align: right;
}
.dfd-contact-block-horizontal .block-icon{
float: right;
}	
.dfd-contact-block-horizontal .block-content {
    margin-right: 80px;
    margin-left: 0;
}	
.dfd-contact-block-horizontal p, .dfd-contact-block-horizontal .fild-name {
    padding-right: 20px;
    padding-left: 0;
}	
.widget_dfd_recent_posts .recent-posts-list .post-list-item .entry-content-wrap div.box-name, .widget_crum_widget_tabs .recent-posts-list .post-list-item .entry-content-wrap div.box-name, .widget_crum_cat_tabs .recent-posts-list .post-list-item .entry-content-wrap div.box-name {
    padding-right: 20px;
    padding-left: 0;
}
.dfd-blog-posts-module.dfd-blog-loop.simple .post .cover .entry-thumb, #layout.single-post .dfd-single-style-advanced .dfd-blog-posts-module.dfd-blog-loop.simple .post .cover .entry-thumb {
    float: right;}
.dfd-blog-posts-module.dfd-blog-loop.simple .post .cover .content-wrap, #layout.single-post .dfd-single-style-advanced .dfd-blog-posts-module.dfd-blog-loop.simple .post .cover .content-wrap {
    margin-right: 130px;
    margin-left: 0;
}
.filter li {
    float: right;}
.filter li a:before {
    right: auto;
    left: 100%;
    margin-right: auto;
    margin-left: -20px;}
.dfd-blog-posts-module.dfd-blog-loop.featured .dfd-additional-post .entry-thumb, .dfd-blog-posts-module.dfd-blog-loop.recent .dfd-additional-post .entry-thumb, #layout.single-post .dfd-single-style-advanced .dfd-blog-posts-module.dfd-blog-loop.featured .dfd-additional-post .entry-thumb,
#layout.single-post .dfd-single-style-advanced .dfd-blog-posts-module.dfd-blog-loop.recent .dfd-additional-post .entry-thumb {
    float: right;}
.dfd-blog-posts-module.dfd-blog-loop.featured .dfd-additional-post .dfd-blog-add-heading-wrap, .dfd-blog-posts-module.dfd-blog-loop.recent .dfd-additional-post .dfd-blog-add-heading-wrap,
#layout.single-post .dfd-single-style-advanced .dfd-blog-posts-module.dfd-blog-loop.featured .dfd-additional-post .dfd-blog-add-heading-wrap, #layout.single-post .dfd-single-style-advanced .dfd-blog-posts-module.dfd-blog-loop.recent .dfd-additional-post .dfd-blog-add-heading-wrap {
    margin-right: 100px;
    padding-right: 25px;
    margin-left: 0;
    padding-left: 0;
}
.vc_tta.vc_general .vc_tta-panel-title {
    direction: ltr;
}
.vc_tta-title-text {
    direction: rtl;
}
.dfd-pricing-block .option-icon {
    margin-left: 15px;
    margin-right: 0;
}
.dfd-portfolio-module.simple .project .cover .entry-thumb {
    float: right;}
.dfd-portfolio-module.simple .project .cover .content-wrap {
    margin-right: 130px;
    margin-left: 0;
}
.project .dfd-folio-categories .byline.category a, .dfd-single-gallery .dfd-folio-categories .byline.category a, .dfd-gallery-single-item .dfd-folio-categories .byline.category a, .product .woo-title-wrap .dfd-folio-categories .byline.category a{
float:right;
}
.dfd-portfolio-module.simple .project {
    text-align: right;}
.dfd-info-banner.style-05 .image-cover {
    float: right;
    margin-left: 25px;
    margin-right: 0;
}
.dfd-info-banner.style-05 .content-wrap {
    text-align: right;
}
.all-icon-page ul li i {
    right: 10px;
    left: auto;}
.all-icon-page ul li {
    float: right;
    padding-right: 40px;
    padding-left: 0;
    border-right: 1px solid #d2d2d2;
    border-left: none;
}
.dfd-gmap-module .dfd-gmap-tooltip-wrap .cover .dfd-gmap-tooltip ul.dfd-gmap-infobox li span {
    float: right;}
.dfd-gmap-module .dfd-gmap-tooltip-wrap .cover .dfd-gmap-tooltip ul.dfd-gmap-infobox li p {
    margin-right: 35px;
    margin-left: 0;
}
.dfd-piecharts.layout-3 .inner-circle i {
    margin-left: 13px;
    margin-right: 0;
}
.dfd-piecharts.layout-4 .module-icon {
    margin-left: 20px;
    margin-right: 0;
}
.dfd-piecharts.layout-4 .title-wrap {
    text-align: right;
}
.dfd-countdown * {
    direction: ltr;
}
.dfd-service-item.style-02 .module-icon, .dfd-service-item.style-03 .module-icon {
    margin: 0 0 0 25px;
}

body.single-product .product.type-product > .onsale {
    left: auto;
    right: 20px;
}
.single-product .tabs.horisontal dd a.box-name:before, .single-product .tabs.horisontal dt a.box-name:before {
    right: auto;
    margin-right: auto;
    left: 100%;
    margin-left: -20px;}
.single-product .shop_attributes tbody tr th {
    text-align: right;
}
.woocommerce-page #reviews #comments ol.commentlist li .comment_container .review-img-wrap {
    right: -44px;
    left: auto;
}
.woocommerce-page #reviews #comments ol.commentlist li .comment_container .comment-text .dfd-comment-heading-wrap {
    padding-left: 0;
    padding-right: 50px;}
.woocommerce-page #reviews #comments ol.commentlist li .comment_container .comment-text .comment-description {
    padding-right: 50px;
    padding-left: 0;
}
.woocommerce-page #reviews #comments ol.commentlist li .comment_container .comment-text .dfd-comment-heading-wrap time.subtitle {
    margin-left: 0;
    margin-right: 10px;
}
.woocommerce-page #reviews #comments ol.commentlist li .comment_container .comment-text .dfd-comment-heading-wrap .star-rating {
    float: left;}
.dk-select .dk-selected, .dk-select-multi .dk-selected {
    padding: 12px 25px 12px 45px;}
.dk-select .dk-selected:before, .dk-select-multi .dk-selected:before {
    left: 15px;
    right: auto;}
.single-product .cart table.variations tr td.clear-section .reset_variations i {
    margin-left: 10px;
    margin-right: 0;}
.dfd-woocomposer_list .dfd-woo-product-list li .dfd-list-menu-mode a.box-name {
    float: right;
}
.dfd-woocomposer_list .dfd-woo-product-list li .dfd-list-menu-mode >.amount {
    float: left;
}
.dfd-woocomposer_list .dfd-woo-product-list li .dfd-list-menu-mode .woo-delim ,.dfd-woocomposer_list .dfd-woo-product-list li .woo-delim{
    right: 0 !important;
    left: 0 !important;
    bottom: -2px;}
.products .product .woo-cover .buttons-wrap a.add_to_cart_button {
    padding-left: 20px;
    padding-right: 0;
}
.products .product .woo-cover .buttons-wrap > div * {
    float: right;}
.dfd-blog .text-left {
    text-align: right;
}
.wpb_tour_next_prev_nav span.wpb_prev_slide {
    text-align: left;
}
.my-product .entry-thumb .post-comments-wrap, .project .entry-thumb .post-comments-wrap, .dfd-gallery-single-item .entry-thumb .post-comments-wrap {
    right: 0;
    left: auto;}
.my-product .entry-thumb .post-like-wrap, .project .entry-thumb .post-like-wrap, .dfd-gallery-single-item .entry-thumb .post-like-wrap{
    right: 0;
    left: auto;}
.my-product .entry-thumb .post-comments-wrap + .post-like-wrap, .project .entry-thumb .post-comments-wrap + .post-like-wrap, .dfd-gallery-single-item .entry-thumb .post-comments-wrap + .post-like-wrap {
    right: 25px;
    left: auto;}
.my-product .entry-thumb .post-comments-wrap:after, .project .entry-thumb .post-comments-wrap:after, .dfd-gallery-single-item .entry-thumb .post-comments-wrap:after {
    right: auto;
    left: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid #b38653;
}
.my-product .entry-thumb .post-like-wrap span.count, .project .entry-thumb .post-like-wrap span.count, .dfd-gallery-single-item .entry-thumb .post-like-wrap span.count {
    right: 25px;
    left: auto;
     -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}
.dfd-folio-icons-wrap {
    direction: ltr;
}
.project.project-one-column .feature-title {
    text-align: right;
}
.project.project-one-column .entry-content {
    text-align: right;
}
#portfolio-page .project .cover .feature-title, #grid-folio .project .cover .feature-title {
    text-align: right;
}
#footer .dfd-footer-menu ul li:before {
    left: -3px;
    right: auto;
}














/* Responsive */
@media only screen and (min-width: 1025px) {
    #side-area .nav-menu div.sub-nav ul li > a:before,
    #header-container.header-style-5 .nav-menu div.sub-nav ul li > a:before,
    #header-container.header-style-6 .nav-menu div.sub-nav ul li > a:before,
    #header-container.header-style-7 .nav-menu div.sub-nav ul li > a:before,
    #header-container.header-style-8 .nav-menu div.sub-nav ul li > a:before {
        left: 30px;
        right: auto;
    }
}
@media only screen and (min-width: 1101px) {
    #header-container.header-style-7 #header .header-wrap .row.decorated .header-main-panel .header-col-fluid nav.mega-menu ul.nav-menu > li .item-title {
        font-size: 22px;
    }
    #header-container.header-style-7.text-left .nav-menu div.sub-nav.open {
        right: auto;
        left: 100%;
        margin-left: 20px;
        margin-right: 0 !important;
    }
    #header-container.header-style-7.text-left .nav-menu div.sub-nav.open li ul {
        right: auto;
        left: 100%;
        text-align: left !important;
    }
    #header-container.header-style-7.text-left .nav-menu div.sub-nav a {
        text-align: left !important;
        padding: 5px 60px 5px 20px;
    }
    #header-container.header-style-7.text-left .nav-menu div.sub-nav a:before {
        left: auto;
        right: 20px;
        border-right-width: 0;
        border-left: 3px solid rgba(255, 255, 255, 0.4);
    }
    #header-container.header-style-5:not(.small).left .nav-menu div.sub-nav.open,
    #header-container.header-style-8:not(.small).left .nav-menu div.sub-nav.open {
        right: auto;
        left: 100%;
        margin-left: 0;
        margin-right: 0 !important;
    }
    #header-container.header-style-5:not(.small).left .nav-menu div.sub-nav a,
    #header-container.header-style-8:not(.small).left .nav-menu div.sub-nav a {
        text-align: left !important;
        padding: 5px 60px 5px 20px;
    }
    #header-container.header-style-5:not(.small).left .nav-menu div.sub-nav a:before,
    #header-container.header-style-8:not(.small).left .nav-menu div.sub-nav a:before {
        left: auto;
        right: 20px;
        border-right-width: 0;
        border-left: 3px solid rgba(255, 255, 255, 0.4);
    }
    #header-container.header-style-5:not(.small).left .nav-menu div.sub-nav.open .sub-sub-menu,
    #header-container.header-style-8:not(.small).left .nav-menu div.sub-nav.open .sub-sub-menu {
        right: auto;
        left: 100%;
        margin-right: 0;
    }
}
@media only screen and (min-width: 800px) {
    .nav-menu div.sub-nav {
        right: 0;
        left: auto;
    }
	.all-icon-page ul li:nth-child(3n+0) {
    border-left: 1px solid #d2d2d2;
}
    .nav-menu .sub-sub-menu {
        right: 100%;
        left: auto;
        padding: 20px 0 20px 2px;
    }
    #header-container.header-style-1 .nav-menu div.sub-nav > ul.sub-menu.sub-menu-wide > li,
    #header-container.header-style-2 .nav-menu div.sub-nav > ul.sub-menu.sub-menu-wide > li,
    #header-container.header-style-3 .nav-menu div.sub-nav > ul.sub-menu.sub-menu-wide > li,
    #header-container.header-style-4 .nav-menu div.sub-nav > ul.sub-menu.sub-menu-wide > li {
        float: right;
    }
	.single-product .images .single-product-image, .single-product .images .single-product-thumbnails {
    padding-left: 20px;
	padding-right: 0;
	}
    .single-product.woocommerce-page #reviews #review_form {
        padding-right: 25px;
        padding-left: 0;
    }
}

@media only screen and (max-width: 800px) {
    body.checkout #main-content > .woocommerce .checkout.woocommerce-checkout #customer_details, body.checkout #main-content > .woocommerce .checkout.woocommerce-checkout #order_review_heading, body.checkout #main-content > .woocommerce .checkout.woocommerce-checkout #order_review {
        float: none;
    }
}

@media only screen and (max-width: 799px) {
    .slick-slider .slick-prev {
        right: 15px;
        left: auto;
    }
    .slick-slider .slick-next {
        right: auto;
        left: 15px;
    }
    .product-ordering {
        left: 10px;
        right: auto;
    }
	body.single.single-product #main-content .column, body.single.single-product #main-content .columns {
    float: none;
	}
    body.single.single-product #main-content .vc-row-wrapper .column,
    body.single.single-product #main-content .vc-row-wrapper .columns {
        float: none;
    }
    body.woocommerce-cart #main-content .cart-wrap .column,
    body.woocommerce-cart #main-content .cart-wrap .columns {
        float: none;
    }
    .products .column, .products .columns {
        float: none;
    }
    body.woocommerce-cart #main-content .cart-wrap .products .mobile-two.column, body.woocommerce-cart #main-content .cart-wrap .products .mobile-two.columns {
        float: right;
    }
    body.woocommerce-order-received .column, body.woocommerce-order-received .columns {
        float: none;
    }
}
