/* 
    Created on : 25.10.2016, 16:05:23
    Author     : DFD
	Styles for : Metaboxes
*/
@cmb-white: #fff;
@cmb-red: #eb355c;
@cmb-border-color: #ececec;
@cmb-dark-color: #454545;
@cmb-background-grey: #f7f7f7;

table.cmb_metabox {
    clear: both;
    table-layout: fixed;
}

.post-new-php table.cmb_metabox .cmb-nested-table td,
.post-new-php table.cmb_metabox .repeatable-group th,
.post-new-php table.cmb_metabox .repeatable-group:first-of-type,
.post-php table.cmb_metabox .cmb-nested-table td,
.post-php table.cmb_metabox .repeatable-group th,
.post-php table.cmb_metabox .repeatable-group:first-of-type,
table.cmb_metabox tbody>tr:first-of-type>td,
table.cmb_metabox tbody>tr:first-of-type>th,
table.cmb_metabox>tr:first-of-type>td,
table.cmb_metabox>tr:first-of-type>th {
    border: 0;
}

.post-new-php table.cmb_metabox .repeatable-group,
.post-new-php table.cmb_metabox td,
.post-new-php table.cmb_metabox th,
.post-php table.cmb_metabox .repeatable-group,
.post-php table.cmb_metabox td,
.post-php table.cmb_metabox th {
    border-top: 1px solid @cmb-border-color;
}

.repeatable-group th {
    padding: 5px;
}

.repeatable-group .shift-rows {
    text-decoration: none;
    margin-right: 5px;
    font-size: 1.2em;
}

.repeatable-group .cmb_upload_button {
    float: right;
}

#poststuff .repeatable-group h2 {
    margin: 0;
}

.cmb-group-title h4 {
    font-size: 1.2em;
    font-weight: 500;
    border-bottom: 1px solid @cmb-border-color;
}

.post-new-php table.cmb_metabox th,
.post-php table.cmb_metabox th {
    text-align: left;
    font-weight: 400;
	padding: 20px;
	background: @cmb-white;
}

.post-new-php table.cmb_metabox table th,
.post-php table.cmb_metabox table th {
    text-align: left;
}

table.cmb_metabox th label {
	text-align: left;
    margin-top: 10px;
	padding-left: 55px;
    display: block;
}

p.cmb_metabox_description {
	float: none;
	clear: both;
    color: #AAA;
    font-style: italic;
    margin: 2px 0!important;
}

span.cmb_metabox_description {
    color: #AAA;
    font-style: italic;
}

table.cmb_metabox input,
table.cmb_metabox textarea {
    font-size: 14px;
    padding: 5px
}

table.cmb_metabox input[type=text],
table.cmb_metabox textarea {
    width: 97%;
}

table.cmb_metabox textarea.cmb_textarea_code {
    font-family: Consolas, Monaco, monospace;
    line-height: 16px;
}

table.cmb_metabox input.cmb_text_small,
table.cmb_metabox input.cmb_timepicker {
    width: 100px;
    margin-right: 15px;
}

table.cmb_metabox input.cmb_text_money {
    width: 90px;
    margin-right: 15px
}

table.cmb_metabox input.cmb_text_medium {
    width: 230px;
    margin-right: 15px;
}

table.cmb_metabox input.cmb_upload_file {
    width: 60%;
}

table.cmb_metabox input.ed_button {
    padding: 2px 4px;
}

table.cmb_metabox li {
    font-size: 14px;
    margin: 1px 0 5px;
    line-height: 16px;
}

table.cmb_metabox ul {
    padding-top: 5px;
    margin: 0;
}

table.cmb_metabox select {
    font-size: 14px;
    margin-top: 3px;
}

table.cmb_metabox input:focus,
table.cmb_metabox textarea:focus {
    background: @cmb-white;
}

.cmb_metabox_title {
    margin: 0 0 5px;
    padding: 5px 0 0;
}

.edit-tags-php .cmb_metabox_title,
.profile-php .cmb_metabox_title,
.user-edit-php .cmb_metabox_title {
    margin-left: -10px;
}

.cmb-inline ul {
    padding: 4px 0 0;
}

.cmb-inline li {
    display: inline-block;
    padding-right: 18px;
}

table.cmb_metabox input[type=checkbox],
table.cmb_metabox input[type=radio] {
    margin: 0 5px 0 0;
    padding: 0;
}

table.cmb_metabox .mceLayout {
    border: 1px solid @cmb-border-color !important;
}

table.cmb_metabox .mceIframeContainer {
    background: @cmb-white;
}

table.cmb_metabox .meta_mce {
    width: 97%;
}

table.cmb_metabox .meta_mce textarea {
    width: 100%;
}

table.cmb_metabox .cmb_media_status {
	.clearfix();
    margin: 30px 0 0;
}

table.cmb_metabox .cmb_media_status .img_status {
    clear: none;
    float: left;
    display: inline-block;
    margin-right: 10px;
    width: auto;
}

table.cmb_metabox .cmb-type-file_list .cmb_media_status .img_status {
    clear: none;
    float: left;
    margin-right: 10px;
    width: auto;
}

table.cmb_metabox .cmb_media_status .embed_status,
table.cmb_metabox .cmb_media_status .img_status {
    position: relative;
}

table.cmb_metabox .cmb_media_status .embed_status,
table.cmb_metabox .cmb_media_status .img_status img {
    border: 1px dashed @cmb-border-color;
    background: #ffffff;
    max-width: 100%;
    padding: 5px;
    .rounded(2px);
}

table.cmb_metabox .cmb_media_status .embed_status {
    float: left;
    max-width: 800px;
}

table.cmb_metabox .cmb_media_status .embed_status .cmb_remove_file_button,
table.cmb_metabox .cmb_media_status .img_status .cmb_remove_file_button {
	.abs();
    top: 15px;
    right: 15px;
    .block();
    width: 24px;
    height: 24px;
    overflow: hidden;
    text-indent: 999em;
    margin: 0;
    padding: 0;
    background-color: transparent;
    background-image: url(../img/menu-icons.png);
    background-size: 120% auto;
    background-position: -3px -985px;
    border: none;
    outline: none;
    .box-shadow(none);
    z-index: 9;
}

table.cmb_metabox .attach_list li {
    clear: both;
    display: inline-block;
    margin-bottom: 25px;
    width: 100%;
}

table.cmb_metabox .attach_list li img {
    float: left;
    margin-right: 10px;
}

.postbox table.cmb_metabox .cmb-spinner {
    float: left;
}

table.cmb_metabox .wp-color-result,
table.cmb_metabox .wp-picker-input-wrap {
    vertical-align: middle;
}

div.time-picker {
    position: absolute;
    height: 191px;
    width: 6em;
    overflow: auto;
    background: @cmb-white;
    border: 1px solid @cmb-border-color;
    z-index: 99;
    margin: 0;
}

div.time-picker-12hours {
    width: 8em;
}

div.time-picker ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div.time-picker li {
    cursor: pointer;
    height: 10px;
    font: 14px/1 Helvetica, Arial, sans-serif;
    padding: 4px 3px;
}

div.time-picker li.selected {
    background: #0063CE;
    color: @cmb-white;
}

.cmb_element .ui-helper-hidden {
    display: none;
}

.cmb_element .ui-helper-hidden-accessible {
    position: absolute!important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
}

.cmb_element .ui-helper-reset {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 100%;
    list-style: none;
}

.cmb_element .ui-helper-clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

* html .ui-helper-clearfix {
    height: 1%;
}

.cmb_element .ui-helper-clearfix {
    display: block;
}

.cmb_element .ui-helper-zfix {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    filter: Alpha(Opacity=0);
}

.cmb_element .ui-state-disabled {
    cursor: default !important;
}

.cmb_element .ui-icon {
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
}

.cmb_element .ui-widget-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.cmb_element .ui-widget {
    font-family: Verdana, Arial, sans-serif;
    font-size: 1.1em;
}

.cmb_element .ui-widget .ui-widget {
    font-size: 1em;
}

.cmb_element .ui-widget button,
.cmb_element .ui-widget input,
.cmb_element .ui-widget select,
.cmb_element .ui-widget textarea {
    font-family: Verdana, Arial, sans-serif;
    font-size: 1em;
}

.cmb_element .ui-widget-content {
    border: 1px solid #aaa;
    background: @cmb-white url(../images/metaboxes/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x;
    color: #222;
}

.cmb_element .ui-widget-content a {
    color: #222;
}

.cmb_element .ui-widget-header {
    border: 1px solid #aaa;
    background: #ccc url(../images/metaboxes/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x;
    color: #222;
    font-weight: 700;
}

.cmb_element .ui-widget-header a {
    color: #222;
}

.cmb_element .ui-state-default,
.cmb_element .ui-widget-content .ui-state-default,
.cmb_element .ui-widget-header .ui-state-default {
    border: 1px solid #d3d3d3;
    background: #e6e6e6 url(../images/metaboxes/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
    font-weight: 400;
    color: #555;
}

.cmb_element .ui-state-default a,
.cmb_element .ui-state-default a:link,
.cmb_element .ui-state-default a:visited {
    color: #555;
    text-decoration: none;
}

.cmb_element .ui-state-focus,
.cmb_element .ui-state-hover,
.cmb_element .ui-widget-content .ui-state-focus,
.cmb_element .ui-widget-content .ui-state-hover,
.cmb_element .ui-widget-header .ui-state-focus,
.cmb_element .ui-widget-header .ui-state-hover {
    border: 1px solid #999;
    background: #dadada url(../images/metaboxes/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x;
    font-weight: 400;
    color: #212121;
}

.cmb_element .ui-state-hover a,
.cmb_element .ui-state-hover a:hover {
    color: #212121;
    text-decoration: none;
}

.cmb_element .ui-state-active,
.cmb_element .ui-widget-content .ui-state-active,
.cmb_element .ui-widget-header .ui-state-active {
    border: 1px solid #aaa;
    background: @cmb-white url(../images/metaboxes/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;
    font-weight: 400;
    color: #212121;
}

.cmb_element .ui-state-active a,
.cmb_element .ui-state-active a:link,
.cmb_element .ui-state-active a:visited {
    color: #212121;
    text-decoration: none;
}

.cmb_element .ui-widget:active {
    outline: 0;
}

.cmb_element .ui-state-highlight,
.cmb_element .ui-widget-content .ui-state-highlight,
.cmb_element .ui-widget-header .ui-state-highlight {
    border: 1px solid #fcefa1;
    background: #fbf9ee url(../images/metaboxes/ui-bg_glass_55_fbf9ee_1x400.png) 50% 50% repeat-x;
    color: #363636;
}

.cmb_element .ui-state-highlight a,
.cmb_element .ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
    color: #363636;
}

.cmb_element .ui-state-error,
.cmb_element .ui-widget-content .ui-state-error,
.cmb_element .ui-widget-header .ui-state-error {
    border: 1px solid #cd0a0a;
    background: #fef1ec url(../images/metaboxes/ui-bg_glass_95_fef1ec_1x400.png) 50% 50% repeat-x;
    color: #cd0a0a;
}

.cmb_element .ui-state-error a,
.cmb_element .ui-state-error-text,
.cmb_element .ui-widget-content .ui-state-error a,
.cmb_element .ui-widget-content .ui-state-error-text,
.cmb_element .ui-widget-header .ui-state-error a,
.cmb_element .ui-widget-header .ui-state-error-text {
    color: #cd0a0a;
}

.cmb_element .ui-priority-primary,
.cmb_element .ui-widget-content .ui-priority-primary,
.cmb_element .ui-widget-header .ui-priority-primary {
    font-weight: 700;
}

.cmb_element .ui-priority-secondary,
.cmb_element .ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
    opacity: .7;
    filter: Alpha(Opacity=70);
    font-weight: 400;
}

.cmb_element .ui-state-disabled,
.cmb_element .ui-widget-content .ui-state-disabled,
.cmb_element .ui-widget-header .ui-state-disabled {
    opacity: .35;
    filter: Alpha(Opacity=35);
    background-image: none;
}

.cmb_element .ui-icon {
    width: 16px;
    height: 16px;
    background-image: url(../images/metaboxes/ui-icons_222222_256x240.png);
}

.cmb_element .ui-widget-content .ui-icon,
.cmb_element .ui-widget-header .ui-icon {
    background-image: url(../images/metaboxes/ui-icons_222222_256x240.png);
}

.cmb_element .ui-state-default .ui-icon {
    background-image: url(../images/metaboxes/ui-icons_888888_256x240.png);
}

.cmb_element .ui-state-active .ui-icon,
.cmb_element .ui-state-focus .ui-icon,
.cmb_element .ui-state-hover .ui-icon {
    background-image: url(../images/metaboxes/ui-icons_454545_256x240.png);
}

.cmb_element .ui-state-highlight .ui-icon {
    background-image: url(images/ui-icons_2e83ff_256x240.png);
}

.cmb_element .ui-state-error .ui-icon,
.cmb_element .ui-state-error-text .ui-icon {
    background-image: url(../images/metaboxes/ui-icons_cd0a0a_256x240.png);
}

.cmb_element .ui-icon-carat-1-n {
    background-position: 0 0;
}

.cmb_element .ui-icon-carat-1-ne {
    background-position: -16px 0;
}

.cmb_element .ui-icon-carat-1-e {
    background-position: -32px 0;
}

.cmb_element .ui-icon-carat-1-se {
    background-position: -48px 0;
}

.cmb_element .ui-icon-carat-1-s {
    background-position: -64px 0;
}

.cmb_element .ui-icon-carat-1-sw {
    background-position: -80px 0;
}

.cmb_element .ui-icon-carat-1-w {
    background-position: -96px 0;
}

.cmb_element .ui-icon-carat-1-nw {
    background-position: -112px 0
}

.cmb_element .ui-icon-carat-2-n-s {
    background-position: -128px 0;
}

.cmb_element .ui-icon-carat-2-e-w {
    background-position: -144px 0;
}

.cmb_element .ui-icon-triangle-1-n {
    background-position: 0 -16px;
}

.cmb_element .ui-icon-triangle-1-ne {
    background-position: -16px -16px;
}

.cmb_element .ui-icon-triangle-1-e {
    background-position: -32px -16px;
}

.cmb_element .ui-icon-triangle-1-se {
    background-position: -48px -16px;
}

.cmb_element .ui-icon-triangle-1-s {
    background-position: -64px -16px;
}

.cmb_element .ui-icon-triangle-1-sw {
    background-position: -80px -16px;
}

.cmb_element .ui-icon-triangle-1-w {
    background-position: -96px -16px;
}

.cmb_element .ui-icon-triangle-1-nw {
    background-position: -112px -16px;
}

.cmb_element .ui-icon-triangle-2-n-s {
    background-position: -128px -16px;
}

.cmb_element .ui-icon-triangle-2-e-w {
    background-position: -144px -16px;
}

.cmb_element .ui-icon-arrow-1-n {
    background-position: 0 -32px;
}

.cmb_element .ui-icon-arrow-1-ne {
    background-position: -16px -32px;
}

.cmb_element .ui-icon-arrow-1-e {
    background-position: -32px -32px;
}

.cmb_element .ui-icon-arrow-1-se {
    background-position: -48px -32px;
}

.cmb_element .ui-icon-arrow-1-s {
    background-position: -64px -32px;
}

.cmb_element .ui-icon-arrow-1-sw {
    background-position: -80px -32px;
}

.cmb_element .ui-icon-arrow-1-w {
    background-position: -96px -32px;
}

.cmb_element .ui-icon-arrow-1-nw {
    background-position: -112px -32px;
}

.cmb_element .ui-icon-arrow-2-n-s {
    background-position: -128px -32px;
}

.cmb_element .ui-icon-arrow-2-ne-sw {
    background-position: -144px -32px;
}

.cmb_element .ui-icon-arrow-2-e-w {
    background-position: -160px -32px;
}

.cmb_element .ui-icon-arrow-2-se-nw {
    background-position: -176px -32px;
}

.cmb_element .ui-icon-arrowstop-1-n {
    background-position: -192px -32px;
}

.cmb_element .ui-icon-arrowstop-1-e {
    background-position: -208px -32px;
}

.cmb_element .ui-icon-arrowstop-1-s {
    background-position: -224px -32px;
}

.cmb_element .ui-icon-arrowstop-1-w {
    background-position: -240px -32px;
}

.cmb_element .ui-icon-arrowthick-1-n {
    background-position: 0 -48px;
}

.cmb_element .ui-icon-arrowthick-1-ne {
    background-position: -16px -48px;
}

.cmb_element .ui-icon-arrowthick-1-e {
    background-position: -32px -48px;
}

.cmb_element .ui-icon-arrowthick-1-se {
    background-position: -48px -48px;
}

.cmb_element .ui-icon-arrowthick-1-s {
    background-position: -64px -48px;
}

.cmb_element .ui-icon-arrowthick-1-sw {
    background-position: -80px -48px;
}

.cmb_element .ui-icon-arrowthick-1-w {
    background-position: -96px -48px;
}

.cmb_element .ui-icon-arrowthick-1-nw {
    background-position: -112px -48px;
}

.cmb_element .ui-icon-arrowthick-2-n-s {
    background-position: -128px -48px;
}

.cmb_element .ui-icon-arrowthick-2-ne-sw {
    background-position: -144px -48px;
}

.cmb_element .ui-icon-arrowthick-2-e-w {
    background-position: -160px -48px;
}

.cmb_element .ui-icon-arrowthick-2-se-nw {
    background-position: -176px -48px;
}

.cmb_element .ui-icon-arrowthickstop-1-n {
    background-position: -192px -48px;
}

.cmb_element .ui-icon-arrowthickstop-1-e {
    background-position: -208px -48px;
}

.cmb_element .ui-icon-arrowthickstop-1-s {
    background-position: -224px -48px;
}

.cmb_element .ui-icon-arrowthickstop-1-w {
    background-position: -240px -48px;
}

.cmb_element .ui-icon-arrowreturnthick-1-w {
    background-position: 0 -64px;
}

.cmb_element .ui-icon-arrowreturnthick-1-n {
    background-position: -16px -64px;
}

.cmb_element .ui-icon-arrowreturnthick-1-e {
    background-position: -32px -64px;
}

.cmb_element .ui-icon-arrowreturnthick-1-s {
    background-position: -48px -64px;
}

.cmb_element .ui-icon-arrowreturn-1-w {
    background-position: -64px -64px;
}

.cmb_element .ui-icon-arrowreturn-1-n {
    background-position: -80px -64px;
}

.cmb_element .ui-icon-arrowreturn-1-e {
    background-position: -96px -64px;
}

.cmb_element .ui-icon-arrowreturn-1-s {
    background-position: -112px -64px;
}

.cmb_element .ui-icon-arrowrefresh-1-w {
    background-position: -128px -64px;
}

.cmb_element .ui-icon-arrowrefresh-1-n {
    background-position: -144px -64px;
}

.cmb_element .ui-icon-arrowrefresh-1-e {
    background-position: -160px -64px;
}

.cmb_element .ui-icon-arrowrefresh-1-s {
    background-position: -176px -64px;
}

.cmb_element .ui-icon-arrow-4 {
    background-position: 0 -80px;
}

.cmb_element .ui-icon-arrow-4-diag {
    background-position: -16px -80px;
}

.cmb_element .ui-icon-extlink {
    background-position: -32px -80px;
}

.cmb_element .ui-icon-newwin {
    background-position: -48px -80px;
}

.cmb_element .ui-icon-refresh {
    background-position: -64px -80px;
}

.cmb_element .ui-icon-shuffle {
    background-position: -80px -80px;
}

.cmb_element .ui-icon-transfer-e-w {
    background-position: -96px -80px;
}

.cmb_element .ui-icon-transferthick-e-w {
    background-position: -112px -80px;
}

.cmb_element .ui-icon-folder-collapsed {
    background-position: 0 -96px;
}

.cmb_element .ui-icon-folder-open {
    background-position: -16px -96px;
}

.cmb_element .ui-icon-document {
    background-position: -32px -96px;
}

.cmb_element .ui-icon-document-b {
    background-position: -48px -96px;
}

.cmb_element .ui-icon-note {
    background-position: -64px -96px;
}

.cmb_element .ui-icon-mail-closed {
    background-position: -80px -96px;
}

.cmb_element .ui-icon-mail-open {
    background-position: -96px -96px;
}

.cmb_element .ui-icon-suitcase {
    background-position: -112px -96px;
}

.cmb_element .ui-icon-comment {
    background-position: -128px -96px;
}

.cmb_element .ui-icon-person {
    background-position: -144px -96px;
}

.cmb_element .ui-icon-print {
    background-position: -160px -96px;
}

.cmb_element .ui-icon-trash {
    background-position: -176px -96px;
}

.cmb_element .ui-icon-locked {
    background-position: -192px -96px;
}

.cmb_element .ui-icon-unlocked {
    background-position: -208px -96px;
}

.cmb_element .ui-icon-bookmark {
    background-position: -224px -96px;
}

.cmb_element .ui-icon-tag {
    background-position: -240px -96px;
}

.cmb_element .ui-icon-home {
    background-position: 0 -112px;
}

.cmb_element .ui-icon-flag {
    background-position: -16px -112px;
}

.cmb_element .ui-icon-calendar {
    background-position: -32px -112px;
}

.cmb_element .ui-icon-cart {
    background-position: -48px -112px;
}

.cmb_element .ui-icon-pencil {
    background-position: -64px -112px;
}

.cmb_element .ui-icon-clock {
    background-position: -80px -112px;
}

.cmb_element .ui-icon-disk {
    background-position: -96px -112px;
}

.cmb_element .ui-icon-calculator {
    background-position: -112px -112px;
}

.cmb_element .ui-icon-zoomin {
    background-position: -128px -112px;
}

.cmb_element .ui-icon-zoomout {
    background-position: -144px -112px;
}

.cmb_element .ui-icon-search {
    background-position: -160px -112px;
}

.cmb_element .ui-icon-wrench {
    background-position: -176px -112px;
}

.cmb_element .ui-icon-gear {
    background-position: -192px -112px;
}

.cmb_element .ui-icon-heart {
    background-position: -208px -112px;
}

.cmb_element .ui-icon-star {
    background-position: -224px -112px;
}

.cmb_element .ui-icon-link {
    background-position: -240px -112px;
}

.cmb_element .ui-icon-cancel {
    background-position: 0 -128px;
}

.cmb_element .ui-icon-plus {
    background-position: -16px -128px;
}

.cmb_element .ui-icon-plusthick {
    background-position: -32px -128px;
}

.cmb_element .ui-icon-minus {
    background-position: -48px -128px;
}

.cmb_element .ui-icon-minusthick {
    background-position: -64px -128px;
}

.cmb_element .ui-icon-close {
    background-position: -80px -128px;
}

.cmb_element .ui-icon-closethick {
    background-position: -96px -128px;
}

.cmb_element .ui-icon-key {
    background-position: -112px -128px;
}

.cmb_element .ui-icon-lightbulb {
    background-position: -128px -128px;
}

.cmb_element .ui-icon-scissors {
    background-position: -144px -128px;
}

.cmb_element .ui-icon-clipboard {
    background-position: -160px -128px;
}

.cmb_element .ui-icon-copy {
    background-position: -176px -128px;
}

.cmb_element .ui-icon-contact {
    background-position: -192px -128px;
}

.cmb_element .ui-icon-image {
    background-position: -208px -128px;
}

.cmb_element .ui-icon-video {
    background-position: -224px -128px;
}

.cmb_element .ui-icon-script {
    background-position: -240px -128px;
}

.cmb_element .ui-icon-alert {
    background-position: 0 -144px;
}

.cmb_element .ui-icon-info {
    background-position: -16px -144px;
}

.cmb_element .ui-icon-notice {
    background-position: -32px -144px;
}

.cmb_element .ui-icon-help {
    background-position: -48px -144px;
}

.cmb_element .ui-icon-check {
    background-position: -64px -144px;
}

.cmb_element .ui-icon-bullet {
    background-position: -80px -144px;
}

.cmb_element .ui-icon-radio-off {
    background-position: -96px -144px;
}

.cmb_element .ui-icon-radio-on {
    background-position: -112px -144px;
}

.cmb_element .ui-icon-pin-w {
    background-position: -128px -144px;
}

.cmb_element .ui-icon-pin-s {
    background-position: -144px -144px;
}

.cmb_element .ui-icon-play {
    background-position: 0 -160px;
}

.cmb_element .ui-icon-pause {
    background-position: -16px -160px;
}

.cmb_element .ui-icon-seek-next {
    background-position: -32px -160px;
}

.cmb_element .ui-icon-seek-prev {
    background-position: -48px -160px;
}

.cmb_element .ui-icon-seek-end {
    background-position: -64px -160px;
}

.cmb_element .ui-icon-seek-first,
.cmb_element .ui-icon-seek-start {
    background-position: -80px -160px;
}

.cmb_element .ui-icon-stop {
    background-position: -96px -160px;
}

.cmb_element .ui-icon-eject {
    background-position: -112px -160px;
}

.cmb_element .ui-icon-volume-off {
    background-position: -128px -160px;
}

.cmb_element .ui-icon-volume-on {
    background-position: -144px -160px;
}

.cmb_element .ui-icon-power {
    background-position: 0 -176px;
}

.cmb_element .ui-icon-signal-diag {
    background-position: -16px -176px;
}

.cmb_element .ui-icon-signal {
    background-position: -32px -176px;
}

.cmb_element .ui-icon-battery-0 {
    background-position: -48px -176px;
}

.cmb_element .ui-icon-battery-1 {
    background-position: -64px -176px;
}

.cmb_element .ui-icon-battery-2 {
    background-position: -80px -176px;
}

.cmb_element .ui-icon-battery-3 {
    background-position: -96px -176px;
}

.cmb_element .ui-icon-circle-plus {
    background-position: 0 -192px;
}

.cmb_element .ui-icon-circle-minus {
    background-position: -16px -192px;
}

.cmb_element .ui-icon-circle-close {
    background-position: -32px -192px;
}

.cmb_element .ui-icon-circle-triangle-e {
    background-position: -48px -192px;
}

.cmb_element .ui-icon-circle-triangle-s {
    background-position: -64px -192px;
}

.cmb_element .ui-icon-circle-triangle-w {
    background-position: -80px -192px;
}

.cmb_element .ui-icon-circle-triangle-n {
    background-position: -96px -192px;
}

.cmb_element .ui-icon-circle-arrow-e {
    background-position: -112px -192px;
}

.cmb_element .ui-icon-circle-arrow-s {
    background-position: -128px -192px;
}

.cmb_element .ui-icon-circle-arrow-w {
    background-position: -144px -192px;
}

.cmb_element .ui-icon-circle-arrow-n {
    background-position: -160px -192px;
}

.cmb_element .ui-icon-circle-zoomin {
    background-position: -176px -192px;
}

.cmb_element .ui-icon-circle-zoomout {
    background-position: -192px -192px;
}

.cmb_element .ui-icon-circle-check {
    background-position: -208px -192px;
}

.cmb_element .ui-icon-circlesmall-plus {
    background-position: 0 -208px;
}

.cmb_element .ui-icon-circlesmall-minus {
    background-position: -16px -208px;
}

.cmb_element .ui-icon-circlesmall-close {
    background-position: -32px -208px;
}

.cmb_element .ui-icon-squaresmall-plus {
    background-position: -48px -208px;
}

.cmb_element .ui-icon-squaresmall-minus {
    background-position: -64px -208px;
}

.cmb_element .ui-icon-squaresmall-close {
    background-position: -80px -208px;
}

.cmb_element .ui-icon-grip-dotted-vertical {
    background-position: 0 -224px;
}

.cmb_element .ui-icon-grip-dotted-horizontal {
    background-position: -16px -224px;
}

.cmb_element .ui-icon-grip-solid-vertical {
    background-position: -32px -224px;
}

.cmb_element .ui-icon-grip-solid-horizontal {
    background-position: -48px -224px;
}

.cmb_element .ui-icon-gripsmall-diagonal-se {
    background-position: -64px -224px;
}

.cmb_element .ui-icon-grip-diagonal-se {
    background-position: -80px -224px;
}

.cmb_element .ui-corner-all,
.cmb_element .ui-corner-left,
.cmb_element .ui-corner-tl,
.cmb_element .ui-corner-top {
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    -khtml-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
}

.cmb_element .ui-corner-all,
.cmb_element .ui-corner-right,
.cmb_element .ui-corner-top,
.cmb_element .ui-corner-tr {
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    -khtml-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
}

.cmb_element .ui-corner-all,
.cmb_element .ui-corner-bl,
.cmb_element .ui-corner-bottom,
.cmb_element .ui-corner-left {
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -khtml-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.cmb_element .ui-corner-all,
.cmb_element .ui-corner-bottom,
.cmb_element .ui-corner-br,
.cmb_element .ui-corner-right {
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -khtml-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.cmb_element .ui-widget-overlay {
    background: #aaa url(../images/metaboxes/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;
    opacity: .3;
    filter: Alpha(Opacity=30);
}

.cmb_element .ui-widget-shadow {
    margin: -8px 0 0 -8px;
    padding: 8px;
    background: #aaa url(../images/metaboxes/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;
    opacity: .3;
    filter: Alpha(Opacity=30);
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.cmb_element .ui-datepicker {
    width: 17em;
    padding: .2em .2em 0;
    display: none;
}

.cmb_element .ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: .2em 0;
}

.cmb_element .ui-datepicker .ui-datepicker-next,
.cmb_element .ui-datepicker .ui-datepicker-prev {
    position: absolute;
    top: 2px;
    width: 1.8em;
    height: 1.8em;
}

.cmb_element .ui-datepicker .ui-datepicker-next-hover,
.cmb_element .ui-datepicker .ui-datepicker-prev-hover {
    top: 1px;
}

.cmb_element .ui-datepicker .ui-datepicker-prev {
    left: 2px;
}

.cmb_element .ui-datepicker .ui-datepicker-next {
    right: 2px;
}

.cmb_element .ui-datepicker .ui-datepicker-prev-hover {
    left: 1px;
}

.cmb_element .ui-datepicker .ui-datepicker-next-hover {
    right: 1px;
}

.cmb_element .ui-datepicker .ui-datepicker-next span,
.cmb_element .ui-datepicker .ui-datepicker-prev span {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    top: 50%;
    margin-top: -8px;
}

.cmb_element .ui-datepicker .ui-datepicker-title {
    margin: 0 2.3em;
    line-height: 1.8em;
    text-align: center;
}

.cmb_element .ui-datepicker .ui-datepicker-title select {
    font-size: 1em;
    margin: 1px 0;
}

.cmb_element .ui-datepicker select.ui-datepicker-month-year {
    width: 100%;
}

.cmb_element .ui-datepicker select.ui-datepicker-month,
.cmb_element .ui-datepicker select.ui-datepicker-year {
    width: 49%;
}

.cmb_element .ui-datepicker table {
    width: 100%;
    font-size: .9em;
    border-collapse: collapse;
    margin: 0 0 .4em;
}

.cmb_element .ui-datepicker th {
    padding: .7em .3em;
    text-align: center;
    font-weight: 700;
    border: 0;
}

.cmb_element .ui-datepicker td {
    border: 0;
    padding: 1px;
}

.cmb_element .ui-datepicker td a,
.cmb_element .ui-datepicker td span {
    display: block;
    padding: .2em;
    text-align: right;
    text-decoration: none;
}

.cmb_element .ui-datepicker .ui-datepicker-buttonpane {
    background-image: none;
    margin: .7em 0 0;
    padding: 0 .2em;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}

.cmb_element .ui-datepicker .ui-datepicker-buttonpane button {
    float: right;
    margin: .5em .2em .4em;
    cursor: pointer;
    padding: .2em .6em .3em;
    width: auto;
    overflow: visible;
}

.cmb_element .ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
    float: left;
}

.cmb_element .ui-datepicker.ui-datepicker-multi {
    width: auto;
}

.cmb_element .ui-datepicker-multi .ui-datepicker-group {
    float: left;
}

.cmb_element .ui-datepicker-multi .ui-datepicker-group table {
    width: 95%;
    margin: 0 auto .4em;
}

.cmb_element .ui-datepicker-multi-2 .ui-datepicker-group {
    width: 50%;
}

.cmb_element .ui-datepicker-multi-3 .ui-datepicker-group {
    width: 33.3%;
}

.cmb_element .ui-datepicker-multi-4 .ui-datepicker-group {
    width: 25%;
}

.cmb_element .ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.cmb_element .ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
    border-left-width: 0;
}

.cmb_element .ui-datepicker-multi .ui-datepicker-buttonpane {
    clear: left;
}

.cmb_element .ui-datepicker-row-break {
    clear: both;
    width: 100%;
    font-size: 0;
}

.cmb_element .ui-datepicker-rtl {
    direction: rtl;
}

.cmb_element .ui-datepicker-rtl .ui-datepicker-prev {
    right: 2px;
    left: auto;
}

.cmb_element .ui-datepicker-rtl .ui-datepicker-next {
    left: 2px;
    right: auto;
}

.cmb_element .ui-datepicker-rtl .ui-datepicker-prev:hover {
    right: 1px;
    left: auto;
}

.cmb_element .ui-datepicker-rtl .ui-datepicker-next:hover {
    left: 1px;
    right: auto;
}

.cmb_element .ui-datepicker-rtl .ui-datepicker-buttonpane {
    clear: right;
}

.cmb_element .ui-datepicker-rtl .ui-datepicker-buttonpane button {
    float: left;
}

.cmb_element .ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.cmb_element .ui-datepicker-rtl .ui-datepicker-group {
    float: right;
}

.cmb_element .ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.cmb_element .ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
    border-right-width: 0;
    border-left-width: 1px;
}

.cmb_element .ui-datepicker-cover {
    display: none;
    display: block;
    position: absolute;
    z-index: -1;
    filter: mask();
    top: -4px;
    left: -4px;
    width: 200px;
    height: 200px;
}

#advanced-sortables {
	*,
	*:before,
	*:after {
		.box-sizing(border-box);
	}
	&:before,
	&:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
	.dfd-metaboxes-titles {
		.rel();
		overflow: hidden;
		float: left;
		width: 24%;
		text-align: left;
		padding: 20px;
		background: @cmb-white;
		border-top: 1px solid @cmb-border-color;
		border-bottom: 1px solid @cmb-border-color;
		border-left: 1px solid @cmb-border-color;
		.rounded(5px 0 0 5px);
		z-index: 2;
		.transform(translateZ(0));
		> * {
			.rel();
			cursor: pointer;
			padding: 18px 50px;
			color: fade(#1a1a1a,40%);
			background: #ffffff;
			border-top: 1px solid @redux-border-color;
			.transition(~"background .3s ease 0s, border-color .3s ease 0s");
			&:before {
				content: "";
				.abs();
				top: 50%;
				left: 15px;
				.block();
				width: 20px;
				height: 20px;
				margin-top: -10px;
				overflow: hidden;
				background-image: url(../img/metabox-icons.png);
				background-size: 36px auto;
				background-repeat: no-repeat;
				background-position: -8px -160px;
				opacity: .4;
			}
			&:after {
				content: "";
				.block();
				width: 20px;
				height: 20px;
				.abs();
				top: 50%;
				right: 20px;
				margin-top: -10px;
				background-image: url(../img/menu-icons.png);
				background-size: 150% auto;
				background-position: -5px -2538px;
				border: none;
				opacity: 0;
				visibility: hidden;
				.transition(~"opacity .3s ease, visibility .3s ease");
			}
			&:first-child {
				border-top: none;
			}
			&:last-child {
				border-bottom: none;
			}
			&.dfd-header_img_metabox {
				&:before {
					background-position: -8px -112px;
				}
			}
			&.dfd-page_bg_metabox {
				&:before {
					background-position: -8px -160px;
				}
			}
			&.dfd-preloader_settings_box {
				&:before {
					background-position: -8px -209px;
				}
			}
			&.postexcerpt {
				&:not(.active) {
					color: #1a1a1a;
				}
				&:before {
					background-position: -8px -255px;
					opacity: 1;
				}
			}
			&.postcustom {
				&:before {
					background-position: -8px -307px;
				}
			}
			&.commentstatusdiv {
				&:before {
					background-position: -8px -355px;
				}
			}
			&.commentsdiv {
				&:before {
					background-position: -8px -403px;
				}
			}
			&.slugdiv {
				&:before {
					background-position: -8px -450px;
				}
			}
			&.authordiv {
				&:before {
					background-position: -8px -500px;
				}
			}
			&.mymetabox_revslider_0 {
				&:before {
					background-position: -8px -548px;
				}
			}
			&:hover {
				background: #f0f2f4;
				border-color: transparent;
				.rounded(8px);
				+ h2 {
					border-color: #ffffff;
				}
				span {
					&:after {
						.transform(translate3d(0,0,0));
					}
				}
			}
			&.active {
				.rel();
				color: #ffffff;
				background: @redux-blue-color;
				border-color: transparent;
				.rounded(8px);
				.box-shadow(0 8px 35px 0 fade(#2f78ff, 60%));
				z-index: 2;
				&:before {
					background-position: -8px -735px;
				}
				&:after {
					opacity: 1;
					visibility: visible;
				}
				span {
					&:before,
					&:after {
						.hide();
					}
				}
				+ h2 {
					border-color: #ffffff;
				}
				&.dfd-header_img_metabox {
					&:before {
						background-position: -8px -687px;
					}
				}
				&.dfd-page_bg_metabox {
					&:before {
						background-position: -8px -735px;
					}
				}
				&.dfd-preloader_settings_box {
					&:before {
						background-position: -8px -784px;
					}
				}
				&.postexcerpt {
					&:before {
						background-position: -8px -831px;
					}
				}
				&.postcustom {
					&:before {
						background-position: -8px -882px;
					}
				}
				&.commentstatusdiv {
					&:before {
						background-position: -8px -930px;
					}
				}
				&.commentsdiv {
					&:before {
						background-position: -8px -978px;
					}
				}
				&.slugdiv {
					&:before {
						background-position: -8px -1025px;
					}
				}
				&.authordiv {
					&:before {
						background-position: -8px -1075px;
					}
				}
				&.mymetabox_revslider_0 {
					&:before {
						background-position: -8px -1123px;
					}
				}
			}
			span {
				.rel();
				.inline-block();
				overflow: hidden;
				&:after {
					content: '';
					position: absolute;
					top: 75%;
					left: 0;
					width: 100%;
					height: 4px;
					background: @redux-blue-color;
					.transform(~"translate3d(-100%,0,0) translate3d(-1px,0,0)");
					.transition(transform 0.7s cubic-bezier(0.7,0,0.3,1));
				}
			}
		}
		[class^="dfd-"],
		[class*=" dfd-"] {
			color: #1a1a1a;
			&:before {
				opacity: 1;
			}
			&.active {
				color: #ffffff;
			}
		}
	}
	.dfd-metaboxes-wrap {
		.rel();
		float: left;
		width: 76%;
		padding: 40px 45px;
		background: #f1f3f5;
		.rounded(0 5px 5px 0);
		.box-shadow(0 8px 40px 0 #e0e4e9);
		> .postbox {
			max-width: 100%;
			margin: 0;
			padding: 0;
			background: #ffffff;
			border: 1px solid transparent;
			.rounded(4px);
			.box-shadow(0 8px 40px 0 #e0e4e9);
			> .inside {
				padding: 20px 45px;
			}
		}
		.postbox {
			&:before,
			&:after {
				content: "";
				display: table;
			}
			&:after {
				clear: both;
			}
		}
		input[type="text"] {
			height: 45px;
			line-height: 45px;
		}
		.button:not(.wp-color-result) {
			font-family: "Roboto";
			font-size: 12px;
			font-weight: 700;
			text-transform: uppercase;
			height: @redux-admin-input;
			line-height: @redux-admin-input;
			padding: 0 25px;
			color: #ffffff;
			background-color: @redux-blue-color;
			border: none;
			.rounded(4px);
			outline: none;
			.box-shadow(0 8px 35px 0 fade(@redux-blue-color, 60%));
			.transition(~"background-color .3s ease, box-shadow .3s ease");
			&:hover,
			&:active {
				background-color: #095aee;
				.box-shadow(0 8px 35px 0 #2f78ff);
			}
			.wp-media-buttons-icon {
				float: left;
				height: 100%;
				line-height: inherit;
				margin-left: -10px;
				margin-right: 15px;
				color: inherit;
				&:before {
					line-height: inherit;
					color: inherit;
				}
			}
		}
		.wp-picker-container {
			* {
				.box-sizing(content-box);
			}
			.wp-picker-input-wrap {
				label {
					margin-left: -51px !important;
					input[type="text"].wp-color-picker {
						border-radius: 27px;
						padding-left: 60px;
						padding-right: 23px;
						max-width: 72px;
						height: 39px;
						line-height: 39px;
						background: #f1f3f5;
						text-align: center;
						.box-shadow(none);
						.transition(border-color .3s ease);
						&:hover {
							border-color: #9abeff;
						}
					}
				}
			}
			.color-alpha {
				width: 45px;
				height: 45px;
				min-width: 45px;
				min-height: 45px;
				margin-top: 2px;
				margin-left: 2px;
				.rounded(45px);
			}
			.wp-color-result {
				height: 49px;
				min-height: 49px;
				padding-left: 49px;
				margin: 0;
				&:before {
					width: 43px;
					height: 43px;
					.box-sizing(content-box);
				}
			}
			.wp-picker-holder {
				width: 0;
				.box-sizing(content-box);
				* {
					.box-sizing(content-box);
				}
				.iris-picker {
					float: left;
				}
			}
		}
		.revslider_settings {
			.setting_text {
				margin-bottom: 10px;
			}
		}
		#commentsdiv {
			padding: 10px;
		}
		#commentstatusdiv {
			label {
				display: block;
			}
		}
		#postcustomstuff {
			input[type="text"] {
				height: 45px;
				line-height: 45px;
			}
			textarea {
				height: 45px;
				line-height: 45px;
				margin: 0;
				padding: 0 15px;
			}
		}
		#trackbacksdiv,
		#revisionsdiv,
		#postexcerpt,
		#postcustomstuff,
		#commentstatusdiv,
		#slugdiv,
		#authordiv {
			padding: 20px;
		}
		.wp-editor-tabs {
			.wp-switch-editor {
				height: 44px;
			}
		}
		.revslider_settings {
			padding: 0 20px;
		}
		.form-table.cmb_metabox {
			table-layout: auto;
			margin: 0;
			td {
				padding: 10px 20px;
			}
			.cmb-type-title {
				background: #ffffff;
				+ tr {
					th, td {
						border-top: none;
					}
				}
				td {
					padding: 35px 0 0;
				}
				h5 {
					font-family: "Roboto";
					font-size: 18px;
					font-weight: 700;
					line-height: 1;
					.rel();
					margin: 0 0 25px;
					padding: 0 0 25px;
					color: #1d1d1d;
					border-bottom: 1px solid @redux-border-color;
					&:before {
						content: "";
						.abs();
						bottom: -3px;
						left: 0;
						.block();
						width: 40px;
						height: 6px;
						background: @redux-blue-color;
					}
				}
				.cmb_metabox_description {
					.hide();
				}
			}
		}
		
		.dfd-metabox-repeater {
			padding: 0 !important;
			border: none;
			.repeatable-group {
				border-collapse: inherit;
				> tbody {
					> tr {
						border-top: 1px solid @cmb-border-color;
					}
				}
				.repeatable-grouping {
					> td {
						padding: 0;
					}
					.cmb-nested-table {
						position: relative;
						border-collapse: inherit;
						.cmb-type-file > th {
							border-right: 1px solid @cmb-border-color;
						}
						.cmb_upload_file {
							width: 60%;
						}
						.cmb_upload_button {
							max-width: 25%;
							float: none;
						}
						.cmb_media_status {
							&:before,
							&:after {
								content: " ";
								display: table;
							}
							&:after {
								clear: both;
							}
						}
						.remove-row-wrap {
							position: absolute;
							top: 0;
							right: 0;
						}
						.remove-row {
							text-align: left;
							.shift-rows {
								@s: 34px;
								position: relative;
								float: none;
								width: 45px;
								height: 45px;
								line-height: 45px;
								margin-right: 10px;
								color: transparent;
								border: none;
								.text-shadow(none);
								.box-shadow(none);
								-webkit-touch-callout: none;
								-webkit-user-select: none;
								-khtml-user-select: none;
								-moz-user-select: none;
								-ms-user-select: none;
								user-select: none;
								-ms-touch-action: none;
								-webkit-tap-highlight-color: transparent;
								display: none;
/*								&:before {
									font-family: "dfd-socicons-font";
									font-size: 10px;
									position: absolute;
									top: 50%;
									left: 50%;
									display: block;
									width: @s;
									height: @s;
									line-height: @s - 4;
									margin-top: -@s / 2;
									margin-left: -@s / 2;
									text-align: center;
									color: #313131;
									border: 2px solid transparent;
									.rounded(50%);
									.transition(border .3s ease 0s);
								}*/
								&.move-up {
									&:before {
										content: "\e9c4";
									}
								}
								&.move-down {
									&:before {
										content: "\e9c5";
									}
								}
								&:hover {
									&:before {
										border-color: rgba(0,0,0,.2);
									}
								}
							}
							.remove-group-row {
								font-size: 16px;
								margin-left: 20px;
								margin-right: 10px;
								padding: 0;
								color: #313131;
								background: transparent !important;
								border: none;
								opacity: .5;
								.box-shadow(none);
								.transition(opacity .3s ease);
								&:before {
									content: "\ea38";
									font-family: "dfd-socicons-font";
								}
								&:disabled {
									opacity: .3;
								}
								&:hover {
									opacity: 1;
									&:disabled {
										opacity: .3;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

#normal-sortables,
#advanced-sortables,
#side-sortables {
	.tooltip-parent.has-tooltip {
		position: relative;
		&:before {
			@s: 22px;
			content: "?";
			font-family: "Roboto";
			font-size: 13px;
			font-weight: 500;
			text-align: center;
			position: absolute;
			top: 30px;
			left: 25px;
			width: @s;
			height: @s;
			line-height: @s;
			margin-top: 0;
			color: #1d1d1d;
			background: #f1f3f5;
			.rounded(8px);
		}
		.dfd-metaboxes-tooltip {
			position: absolute;
			right: 100%;
			top: 30px;
			width: 290px;
			padding: 25px;
			background: #333333;
			opacity: 0;
			visibility: hidden;
			z-index: 9;
			.rounded(6px);
			.transform(translateY(-50%));
			.transition(~"margin .3s ease .3s, visibility .3s ease .3s, opacity .3s ease .3s");
			&:before {
				content: "";
				position: absolute;
				top: 50%;
				left: 100%;
				display: block;
				margin-top: -4px;
				border: 3px solid transparent;
				border-bottom: 2px solid #383838;
				border-left: 4px solid #383838;
			}
			h3 {
				font-size: 13px;
				font-weight: 700;
				margin: 0 0 15px;
				color: #ffffff;
			}
			p.content {
				margin-top: 15px;
				margin-bottom: 0;
				color: #ababab;
			}
			p.link {
				margin-bottom: 0;
				color: #53d298;
				a {
					color: inherit;
				}
			}
		}
		&:hover {
			.dfd-metaboxes-tooltip {
				opacity: 1;
				visibility: visible;
			}
		}
	}
	.dk_container {
		float: left;
		width: 87.5%;
		margin-bottom: 0;
		display: none;
		&:focus {
			outline: 0;
			.dk_toggle {
				&:before {
					background-color: #f3f3f3;
					border: 1px solid #f3f3f3;
					.rounded(3px 3px 0 0);
				}
			}
		}

		::-webkit-scrollbar {
			width: 8px;
			margin-right: 20px;
		}
		::-webkit-scrollbar-track {
			background-color: transparent;
			border: none;
		}
		::-webkit-scrollbar-thumb {
			height: 80px;
			background-color: rgba(0,0,0,.4);
			border-radius: 5px;
		}
		::-webkit-scrollbar-thumb:hover {
			background-color: rgba(0,0,0,.8);
		}

		&.dk_open {
			border-bottom-width: 0;
		}

		a {
			display: block;
			outline: 0;
			color: inherit;
			line-height: 31px;
			cursor: pointer;
			text-decoration: none;
			text-shadow: @cmb-white 0 1px 0;
		}
	}

	.dk_toggle {
		position: relative;
		padding: 7px 45px 7px 20px;
		text-shadow: none;
		white-space: nowrap;
		.rounded(3px);

		@w: 28px;

		&:before,
		&:after {
			content: "";
			display: block;
			position: absolute;
		}
		&:before {
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-color: #f3f3f3;
			border: 1px solid #f3f3f3;
			.rounded(3px);
			.transition(~"background .3s ease 0s, border-color .3s ease 0s");
		}
		&:after {
			right: 14px;
			top: 50%;
			margin-top: -2px;
			border-top: 4px solid #282828;
			border-left: 3px solid transparent;
			border-right: 3px solid transparent;
		}
		span {
			position: relative;
		}
		&:hover {
			&:before {
				background: @cmb-white;
				border-color: @redux-blue-color;
			}
		}
	}

	.dk_open {
		z-index: 10;
		.dk_toggle {
			background-color: transparent;
			color: #565656;
			border-color: @cmb-border-color;
		}
	}

	.dk_options {
		overflow: hidden;
		background-color: transparent;
		border: 1px solid @cmb-border-color;
		border-top-width: 0;
		.box-sizing(content-box);

		a {
			font-size: 13px;
			text-transform: capitalize;
			padding: 8px 10px;
		}
		a:hover {
			color: #282828;
			background-color: #f3f3f3;
		}
		.dk_option_current {
			color: @cmb-dark-color;
		}
		li {
			list-style: none;
			line-height: 1em;
			&:last-child a {
				border-bottom: none;
			}
		}
		.disabled {
			cursor: default;
			a {
				color: #aaa;
			}
			&:hover,
			&:hover a {
				cursor: default;
				background-color: @cmb-white;
				border-bottom-color: #999;
				text-shadow: none;
			}
		}
	}


	.dk_options_inner {
		max-height: 250px;
		padding-top: 0px;
		margin-top: 0px;
		margin-bottom: 0px;
		background: @cmb-white;
		overflow: auto;
		position: relative;
		-webkit-overflow-scrolling: touch;
		li {
			margin: 0;
		}
	}

	.dk_open {
		position: relative;
		.dk_options {
			display: block;
			bottom: auto !important;
			top: 44px !important;
		}
		.dk_label {
			color: inherit;
		}
	}

	.dk_options {
		display: none;
		margin-top: 0;
		position: absolute;
		left: 0;
		right: 0;
		.rounded(0 0 3px 3px);
		a,
		a:link,
		a:visited {
			display: block;
		}
	}

	.dk_container select {
		width: 100px;
		position: absolute;
		top: -99999em;
		visibility: hidden;
	}

	.dk_mobile {
		position: relative;
		select {
			display: block;
			width: 100%;
			height: 100%;
			top: 0; left: 0;
			visibility: visible;
			opacity: 0;
			-moz-appearance:none;
			-webkit-appearance:none;
		}
	}
	input[type="text"].cmb_colorpicker {
		max-width: 170px;
	}
	input[type="text"]:not(.cmb_colorpicker):not(#jj):not(#aa):not(#hh):not(#mn) {
		.admin-text-input();
		&.cmb_upload_file {
			width: 60%;
		}
	}
	textarea {
		&:not(#excerpt) {
			height: auto !important;
		}
		font-family: "Roboto";
		font-size: 14px;
		font-weight: 400;
		width: 100%;
		color: #505050;
		background: #f1f3f5;
		border: 1px solid @redux-border-color;
		outline: none;
		.rounded(4px);
		.box-shadow(none);
		.transition(border-color .3s ease);
		line-height: 1.667;
		padding-top: 10px !important;
		padding-bottom: 10px !important;
		&:hover,
		&:focus {
			border-color: #9abeff;
			outline: none;
			.box-shadow(none);
		}
	}
	textarea {
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.cmb-type-wysiwyg {
		.wp-switch-editor {
			height: 44px;
			padding-left: 15px;
			padding-right: 15px;
		}
	}
	select:not(#mm) {
		width: 100%;
		height: 45px;
		min-height: 45px;
		line-height: 43px;
		padding: 0 10px;
		background-color: #ffffff;
		background-image: url(../img/menu-icons.png);
		background-repeat: no-repeat;
		background-position: 99% -1101px;
		background-size: 31px auto;
		border: 1px solid #e1e4e8;
		.box-shadow(none);
		.rounded(4px);
		.transition(~"background-color .3s ease, border-color .3s ease");
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		option {
			text-transform: capitalize;
		}
		&:hover,
		&:focus {
			border-color: #9abeff;
			outline: none;
			.box-shadow(none);
		}
		&:focus {
			
		}
	}
}

#side-sortables {
	.postbox {
		padding: 25px;
		border-color: transparent;
		.rounded(5px);
		.box-shadow(0 8px 40px 0 #e0e4e9);
		.box-sizing(border-box);
		button.handlediv.button-link {
			position: relative;
			.toggle-indicator {
				&:before {
					content: "";
					position: absolute;
					top: 50%;
					right: 15px;
					display: block;
					width: auto;
					height: auto;
					margin-top: 2px;
					border: 4px solid transparent;
					border-top-color: #fff;
					.rounded(0);
				}
			}
		}
		&.closed {
			button.handlediv.button-link {
				.toggle-indicator {
					&:before {
						margin-top: -2px;
						border-top-color: transparent;
						border-bottom-color: #fff;
					}
				}
			}
		}
	}
	.tooltip-parent.has-tooltip {
		&:before {
			top: 25px;
		}
		> label {
			padding-left: 40px;
		}
	}
	button.handlediv {
		width: 20px;
		height: 20px;
		.toggle-indicator:before {
			color: #1d1d1d;
		}
	}
	h2 {
		font-family: "Roboto";
		font-size: 18px;
		font-weight: 700;
		.rel();
		padding: 0 0 25px;
		margin: 0 0 25px;
		color: #1d1d1d;
		border-bottom: 1px solid @redux-border-color;
		background: transparent;
		&:before {
			content: "";
			.abs();
			bottom: -2px;
			left: 0;
			.block();
			width: 30px;
			height: 4px;
			background: @redux-blue-color;
		}
	}
	.inside {
		padding: 0;
		p {
			font-family: "Roboto";
			font-size: 14px;
			font-weight: 400;
			color: #8d9199;
		}
		label {
			font-family: "Roboto";
			font-size: 14px;
			font-weight: 500;
			color: #202020;
		}
		table.cmb_metabox {
			tr {
				&:not(:last-child) {
					td {
						padding-bottom: 30px;
					}
				}
			}
			td {
				padding: 0;
				border-top: none;
			}
		}
	}
	#submitdiv {
		.submitbox {
			#minor-publishing {
				#minor-publishing-actions {
					padding: 0;
					#save-action {
						display: block;
						width: 100%;
					}
					#preview-action {
						.preview.button {
							font-family: "Roboto";
							font-size: 12px;
							font-weight: 700;
							text-transform: uppercase;
							text-decoration: none;
							text-align: center;
							.block();
							float: none;
							height: 45px;
							line-height: 45px;
							padding: 0 20px 0 40px;
							color: #222222;
							background-color: transparent;
							background-image: url(../img/metabox-icons.png);
							background-size: 40px auto;
							background-position: 5px -55px;
							background-repeat: no-repeat;
							outline: none;
							border: 1px solid @redux-border-color;
							.rounded(4px);
							.box-shadow(none);
							.transition(~"background-color .3s ease, border-color .3s ease");
							&:hover {
								background-color: #f1f3f5;
								border-color: #f1f3f5;
							}
							.screen-reader-text {
								.hide();
							}
						}
					}
				}
				#misc-publishing-actions {
					padding: 30px 0 0;
					.misc-pub-section {
						font-family: "Roboto";
						font-size: 14px;
						font-weight: 400;
						padding: 20px 0 0;
						color: #969ca3;
						b,
						> span:not(#timestamp) {
							font-weight: 500;
							color: #202020;
						}
						a:not(.button) {
							text-decoration: underline;
							color: @redux-blue-color;
							outline: none;
							.box-shadow(none);
						}
						&:before {
							.hide();
						}
						&.misc-pub-post-status {
							padding: 0;
							
						}
						&.misc-pub-visibility {
							
						}
						&.misc-pub-curtime {
							#timestamp {
								&:before {
									.hide();
								}
								b {
									.inline-block();
									min-width: 65%;
									margin-top: 5px;
								}
							}
							#timestampdiv {
								.timestamp-wrap {
									.clearfix();
									> * {
										.inline-block();
									}
								}
							}
						}
					}
				}
			}
			#major-publishing-actions {
				padding: 30px 0 0;
				background: transparent;
				border: none;
				.clearfix();
				#purge-action {
					padding-bottom: 20px;
					a {
						font-family: "Roboto";
						font-size: 14px;
						line-height: 1;
						color: @cmb-red;
						text-decoration: underline;
						height: auto;
						border-width: 0;
						background: transparent;
						.box-shadow(none);
						padding: 0;
						&:hover {
							color: darken(@cmb-red, 5%);
						}
					}
				}
				#duplicate-action {
					padding-bottom: 20px;
					a {
						color: @redux-blue-color;
					}
				}
				#delete-action {
					float: right;
					.submitdelete.deletion {
						font-family: "Roboto";
						font-size: 14px;
						font-weight: 400;
						text-decoration: underline;
						height: 45px;
						line-height: 45px;
						color: @cmb-red;
						.transition(color .3s ease);
						&:hover {
							color: darken(@cmb-red, 5%);
						}
					}
				}
				#publishing-action {
					float: left;
					.spinner {
						float: right;
						width: 15px;
						height: 15px;
						margin: 15px 0 0 5px;
						background-size: 15px 15px;
					}
					.button.button-primary {
						font-family: "Roboto";
						font-size: 12px;
						font-weight: 700;
						text-transform: uppercase;
						.rel();
						height: @redux-admin-input;
						line-height: @redux-admin-input;
						padding: 0 25px 0 45px;
						color: #ffffff !important;
						background-color: @redux-blue-color !important;
						background-image: url(../img/metabox-icons.png) !important;
						background-size: 40px auto !important;
						background-position: 5px -5px !important;
						background-repeat: no-repeat !important;
						border: none;
						.rounded(4px);
						outline: none;
						.box-shadow(0 8px 35px 0 fade(@redux-blue-color, 60%));
						.transition(~"background-color .3s ease, box-shadow .3s ease");
						&:before {
							content: "\ec42";
							font-family: "icomoon";
							font-size: 18px;
							font-weight: normal;
							position: absolute;
							top: 50%;
							left: 15px;
							display: block;
							height: 1em;
							line-height: 1;
							margin-top: -0.5em;
							color: #7eabff;
							.transition(color .3s ease);
						}
						&:hover,
						&:active {
							background-color: #095aee;
							background-position: 6px -645px;
							.box-shadow(0 8px 35px 0 #2f78ff);
							&:before {
								color: #ffffff;
							}
						}
					}
				}
			}
		}
	}
	#postimagediv {
		#set-post-thumbnail {
			font-family: "Roboto";
			font-size: 12px;
			font-weight: 700;
			text-transform: uppercase;
			text-decoration: none;
			text-align: center;
			.block();
			text-indent: 20px;
			//padding: 0 20px 0 40px;
			//height: 45px;
			line-height: 45px;
			color: #222222;
			background-color: transparent;
			background-image: url(../img/menu-icons.png);
			background-size: 24px auto;
			background-position: 20px -275px;
			background-repeat: no-repeat;
			outline: none;
			border: 1px solid @redux-border-color;
			.rounded(4px);
			.box-shadow(none);
			.transition(~"background-color .3s ease, border-color .3s ease");
			img {
				display: block;
			}
			&:hover {
				background-color: #f1f3f5;
				border-color: #f1f3f5;
			}
		}
	}
	#pageparentdiv {
		.inside {
			> * {
				float: none;
				width: 100%;
			}
			input[type="text"] {
				height: 45px;
				line-height: 45px;
			}
		}
	}
	#rocket_post_exclude {
		.misc-pub-section {
			input[type="checkbox"] {
				@s: 18px;
				position: relative;
				background: transparent;
				border-width: 0;
				.box-shadow(none);
				margin: 0 10px 0 0;
				cursor: pointer;
				width: @s;
				height: @s;
				overflow: hidden;
				&:before {
					content: "";
					display: block;
					width: @s;
					height: @s;
					position: absolute;
					left: 50%;
					top: 50%;
					margin-top: -@s/2;
					margin-left: -@s/2;
					background: @cmb-white;
					border: 1px solid @cmb-border-color;
					.transition(~"background .3s ease, border-color .3s ease");
					.box-sizing(border-box);
				}
				&:after {
					content: "\eae0";
					font-family: "icomoon";
					font-size: 40px;
					display: block;
					position: absolute;
					top: 50%;
					left: 50%;
					margin-top: -2px;
					color: @cmb-white;
					.transform(translate(-50%, -50%) scale(0));
					.transition-transform(.3s ease);
				}
				&:hover {
					&:before {
						border-color: @redux-blue-color;
					}
				}
				&:checked {
					&:before {
						background: @redux-blue-color;
						border-color: @redux-blue-color;
					}
					&:after {
						.transform(translate(-50%, -50%) scale(1));
					}
				}
			}
		}
	}
	.form-table.cmb_metabox {
		label {
			display: block;
			margin-bottom: 10px;
		}
		.dk_container {
			width: 100%;
		}
		.cmb_metabox_description {
			display: none;
		}
		input[type=radio] {
			@s: 25px;
			&:before {
				margin-top: -(@s / 2 + 1);
				margin-left: -(@s / 2 + 1);
			}
		}
	}
	.cmb-type-checkbox {
		> td {
			&:before,
			&:after {
				content: " ";
				display: table;
			}
			&:after {
				clear: both;
			}
			> * {
				float: left;
			}
			> label {
				width: 60%;
				height: 32px;
				line-height: 32px;
			}
		}
	}
	.dfd-switch-button {
		label {
			height: 100%;
		}
	}
	#timestampdiv {
		.timestamp-wrap {
			input[type="text"] {
				padding: 0 3px;
			}
		}
	}
}

.form-table.cmb_metabox {
	.cmb_checkbox_list {
		> li {
			margin-bottom: 10px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	input[type="text"]:not(.cmb_upload_file),
	textarea {
		width: 87.5%;
	}
	input[type="text"] {
		height: 45px;
		line-height: 45px;
		+ .button {
			margin-top: 1px;
			margin-left: 4px;
		}
	}
	input[type="checkbox"] {
		@s: 18px;
		position: relative;
		background: transparent;
		border-width: 0;
		.box-shadow(none);
		margin: 0 10px 0 0;
		cursor: pointer;
		width: @s;
		height: @s;
		overflow: hidden;

		&:before {
			content: "";
			display: block;
			width: @s;
			height: @s;
			position: absolute;
			left: 50%;
			top: 50%;
			margin-top: -@s/2;
			margin-left: -@s/2;
			background: @cmb-white;
			border: 1px solid @cmb-border-color;
			.transition(~"background .3s ease, border-color .3s ease");
		}
		&:after {
			content: "\eae0";
			font-family: "icomoon";
			font-size: 40px;
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -2px;
			color: @cmb-white;
			.transform(translate(-50%, -50%) scale(0));
			.transition-transform(.3s ease);
		}
		&:hover {
			&:before {
				border-color: @redux-blue-color;
			}
		}
		&:checked {
			&:before {
				background: @redux-blue-color;
				border-color: @redux-blue-color;
			}
			&:after {
				.transform(translate(-50%, -50%) scale(1));
			}
		}
	}
	.button:not(.wp-color-result) {
		position: relative;
		font-weight: bold;
		height: 45px;
		line-height: 45px;
		padding: 0 35px;
		color: @cmb-white;
		background: @redux-blue-color;
		border: none;
		.rounded(3px);
		.box-shadow(none);
		.transition(background .3s ease 0s);
		.wp-media-buttons-icon {
			float: left;
			height: 100%;
			line-height: inherit;
			margin-left: -10px;
			margin-right: 15px;
			color: inherit;
			&:before {
				line-height: inherit;
				color: inherit;
			}
		}
		&:hover,
		&:active {
			background: #4bc28c;
		}
	}
	.dfd-switch-button {
		@s: 43px;
		.rel();
		.inline-block();
		height: @s;
		input[type="checkbox"] {
			display: none;
		}
		.button-animation {
			.block();
			.clearfix();
			border: 1px solid @redux-border-color;
			.rounded(4px);
			> span {
				font-family: "Roboto";
				font-size: 12px;
				font-weight: 500;
				text-transform: uppercase;
				float: left;
				.block();
				line-height: @s;
				padding: 0 20px;
				color: #17110f;
				.rounded(4px);
				.transition(~"color .3s ease, background .3s ease, box-shadow .3s ease");
			}
			&:not(.right-active) {
				> span {
					&.dfd-button-on {
						height: @s + 2;
						margin: -1px;
						color: #ffffff;
						background: #4ecc48;
						.box-shadow(0 8px 20px 0 rgba(62,213,55,0.65));
					}
				}
			}
			&.right-active {
				> span {
					&.dfd-button-off {
						height: @s + 2;
						margin: -1px;
						color: #ffffff;
						background: #b4bbc1;
						.box-shadow(0 8px 20px 0 rgba(193,199,205,0.65));
					}
				}
			}
		}
	}
	.cmb-type-radio_image {
		@w: 90px;
		@h: 80px;
		@delim: 1px;
		.box-sizing(border-box);
		* {
			.box-sizing(border-box);
		}
		ul.cmb_radio_list {
			> li {
				position: relative;
				float: left;
				width: @w;
				height: @h;
				margin: 0 10px 0 0;
				> label {
					position: relative;
					width: @w;
					height: @h;
					margin: 0;
					padding: 0;
					> span.tooltip {
						font-size: 12px;
						position: absolute;
						top: 100%;
						left: 50%;
						display: block;
						padding: 5px 30px;
						margin-top: 5px;
						background: #383838;
						color: #ffffff;
						white-space: nowrap;
						opacity: 0;
						visibility: hidden;
						z-index: 2;
						.transform(translateX(-50%));
						.transition(~"opacity .3s ease 0s, visibility .3s ease 0s");
						&:before {
							content: "";
							position: absolute;
							bottom: 100%;
							left: 50%;
							display: block;
							margin-left: -1px;
							border: 2px solid transparent;
							border-left: 2px solid #383838;
							border-bottom: 2px solid #383838;
						}
					}
				}
				> input[type="radio"] {
					opacity: 0;
					position: absolute;
					top: 50%;
					left: 50%;
					.transform(translate(-50%, -50%));
				}
				&:nth-child(1) {
					> label {
						background-position: 0px 0px;
					}
					> input[type="radio"] {
						&:checked {
							+ label {
								background-position: 0px -(@h + @delim)*2;
							}
						}
					}
					&:hover {
						> label {
							background-position: 0px -(@h + @delim);
						}
						> input[type="radio"] {
							&:checked {
								+ label {
									background-position: 0px -(@h + @delim)*2;
								}
							}
						}
					}
				}
				&:nth-child(2) {
					> label {
						background-position: -(@w + @delim) 0px;
					}
					> input[type="radio"] {
						&:checked {
							+ label {
								background-position: -(@w + @delim) -(@h + @delim)*2;
							}
						}
					}
					&:hover {
						> label {
							background-position: -(@w + @delim) -(@h + @delim);
						}
						> input[type="radio"] {
							&:checked {
								+ label {
									background-position: -(@w + @delim) -(@h + @delim)*2;
								}
							}
						}
					}
				}
				&:nth-child(3) {
					> label {
						background-position: -(@w + @delim)*2 0px;
					}
					> input[type="radio"] {
						&:checked {
							+ label {
								background-position: -(@w + @delim)*2 -(@h + @delim)*2;
							}
						}
					}
					&:hover {
						> label {
							background-position: -(@w + @delim)*2 -(@h + @delim);
						}
						> input[type="radio"] {
							&:checked {
								+ label {
									background-position: -(@w + @delim)*2 -(@h + @delim)*2;
								}
							}
						}
					}
				}
				&:nth-child(4) {
					> label {
						background-position: -(@w + @delim)*3 0px;
					}
					> input[type="radio"] {
						&:checked {
							+ label {
								background-position: -(@w + @delim)*3 -(@h + @delim)*2;
							}
						}
					}
					&:hover {
						> label {
							background-position: -(@w + @delim)*3 -(@h + @delim);
						}
						> input[type="radio"] {
							&:checked {
								+ label {
									background-position: -(@w + @delim)*3 -(@h + @delim)*2;
								}
							}
						}
					}
				}
				&:nth-child(5) {
					> label {
						background-position: -(@w + @delim)*4 0px;
					}
					> input[type="radio"] {
						&:checked {
							+ label {
								background-position: -(@w + @delim)*4 -(@h + @delim)*2;
							}
						}
					}
					&:hover {
						> label {
							background-position: -(@w + @delim)*4 -(@h + @delim);
						}
						> input[type="radio"] {
							&:checked {
								+ label {
									background-position: -(@w + @delim)*4 -(@h + @delim)*2;
								}
							}
						}
					}
				}
				&:nth-child(6) {
					> label {
						background-position: -(@w + @delim)*5 0px;
					}
					> input[type="radio"] {
						&:checked {
							+ label {
								background-position: -(@w + @delim)*5 -(@h + @delim)*2;
							}
						}
					}
					&:hover {
						> label {
							background-position: -(@w + @delim)*5  -(@h + @delim);
						}
						> input[type="radio"] {
							&:checked {
								+ label {
									background-position: -(@w + @delim)*5 -(@h + @delim)*2;
								}
							}
						}
					}
				}
				&:nth-child(7) {
					> label {
						background-position: -(@w + @delim)*6 0px;
					}
					> input[type="radio"] {
						&:checked {
							+ label {
								background-position: -(@w + @delim)*6 -(@h + @delim)*2;
							}
						}
					}
					&:hover {
						> label {
							background-position: -(@w + @delim)*6 -(@h + @delim);
						}
						> input[type="radio"] {
							&:checked {
								+ label {
									background-position: -(@w + @delim)*6 -(@h + @delim)*2;
								}
							}
						}
					}
				}
				&:nth-child(8) {
					> label {
						background-position: -(@w + @delim)*7 0px;
					}
					> input[type="radio"] {
						&:checked {
							+ label {
								background-position: -(@w + @delim)*7 -(@h + @delim)*2;
							}
						}
					}
					&:hover {
						> label {
							background-position: -(@w + @delim)*7 -(@h + @delim);
						}
						> input[type="radio"] {
							&:checked {
								+ label {
									background-position: -(@w + @delim)*7 -(@h + @delim)*2;
								}
							}
						}
					}
				}
				&:nth-child(9) {
					> label {
						background-position: -(@w + @delim)*8 0px;
					}
					> input[type="radio"] {
						&:checked {
							+ label {
								background-position: -(@w + @delim)*8 -(@h + @delim)*2;
							}
						}
					}
					&:hover {
						> label {
							background-position: -(@w + @delim)*8 -(@h + @delim);
						}
						> input[type="radio"] {
							&:checked {
								+ label {
									background-position: -(@w + @delim)*8 -(@h + @delim)*2;
								}
							}
						}
					}
				}
				&:last-child {
					margin-right: 0;
				}
				&:hover {
					> label {
						> span.tooltip {
							opacity: 1;
							visibility: visible;
						}
					}
				}
			}
		}
	}
	.cmb-type-radio_inline_double {
		ul.cmb_radio_list {
			@s: 43px;
			display: inline-block;
			margin: 0;
			padding: 0;
			border: 1px solid @redux-border-color;
			.rounded(4px);
			> li {
				.rel();
				.block();
				float: left;
				margin: 0;
				padding: 0;
				&:first-child {
					input[type="radio"]:checked {
						+ label {
							height: @s + 2;
							line-height: @s + 2;
							margin: -1px !important;
							color: #ffffff !important;
							background: #4ecc48;
							.box-shadow(0 8px 20px 0 rgba(62,213,55,0.65));
						}
					}
				}
				&:last-child {
					border-left: 1px solid @redux-border-color;
					input[type="radio"]:checked {
						+ label {
							height: @s + 2;
							line-height: @s + 2;
							margin: -1px !important;
							color: #ffffff !important;
							background: #b4bbc1 !important;
							.box-shadow(0 8px 20px 0 rgba(193,199,205,0.65));
						}
					}
				}
				label {
					font-family: "Roboto";
					font-size: 12px !important;
					font-weight: 500 !important;
					text-transform: uppercase !important;
					.rel();
					float: left;
					.block();
					line-height: @s;
					margin: 0 !important;
					padding: 0 20px;
					color: #17110f;
					.rounded(4px);
					z-index: 2;
					.transition(~"color .3s ease, background .3s ease, box-shadow .3s ease");
					&:before {
						.hide();
					}
				}
				input[type="radio"] {
					.abs();
					top: 0;
					left: 0;
					.block();
					width: 100%;
					height: 100%;
					opacity: 0;
					&:not(:checked) {
						+ label:hover {
							background: #f1f3f5;
						}
					}
				}
			}
		}
	}
	.cmb-type-radio_inline_triple {
		ul.cmb_radio_list {
			@s: 42px;
			display: inline-block;
			.radio-advanced-style();
			> li {
				margin: 0;
				padding: 0;
				input[type="radio"]:checked {
					+ label {
						color: #ffffff;
						background: @redux-blue-color;
						border-color: transparent;
						.rounded(4px);
						.box-shadow(0 8px 35px 0 fade(#2f78ff, 60%));
						.transition(none);
						&:before {
							border-bottom-color: transparent;
						}
					}
				}
				label {
					.rel();
					margin: 0;
					&:before {
						left: -1px;
						right: -1px;
						bottom: -1px;
					}
				}
			}
		}
	}
	.cmb-type-radio_inline {
		.cmb_radio_list li {
			display: block;
			padding-right: 0;
			margin: 13px 0 10px;
			input[type=radio] {
				width: 22px;
				height: 22px;
				box-shadow: none;
				border-color: #e1e4e8;
				margin-right: 20px;
				&:before {
					width: 14px;
					height: 14px;
					margin: 3px;
				}
				&:hover {
					border-color: #9abeff;
				}
				&:checked {
					border-color: @redux-blue-color;
					+ label {
						font-weight: 500;
					}
					&:before {
						background: @redux-blue-color;
					}
				}
			}
		}
	}
	.cmb-type-taxonomy_multicheck {
		.cmb_checkbox_list {
			padding-top: 20px;
		}
	}
}

#postcustomstuff #newmetaleft a.dk_toggle {
	display: block;
	width: 100%;
	margin: 0;
}

body {
	&.post-type-page,
	&.post-type-post,
	&.post-type-my-product,
	&.post-type-gallery,
	&.post-type-product {
		#screen-options-wrap form#adv-settings {
			> h5:first-child,
			.metabox-prefs {
				display: none;
			}
		}
	}
}