/* 
    Created on : 17.06.2017, 13:05:07
    Author     : DFD
	Styles for : Radio Advanced VC param
*/
.dfd-radio-advanced-container {
	ul.options-list {
		.radio-advanced-style();
		li label {
			padding: 0 15px;
		}
	}
}