#section1{
 /* @include breakpoint(lg){padding:25px 25px 0;}
  @include breakpoint(mlg){padding:50px 50px 0;}*/
}
#section1 .panel-content{
  background-image: linear-gradient(108deg, rgb(65, 31, 89) 0%, rgb(88, 36, 101) 17%, rgb(119, 42, 118) 45%, rgb(139, 14, 86) 100%);

  &:after{
    /*content: '';
    background:url('../images/shadow.png');
    position:absolute;
    height: 402px; width: 100%;
    bottom:75px;*/
  }
  @include breakpoint(xs) {
    background:url('../images/mobile-banner.png') no-repeat !important;
    background-size:cover !important;  
}

  .banner {

    div.laptop-wrapper img { 
         
            border: 2px solid #fff;
    }
      @include breakpoint(xs) {
            padding: 0 30px;
            display: block;
      }
       @include breakpoint(lg) {
          padding-top: 0;
          min-height: calc(100vh - 200px); 
       }
      @include breakpoint(md) {
          display: flex;
          justify-content:center;
          vertical-align: middle;
          align-items:center;
          padding-top: 45px;
          min-height: calc(100vh - 40%);
      }
      .responsive-icon{
        max-width: 130px;
         @include breakpoint(lg) { max-width: 130px; }
        @include breakpoint(md) { max-width: 90px;padding: 0 0 20px; }
         @include breakpoint(xs) { max-width: 100px; }
      }
    
     
      &:after {
        content: '';
        background:url('../images/after-shadow.png');
      }

  }
 
  .banner-content {

    @include breakpoint(xlg) {padding: 0 0 0 6%;}
   
    @include breakpoint(mlg)  {padding: 0 0% 0 6%;}
    @include breakpoint(lg)   {padding-left: 4%; padding-right: 2%;}
    @include breakpoint(md)   {padding: 0 30px;}
    @include breakpoint(sm)   {padding: 0 50px;}
   
    .button{
       @include breakpoint(md) {
            display: block;
        }
        @include breakpoint(sm) {
            display: none;
        }
         @include breakpoint(xs) {
            display: none;
        }
    }
    .banner-title{ 

       font-family: 'Raleway-bold';
       color: #fff;
        
        @include breakpoint(xxlg){ font-size: 53px; line-height: 67px;max-width: 800px;}
        @include breakpoint(xlg){ font-size: 45px; line-height: 55px;max-width: 600px;}
        @include breakpoint(mlg){ margin-bottom: 0;max-width: 530px;}
        @include breakpoint(lg){ font-size: 30px; line-height: 35px; margin-bottom: 15px;max-width: 480px;}
        @include breakpoint(md){ font-size: 25px; line-height: 31px; }
        @include breakpoint(sm){ font-size: 35px; line-height: 41px;}
        @include breakpoint(xs){ font-size: 25px; line-height: 29px;text-align: center;}

     //   margin-bottom: 35px;

    }
    .banner-subtext{
      color: #fff;
      font-family: 'THEREALMAGAZINE1';
      transform: rotate(-3.78deg)
             skew(-3.78deg);

        @include breakpoint(xxlg){ font-size: 150px; line-height: 100px; padding: 15px 0 70px;}
         @include breakpoint(xlg){ font-size: 120px; line-height: 100px; padding: 15px 0 70px;}
        @include breakpoint(mlg){   padding:5px 0 40px;}
         @include breakpoint(lg){ font-size: 90px; line-height: 80px;  padding: 0 0 40px;}
        @include breakpoint(md){ font-size: 60px; line-height: 60px;  padding: 0 0 20px;}
        @include breakpoint(sm){ font-size: 90px; line-height: 80px;  padding: 0 0 40px;}
         @include breakpoint(xs){ font-size: 60px; line-height: 70px;  padding: 0 0 15px; text-align: center;}
        &:after {
          content: '';
          background:url('../images/find-out-more.svg') no-repeat;
          position:absolute;
          width: 184px; height: 60px;
          margin-left: 75px;
          @include breakpoint(xlg){margin-left: 75px;top: 25px; }
          @include breakpoint(lg){margin-left: 30px;top: 0;background-size: 100%;}
          @include breakpoint(md){margin-left: 30px;top: 0;background-size: 68%; }
          @include breakpoint(ipad-portrait){display: none;}
          @include breakpoint(xs){display: none; }
        }
    }
    .small-text {

       @include breakpoint(xlg) {  font-size: 24px; line-height: 30px;max-width: 625px;}
       @include breakpoint(mlg) {  font-size: 20px; line-height: 26px;margin-bottom: 20px;max-width: 600px;}
       @include breakpoint(lg) {  font-size: 17px; line-height: 22px;margin-bottom: 25px;max-width: 550px;}
       @include breakpoint(md) {  font-size: 16px; line-height: 20px; }
       @include breakpoint(sm) {  font-size: 16px; line-height: 20px; margin-bottom: 25px;}
       @include breakpoint(xs) {  font-size: 14px; line-height: 20px; text-align: center; }

       ul { padding: 0; }
       ul li {

       @include breakpoint(xlg) {  font-size: 21px; line-height: 26px;}
       @include breakpoint(mlg) {  font-size: 20px; line-height: 26px;margin-bottom: 20px;}
       @include breakpoint(lg) {  font-size: 17px; line-height: 22px;margin-bottom: 25px;}
       @include breakpoint(md) {  font-size: 13px; line-height: 14px;padding-right: 10px; }
       @include breakpoint(sm) {  font-size: 16px; line-height: 20px; margin-bottom: 25px;}
       @include breakpoint(xs) {  font-size: 15px; line-height: 20px; }

        text-transform: uppercase;
         @include breakpoint(sm){ 
          display: inline-block; padding-right:20px;
         
         }
        @include breakpoint(xs){ 
             text-transform: uppercase;
        }

       }
        font-family: 'Raleway-Medium';
        color:#fff;
      
         @include breakpoint(xs){margin-bottom: 20px; }

      ul li img {
      //    width: 32px;
         
             @include breakpoint(mlg) { width: 15px; margin-right: 5px;}
              @include breakpoint(lg) { width: 15px; margin-right: 5px;}
              @include breakpoint(sm) { width: 15px; margin-right: 5px;}
              @include breakpoint(xs) { width: 14px; }
         
         
        }
      }
    
    }
}

.video-content {
   @include breakpoint(xs){ padding: 0; }

    @include breakpoint(xlg) {padding: 0 6% 0 0;}
    
    @include breakpoint(mlg)  {padding: 0 4% 0 0%;}
    @include breakpoint(lg)   {padding-left: 0; padding-right: 4%;}
    @include breakpoint(md)   {padding: 0 30px;}
    @include breakpoint(sm)   {padding: 0 50px;}


  .button{
    display: none;
     @include breakpoint(xs) {display: block; text-align: center;margin: 40px 0 30px;}
     @include breakpoint(sm) {display: block; text-align: center;margin: 25px 0 10px;}
     @include breakpoint(md) { display: none; }
  }

  .contact-header {
    display: none;
     @include breakpoint(xs) {display: block; text-align: center; padding: 5px 0 0;  }
     @include breakpoint(sm) {display: block; text-align: center;  padding: 20px 0 0; }
      @include breakpoint(md) { display: none; }
  }
}
.slideInFromRight{
  animation: 2s ease-out 0s 1 slideInFromRight;
}

.slideInFromLeft{
  animation: 2s ease-out 0s 1 slideInFromLeft;
}


@keyframes slideInFromRight {
  0% {
    transform: translateX(150px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-150px);
  }
  100% {
    transform: translateX(0);
  }
}
.springy-text {
  color: darkslateblue;
  animation-name: springy-text;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-iteration-count: 6;
  animation-direction: alternate-reverse;
  animation-fill-mode: backwards;
}
@keyframes springy-text {
  0%   {
    letter-spacing:1.2em;
    color: thistle;
  }
  100%   {
    letter-spacing:0.1em;
    color: darkslateblue;
  }
}


.mobile-wrapper {
    position: absolute;
    top: 61%;
    z-index: 9999;
  //  background: #000; 
    //border: 7px solid #fff;
   // border-radius:30px;
   

  @include breakpoint(xlg){  width: 55%; height: auto;left: 29%; top: 40%; }
  @include breakpoint(mlg){  width: 60%; height: auto;left: 27%; }
   @include breakpoint(lg) {  display: block; width: 50%; top: 45%;left: 27%;height: 37%; }
  @include breakpoint(md) {  display: block; width: 40%; top: 45%;left: 48%;height: 37%; }

  @include breakpoint(sm) { left: 27%; width: 50%; height: 28%; top: 56%; }
  @include breakpoint(xs) { display: none; }

    iframe{
      border-radius:25px 25px 25px 26px;
    }
}
.laptop-wrapper-mobile {
  display: none;
 @include breakpoint(xs) { display: block;padding-bottom: 15px; }
 img { border: 2px solid #fff;}

}
div.laptop-wrapper {
 @include breakpoint(xs) { display: none; }
    position: relative; 
   /* padding-top: 25px;
    padding-bottom: 67.5%;
    @include breakpoint(mlg) {padding-bottom: 60.5%; }
    @include breakpoint(lg) {padding-bottom: 56.5%; }
    @include breakpoint(md) {padding-bottom: 54.5%; }
    height: 0;
     @include breakpoint(xs) {
        padding-top:0;
        padding-bottom:48.5%;
     }*/
} 


