#section2 > .panel-content{
	@include breakpoint(lg){ padding: 0; }

	@include breakpoint(xs){ padding: 20px 0 0 0; }
}
.benefits {
	    


	    @include breakpoint(xs) {  flex-direction: column-reverse;    display: flex; }
 	     @include breakpoint(lg) {  
	     //	flex-direction:column-reverse; 
	     	vertical-align: middle;
	    	display: flex;
		    justify-content: center;
		    vertical-align: middle;
		    align-items: flex-end;
		    text-align: center;
    		align-items: center; 
    		 padding: 0;
    	}

    	 @include breakpoint(mlg) { display: flex; padding: 0;justify-content: center; vertical-align: middle; align-items: center; }
    	 @include breakpoint(sm) { padding: 0 50px; }
	.title {
		
		font-family: 'THEREALMAGAZINE1';
		color: #652D90;
		
		text-align: left;
		

		 @include breakpoint(xxlg){font-size: 76px; line-height: 76px; }
		 @include breakpoint(xlg){font-size: 65px; line-height: 65px;padding-bottom: 26px; }
		 @include breakpoint(mlg){font-size: 65px; line-height: 65px; }
		  @include breakpoint(lg){font-size: 60px; line-height: 45px;padding-bottom: 20px; padding-left: 0; }
		 @include breakpoint(md){font-size: 65px; line-height: 65px; }
		 @include breakpoint(sm){font-size: 55px; line-height: 55px; padding-left: 0; }


		@include breakpoint(xs) {  
			padding: 0 30px;
			font-size: 47px; 
			line-height: 50px;
			text-align: center;
		}
	} 
	.leftimage {

		

	}
	.leftimage.animated{
		opacity: 1;
	}
	.box-icon {
		text-align: center;
		//padding-bottom:25px;
		img {
			    max-width: 50px;
			@include breakpoint(md) {  max-width: 70px;  }
			@include breakpoint(sm) {  max-width: 50px;  }
		}
	}
	.rightsection{ 

		// opacity: 0; 
		 @include breakpoint(lg){ padding: 65px 25px; }
		 @include breakpoint(md){ padding: 0 45px;padding-bottom: 75px;  }
		 @include breakpoint(xlg) { width: 54%; float: left; }
		 @include breakpoint(xs) { padding-bottom: 25px; }
	}
	.rightsection.animated{opacity: 1;}
	.small-text{

		  font-size: 24px; line-height: 30px;
		  font-family: 'Raleway-bold';
	      color:#3C3C3C;
	      text-align: left;

	    @include breakpoint(xxlg){
			font-size: 24px; line-height: 30px;
			padding: 15px 0 0; 
		}
		 @include breakpoint(mlg){
			font-size: 20px; line-height: 25px;  
			padding: 15px 0 0; 
		}
	     @include breakpoint(md){ 
			font-size: 19px; line-height:23px;
			padding: 15px 0 0; 
		}
		@include breakpoint(sm){
			font-size: 18px; 
			line-height: 24px;
			padding: 15px 0 0; 
		}
		@include breakpoint(xs){
			font-size: 15px; 
			line-height: 21px;
			padding: 30px 30px 0; 
		}

       
	}
	.button{
		text-align: center;
		@include breakpoint(sm){ text-align: center; }
		@include breakpoint(md){ text-align: center; }
		@include breakpoint(xs){ text-align: center; }
		@include breakpoint(lg){ text-align: center; padding: 0;  }
		@include breakpoint(mlg){ text-align: center; } 


	}
	.boxes > div {
		padding-bottom:25px;
		padding-left:0;
		
		@include breakpoint(md){ min-height: 287px; width: 33.33%;}
		@include breakpoint(mlg){padding-right:50px; min-height: 287px;}
		@include breakpoint(xs){ min-height: 100%; }
		@include breakpoint(sm){ min-height: 220px;max-width: 50%; float: left; padding: 0 15px;}
	}
	.boxes {
		text-align: left;
		padding:40px 0;
		@include breakpoint(mlg){padding:40px 0 20px; }
		@include breakpoint(lg){padding:25px 0 5px; }
		@include breakpoint(xs){padding:30px; }

		.box-title{
			font-family: 'Raleway-Black';
			font-size: 34px; line-height:34px;
			padding-bottom: 30px;
			text-align: center;

			@include breakpoint(mlg){ font-size: 24px; line-height:28px; padding-bottom: 15px;}
			@include breakpoint(lg) { font-size: 23px; line-height:23px; padding-bottom: 15px;}
			@include breakpoint(md) { font-size: 25px; line-height:25px; padding-bottom: 15px;}
			@include breakpoint(sm) { font-size: 25px; line-height:25px; padding-bottom: 15px;}
			@include breakpoint(xs) { font-size: 25px; line-height:25px; padding-bottom: 15px;}
		}

		.description{
			 font-family: 'Raleway-Medium';
			 font-size: 20px; line-height: 26px;
			 text-align: center;
			 margin: auto;
			 
			 @include breakpoint(xs){
				font-size: 15px; 
				line-height: 21px;
				 
			}
			@include breakpoint(lg){ font-size: 15px; line-height:21px;max-width: 90%;}
			@include breakpoint(mlg){ font-size: 17px; line-height:23px;max-width: 95%;}
			@include breakpoint(sm){ font-size: 15px; line-height:21px;}

		}
	}
	
}
