.clients {
	  @include breakpoint(mlg){

	    display: block;
	}
	 @include breakpoint(lg){

	   // margin-bottom: 300px;   
	   min-height: 900px; 
	    display: block;
	}

	//@include breakpoint(xlg){margin: 0 6% 400px 6%;}
       	@include breakpoint(mlg){

       		//margin: 0 6% 300px 6%;
       		min-height:900px;
       	}
     	 @include breakpoint(md){
     	 	//margin: 0 4% 35px 4%;
     	 	min-height:800px;

     	 }
      //	@include breakpoint(sm){padding: 35px 0 35px 50px;}


		// @include breakpoint(xs){padding: 0 30px; }
	 	 @include breakpoint(xlg){
	 	 	//margin: 0 6% 500px; 
	 	 	min-height:1200px;
	 	 }
	 	 @include breakpoint(xxlg){
	 	 	//margin: 0 6% 500px; 
	 	 	min-height:1300px; 
	 	 }

	 ul.partner-links{

		 	 display: flex;
		 	 justify-content: center;
		 	 vertical-align: middle;
		 	 align-items:center; 
		 	 flex-wrap: wrap;
		 	 padding: 0; 
		 	 padding-bottom: 20px;


	 	.slick-track {

	 	 	display: flex;
		    justify-content: center;
		    vertical-align: middle;
		    align-items: center;
		 }
	 	li{
	 	  	
    		text-align: center;
    		@include breakpoint(mlg){ margin-bottom: 25px; }
    		@include breakpoint(lg){ margin-bottom: 18px;width: 17%; }
    		@include breakpoint(sm){width: 20%;margin-bottom: 15px; }
    		@include breakpoint(xs){ margin: 15px; }
		   // padding: 30px 84px;
	 	}
	 	img {
	 		//width: 120px;
	 		@include breakpoint(mlg){ max-height: 110px; width: 130px;}
	 		@include breakpoint(lg){ max-height: 100px;width: 100px;}
	 		@include breakpoint(sm){ width: 90px; max-height: 70px; }
	 		@include breakpoint(xs){ width: 80px;max-height: 55px;}

	 	}
	 }
	 ul.partner-links.row2 {
	 	li{
	 	  	//width: 20%;
    		text-align: center;
    		margin: 30px 0;
		   // padding: 30px 84px;
	 	}
	 }
	.title {

		font-family: 'THEREALMAGAZINE1'; 
		color: #833289;
		font-size: 76px; line-height: 60px;
		text-align: center;
		padding-bottom:75px;

		  @include breakpoint(xs){
		  	    font-size: 40px;
    			line-height: 38px;
    			padding:0 10px 10px;
		  }
		   @include breakpoint(xxxs){
		  	    font-size: 43px;
    			line-height: 38px;
    			padding:0 ;
		  }
		   @include breakpoint(sm){
		  	    font-size: 50px;
    			line-height: 50px;
    			padding: 0 5% 25px;
		  }
		   @include breakpoint(md){
		  	    font-size: 55px;
    			line-height: 55px;
    			padding: 0 5% 20px; 
		  }
		   @include breakpoint(xlg){
		   	padding: 20px 5% 30px;
		   }
		  @include breakpoint(mlg){
		  	  font-size: 76px; 
		  	  line-height: 60px;
    			 
		  }
	}
 
  .testimonial {

  	  @include breakpoint(lg){ padding-top:0; }
  	
  	button.slick-prev.slick-arrow {
    position: absolute;
      @include breakpoint(mlg){left: -5%;}
      @include breakpoint(lg){left: -12%;}
      @include breakpoint(sm){left: -31px;} 
       @include breakpoint(xs){left: 0;}
    top: 25%;z-index: 99;
    font-size: 0;background:none;border:0;
    width: 100px;
    height: 100px;
    &:focus{
      outline: none;
    }

    &:before {
      content: '';
      background:url('../images/arrow-left-color.png') no-repeat;
      max-width: 80px;
      width: 100%; height: 100%;
      position: absolute;
    }
}

button.slick-next.slick-arrow {
    position: absolute;
      @include breakpoint(mlg){right: -5%;}
      @include breakpoint(lg){right: -12%;}
      @include breakpoint(sm){right: 0;}  
      @include breakpoint(xs){right: 0;}  

    top: 25%;
    font-size: 0;background:none;border:0;
    width: 100px;
    height: 100px;

    &:focus{
      outline: none;
    }
     &:before {
      content: '';
      background:url('../images/arrow-right-color.png') no-repeat;
      max-width: 80px;
     width: 100%; height: 100%;
      position: absolute;
    }
}



 .slick-dots {
  
  li.slick-active button { background-color: #EB008B; }
  
    button {
     
      text-indent: -9999px;
      width: 1rem;
      height: 1rem;
      padding: 0;
      background-color: #ddd;
      border: none;
      border-radius: 100%;

    }

}

  	.title-test{
  		font-family: 'Raleway-ExtraBold';
  		 @include breakpoint(xlg){
  		 	font-size: 33px; line-height:33px;
  		 }
  		 @include breakpoint(mlg){
  		 	font-size: 28px;
  		 }
  		  @include breakpoint(lg){
  		  	text-align: left;
  		  }
  		  @include breakpoint(md){
  		 	font-size: 22px; text-align: center;
  		 }
  		  @include breakpoint(sm){
  		 	font-size: 24px;line-height:29px;
  		 	text-align: center; 
  		 }
  		 @include breakpoint(xs){
  		 	font-size: 22px;line-height:27px;
  		 	text-align: center; 
  		 }
  	}
  	.club-logo{
  		display: flex;
  		vertical-align: middle;
  		align-items:center;
  		@include breakpoint(lg){
	  		 justify-content:left;display: flex;
	  		 padding: 25px 0;
	  	}
  		@include breakpoint(md){
	  		 justify-content:center;display: flex;
	  		     flex-direction: initial;
	  	}
	  	 @include breakpoint(sm){
	  		 justify-content: center;
	  		 flex-direction: column;
    		text-align: center;
	  	}
  		 @include breakpoint(xs){
	  		 justify-content: center;
	  		 flex-direction: column;
    		text-align: center;
	  	}
	  	@include breakpoint(sm){
	  		 justify-content: center;
	  		 
	  	}

  		img {
  			@include breakpoint(mlg){max-height: 90px;}
  			@include breakpoint(sm){max-height: 70px;}
  			@include breakpoint(xs){max-height: 70px;}
  		}
  		.logo-content {
		   	@include breakpoint(lg){ padding-left: 20px; text-align: left;}
		    @include breakpoint(mlg){ padding-left: 25px; }

		}
  		.logo-content{

  			b{
  				font-family: 'Raleway-Bold';
  			}


  			p{ margin: 0; 

  				
  				@include breakpoint(mlg){
	  			    font-size: 20px;
	    			line-height: 24px;
	    		}
	    		@include breakpoint(lg){
	  			    font-size: 16px;
	    			line-height: 20px;
	    		}

	}
  		}
  	}
  	.title-desc {
  		padding:30px 0;
  		span {}
  		@include breakpoint(xlg){
  		 	font-size: 21px; line-height: 27px;max-width: 590px;
  		 }
  		 @include breakpoint(mlg){
  		 	font-size: 20px; line-height: 26px;max-width: 520px;padding: 30px 0;min-height: 210px;
  		 }
  		  @include breakpoint(lg){
  		 	font-size: 15px; line-height: 21px;max-width: 400px;  margin: unset; padding: 20px 0; text-align: left;min-height: 210px; margin:auto;
  		 }
  		  @include breakpoint(sm){
  		 	max-width: 80%;
  		 	margin:auto;
  		 	text-align: center;
  		 }
  		  @include breakpoint(xs){
  		 	font-size: 15px;
  		 	text-align: center;
  		 }
  	}
  }
 
	 
}
 
	.client-back {  
		div { padding: 0;

			 @include breakpoint(lg){max-width: 500px;}
			 @include breakpoint(mlg){max-width: 600px;}
			 @include breakpoint(xlg){max-width: 650px;}
			 @include breakpoint(xxlg){max-width: 750px;}
	}
	 	position: absolute;
	    bottom: -2px;
	    left: 0;
		background:url('../images/client-bottom.svg') center top no-repeat;
		background-size: cover;
		width: 100%; 
		opacity: 0;
		display: flex;
	    align-items: flex-end;
	    color: #90278E;
	    font-family: 'Raleway-Black';
		 @include breakpoint(xxlg){
		 	height: 687px;
		 	font-size: 41px;
		    line-height: 44px;
		     
		    padding: 0px 5% 80px;
		 }
		 @include breakpoint(xlg){
				 height: 600px;
			    font-size: 37px;
			    line-height: 43px;
			    padding: 0px 4.5% 50px;
		}
		  @include breakpoint(mlg){
		 	    height: 500px;
			    font-size: 29px;
			    line-height: 30px;
			    padding: 0px 4% 45px;
		 }
		   @include breakpoint(lg){
		 	height: 410px;
		 	font-size: 23px;
    		line-height: 26px;
		    padding-bottom: 52px;
		    padding-left: 4%;
		    display: flex;
		 }
		  @include breakpoint(md){
	
		    display: none;
		 }
		  @include breakpoint(sm){
		  	display: none;
		  }
		   @include breakpoint(xs){
			display: none;
		   }

 }

 .client-logos-outer {
 	  @include breakpoint(xs){
			background:#eee; padding:15px 10px;
		}
 }
 .client-back.animated{ opacity: 1; }
.client-logo-inner{
		  
		  @include breakpoint(xs){padding: 0;}
}

