
.background__Background-esq3f2-0.gGYmSn {
    background: none !important;
    opacity: 0 !important;
}

.center {
    text-align:center;
}
.single-gallery-div {
    text-align: left;
    min-height: 273px;
    color: $light_blue;
    font-family: 'serpntbi';
    a {
        color: #000066;
        font-family: 'Anton';
        text-transform:uppercase;
    }
}
.Form__FooterWrapper-sc-18c4ntz-1.eLqpRX{
    display: none !important;
}
/*#html5-lightbox-box {
    margin: 0 !important;
    width: 100% !important;
}
.html5-elem-box {
    min-height: 100% !important;
}
.html5-elem-data-box {
    display: none !important;
}

.html5-elem-wrap {
    width: 100% !important; height: auto !important; 
}
  .divdescription {

      position: relative;
      overflow: hidden;
      padding-top: 56.25%;
  }
    .divdescription iframe {

            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 0;
  }
*/
.html5-elem-box {
    &:focus {
        outline:none;
    }
}
li {
    margin-bottom: 10px;
}
.panel-light {
	h1 { 
      
	    //text-shadow: 1px 2px 15px black;
	    a{
	    	color:$blue;
	    }
	}
}

	h1 {
	
	    //text-shadow: 1px 2px 15px black;
	      @include breakpoint(xs){
	     	font-size:20px;
	     }
	     @include breakpoint(sm){
	     	font-size:25px;
	     }
	     @include breakpoint(md){
	     	font-size:40px;
	     }
	}
.feature-img {
    // height: 180px; 
}
.home-panel {
	position: relative;
}
.panel-content {
    position: relative;
    // min-height: 300px;
    
      @include breakpoint(md){
        padding: 100px 0; 
        
      }
        @include breakpoint(sm){
        padding: 35px 0; 
      }
     @include breakpoint(xs){
     	padding: 20px 0; 
        min-height: 150px;
     }
}
.ad-banners { padding: 30px 0;}
.ad-banners .arrow {
    padding-top:5px;
}
.ad-banners .col-md-4 {
	@include breakpoint(sm){
     	width:33%;
     	float:left;
        padding: 5px;
     }
     @include breakpoint(xs){
     	width:33%;
     	float:left;
        padding:0;
     }
     @include breakpoint(mini){
     	width: 100%;
        float: left;
        text-align: center;
        padding: 0;
    }
}
.ad-banners img {
    position:relative;
   
}


.panel-no-arrrow div#scroll { display:none;}
.panel-dark .fa-chevron-down {
    color: #fff;
    background: #fff;
}
.panel-light .fa-chevron-down {
    color: #000;
    background: #fff;
}


#main-content h1, #hero h1, #content-wrap h1 {
   
   
    text-transform: none;
    margin: 12px 15px 15px 0;
   // line-height:48px;
  // text-transform:uppercase;
}
.gallery-title-inner {
    color: #0f235d;
    text-align: center;
    font-family: 'serpntbi';
    font-size: 17px;
    padding: 15px 0;
    text-transform: none;
}

.page-title {
    border-bottom:2px solid #eee;
    margin-left:15px !important;
}
.navigation.row {
    padding-bottom: 15px;
}
.news-archive 
{
    .front-more-news { padding-top:15px;}
    .front-more-news li:nth-child(n) {
        @include breakpoint(md)
        { 
            margin-bottom: 1%;
            margin-right: 1%;
        }
    }
    .front-more-news li {
        @include breakpoint(md){ 
         width: 24%;
     }
    }

}
.wp-pagenavi span.current {
    color: #e4002a !important;
}
.col-1 {
       padding-top: 23px;
        display: inline-block;
        width: 100%;
        padding-bottom: 15px;

    @include breakpoint(xs){ 
        display:inline-block;
        padding-bottom:25px;
        width: 100%;
    }
}




  .rel-article-content {
        color: #000;
        font-size: 13px;
        line-height: 19px;
        font-family: 'Open Sans',sans-serif;
  }
  .social-media {
    h1 {
        color: #fff;
        text-align: center;
        
    }
    .big-title {
        color: #e4002a;
        text-align: center;
       
        font-size: 40px;
        padding-top: 5px;
     
    }
    .sfeed {
            padding-top: 32px;
        display: inline-block;
    }
    .juicer-feed .j-paginate {
        display:none;
    }
  }

.staff-company {
    color: #A0D092;    font-family: 'Gotham-Medium';
}
.staff-upper {
    padding-bottom:25px;

    p {
        color: #A0D092;
        font-family: 'Gotham-Medium';
        font-size: 17px;
        line-height: 22px;
    }
}
.staff-image {

    img {
        background: #DAEBE6;
    }
}
.staff-outer {
    @include breakpoint(xs) {
        text-align: center;
        border-bottom: 1px solid #A0D092;
        margin-bottom: 15px;
        &:last-child {
            border:none;
        }
    }
}
.staff-desc {
    padding-top:15px;
}
.staff-pos {
    font-size: 13px;
    font-weight: 400;
    color: #00A49A;
    padding-top: 3px;
    @include breakpoint(xs) {
        font-size: 10px;
        line-height: 10px;
    } 
}
.staff-emailtitle {
    color: #000;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 500;
    @include breakpoint(xs) {
        font-size: 10px;
        line-height: 10px;
    } 
}
.staff-email {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 20px;
     @include breakpoint(xs) {
        font-size: 10px;
        line-height: 10px;
    }  
}
.staff .col-xs-6 {
     @include breakpoint(xs) {
        padding:0 5px;
     }
     @include breakpoint(xxs) {
         padding-top: 15px;
     }
}
//Contact page
.contact-details {
    color:#000;
    padding-top: 20px;
        strong {
        font-size: 15px;
    }
    p {
        font-size: 12px;
    }
}
.contact {
    .col-xs-6 {
            @include breakpoint(xxs) {
             width:100%;
         }
    }
}
//Side parent page menu
.parent-side {
    padding: 0;
    li {
        list-style: none;
        border-bottom: 1px solid #ccc;
        padding-bottom: 5px;
        padding-top: 3px;
        &:last-child {
            border: none;
        }
    }
    li.current_page_item > a {
        color:$theme_color;
    }
    li.current_page_item:before {
        content: "\f0d9";
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        padding-right: 5px; color:$theme_color;
    }
    li a {
        font-weight:800;
        color:$light_blue;
    }
}
 .google-maps {
        position: relative;
        padding-bottom: 75%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
    }
    .google-maps iframe { 
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
.contactus {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 28px;
    padding: 0 12px;
     @include breakpoint(xxs){
                width:100%;
            }
    h3  { text-align:center;    padding: 5px 0;
    }
    input {
        background: #eee;
        min-height: 40px;
        border: none;
        border-radius: 5px;
        width: 100%;
        padding: 0 8px;
        color: #000;
        font-weight: 100;
        outline:none;

    }
    textarea {
        outline:none;
        background: #eee;
        border: none;
        border-radius: 5px;
        padding: 0 8px;
        width: 100%;
    }
    input[type="submit"] {
        background:$theme_color;
        border:none;
        width: 100%;
        color: #fff;
        font-family: 'serpntbi';
        border-radius: 3px;

    }
}
//History child tabs

.rtbs .rtbs_menu li a.active {
    color: #0f245d!important;
    border: 1px solid #0f245d;
    border-radius: 3px;
    border-bottom: none;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    font-weight: 600;
}
.rtbs .rtbs_menu li a {
    border-bottom: 1px solid #0f245d;
}
.rtbs .rtbs_menu li a {
    color: #999 !important;
    font-weight: 600;
    padding: 9px 13px !important;
}
.rtbs>.rtbs_content {
    border-top: none!important;
}
.rtbs>.rtbs_content {
    background: transparent!important;
}
.rtbs_full .rtbs_menu ul li {
    background: #0f245d !important;
}
@media (max-width: 888px) {
    .rtbs .rtbs_menu li a {
        background: #0f245d!important;
    }
    .rtbs .rtbs_menu li a {
        color:#fff !important;
    }
    .rtbs_full .rtbs_menu ul li a {
        font-size:15px !important;
    }
}
//WRFL TV CSS
.title-logo {
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-bottom: 40px;
}
#category-select {
    z-index: 9999;
    position: absolute;
    display: inline-block;
    padding-left: 10px;
    top: 10px;
}
#category-select select {
    height: 47px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    font-family: 'Open Sans',sans-serif;
    background: #eee;
    color: #0f245d;
    border: none;
    height: 47px;
    padding-top: 23px;
    outline: none;
    font-weight: 600;
    @include breakpoint(xs) 
    {   
        display:none;
    }
}
 
.headering-top-archive {
    overflow: hidden;
     @include breakpoint(md){
        height:95px;
     }
     &:after {
        content: "";
        width: 100%;
        height: 99px;
        background: url('../images/page-divider.jpg') no-repeat;
        right: 1px;
        position: absolute;
        background-position: center 72px;
        display: inline-block;
        @include breakpoint(lg) {
            width: 100%;
            height: 98px;
            right: 1px;
            background-size: 1152px;
            background-position: center 61px;
     }
     @include breakpoint(md) {
            width: 100%;
            height: 113px;
            right: 1px;
            background-size: 964px;
            background-position: center 61px;
     }
     @include breakpoint(sm) {
            width: 100%;
            height: 80px;
            right: 1px;
            background-size: 969px;
            background-position: center 1px;
    }
    
    }
}


.text-panel {
    h1 { 
        color: #fff;
        font-family: 'AvenirNext-DemiBoldItalic';
        text-align: center;
    
          
          @include breakpoint(sm)
          {
             font-size: 30px;
            line-height: 39.6px;
          }
       
     }
     .client-info {
        text-align: center;
        color: #fff;
        font-family: 'AvenirNext-MediumItalic';
        font-size:24px;
        line-height: 28.8px
    }
}
.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
.gform_wrapper textarea{
    border: 2px solid #493a96;
    font-family: 'AvenirNext-Regular';
    padding: 10px 10px !important;

    &:focus { outline: none; }
}

ul {
  list-style: none;
}

 
.headering-top {
    display: inline-block;
    width: 100%;
    padding-top: 50px;
    h1 {
        font-family: 'Raleway-Bold';
    }
}

.hvr-sweep-to-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;


    &:hover, &:focus, &:active{ color: #fff; }
    &:before{
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #2098D1;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 0 50%;
        transform-origin: 0 50%;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }
    &:hover:before{
        transform: perspective(1px) translateZ(0);
    }

}


.pink {
            background:#EB008B; 
            animation-name: fadeInUp;
            border-color:transparent;
            display: inline-block;
            vertical-align: middle;
             
            border-radius: 8px;
            font-family: 'Raleway-Medium';
            color: #fff;  
            align-self: flex-end;
            padding:14px 43px;
            font-size: 24px;
            line-height: 26px;
            text-transform: uppercase;
            webkit-transition: all .4s;
            -moz-transition: all .4s;
            -o-transition: all .4s;
            transition: all .4s;
            &:focus{
                outline: none;
            } 
            &:hover {
                // border:3px solid #fff;
                  color: #EB008B;
                  background:#fff;
                   border-color:transparent;
                   border-radius: 8px;
            }
           
             @include breakpoint(mlg) {
                padding: 12px 37px;
                font-size: 20px;
                line-height: 25px;
             }
             @include breakpoint(lg) {
                padding:12px 40px;
                font-size: 20px;
                line-height: 22px;
             }
            @include breakpoint(md) {
                padding:12px 35px;
                font-size: 17px;
                line-height: 20px;
             }
              @include breakpoint(sm) {
                padding:10px 25px;
                font-size: 18px;
                line-height: 20px;
             }
            @include breakpoint(xs) {
                padding:10px 35px;
                font-size: 20px;
                line-height: 22px;
             }
    }
 
.pink-border,
.briefing-form .button {
        background: transparent;
        animation-name: fadeInUp;
        border:3px solid #EB008B;
        border-radius: 8px;
        font-family: 'Raleway-Medium';
        color: #EB008B;  
        align-self: flex-end;
        padding:14px 43px;
        font-size: 24px;
        line-height: 26px;
        text-transform: uppercase;
        webkit-transition: all .4s;
        -moz-transition: all .4s;
        -o-transition: all .4s;
        transition: all .4s;
     
        display: inline-block;
        vertical-align: middle;
            &:focus{
                outline: none;
            } 
            &:hover {
               
                 color: #fff; 
                 background: #EB008B;
                 // animation: 2s ease-out 0s 1 slideInFromLeft; 
            }
               
            @include breakpoint(mlg) {
               padding: 10px 37px;
                font-size: 20px;
                line-height: 25px;
             }
             @include breakpoint(lg) {
                padding:12px 40px;
                font-size: 20px;
                line-height: 22px;
             }
            @include breakpoint(md) {
              padding:12px 35px;
                font-size: 17px;
                line-height: 20px;
             }
             @include breakpoint(sm) {
                 padding:10px 25px;
                font-size: 18px;
                line-height: 20px;
             }
             @include breakpoint(xs) {
                 padding:10px 35px;
                font-size: 20px;
                line-height: 22px;
             }
    }

.case-studies {
    .case {
        font-family: 'AvenirNext-Regular';
        color: #7565ca;
          

        @include breakpoint(lg) {
            font-size: 27.88px;
            line-height: 35.66px;
            margin-bottom: 20px;
        }
        @include breakpoint(md) {
            font-size: 23.88px;
            line-height: 31.66px;
            margin-bottom: 15px;
        }
         @include breakpoint(sm) {
            font-size: 16.88px;
            line-height: 29.66px;
        }
          @include breakpoint(xs) {
             padding-bottom: 10px;
        }
    }
    .case_desc {
        margin: 15px 0;
        @include breakpoint(md){
            font-size: 19px;
            line-height: 24.4px;
        }
        @include breakpoint(sm){
            font-size: 17px;
            line-height: 22px;
        }
        @include breakpoint(xs){
            font-size: 15px;
            line-height: 22px;
        }
    }
    .case_name {
         font-family: 'AvenirNext-DemiBold';
         color:#493a96;
        @include breakpoint(md) {
             font-size:23px;
            line-height: 22.4px;
        }
          @include breakpoint(sm) {
             font-size:20px;
            line-height: 22.4px;
        }
          @include breakpoint(xs) {
             font-size:21px;
            line-height: 20.4px;
        }
    }
    .case_name.Problem:before{
        content: '';
        background:url('../images/problem.svg');
        position: absolute;
        width: 100%;
        height: 47px;
        left: -50px;
        background-repeat: no-repeat;
        margin-top: -10px;
          @include breakpoint(md){
            margin-top: -8px;
             height: 40px;
            left: -40px;
          }
           @include breakpoint(sm){
                margin-top: -2px;
                height: 30px;
                left: -25px;
          }
           @include breakpoint(xs){
            display: none;
           }
    }
    .case_name.Approch:before {
        content: '';
        background:url('../images/approch.svg');
        position: absolute;
        width: 100%;
        height: 47px;
        left: -50px;
        background-repeat: no-repeat;
        margin-top: -10px;
         @include breakpoint(md){
            margin-top: -8px;
             height: 40px;
            left: -40px;
          }
           @include breakpoint(sm){
             margin-top: -2px;
                height: 30px;
                left: -25px;
          }
            @include breakpoint(xs){
            display: none;
           }
    }
    .case_name.Outcome:before {
        content: '';
        background:url('../images/outcome.svg');
        position: absolute;
        width: 100%;
        height: 47px;
        left: -50px;
        background-repeat: no-repeat;
        margin-top: -10px;
         @include breakpoint(md){
            margin-top: -8px;
             height: 40px;
            left: -40px;
          }
           @include breakpoint(sm){
              margin-top: -2px;
                height: 30px;
                left: -25px;
          }
            @include breakpoint(xs){
                display: none;
           }
    }
    .items {
        margin-bottom: 25px;
        width: 100%;
        float: left;
        img {
             @include breakpoint(md) { max-width: 100%; }
              @include breakpoint(sm) { max-width: 85%; }
        }
    }
        .case_title {
        font-family: 'AvenirNext-DemiBold';
       
           @include breakpoint(lg)
          {
             font-size: 33px;
             line-height: 40px;
          }
           @include breakpoint(md)
          {
             font-size: 30px;
             line-height: 37px;
          }
           @include breakpoint(sm)
          {
             font-size: 22px;
             line-height: 28px;
          }
           @include breakpoint(xs)
          {
             font-size: 22px;
             line-height: 28px;
             padding:10px 0;
          }
    }
}

   .sgpb-form-wrapper input[type="submit"] {
        text-transform:uppercase !important;
        font-family: 'Raleway-Medium';  
    }
.popup-title {
        font-family: 'therealmagazine1'; 
        color:#652d90;
        padding: 25px 25px;
        font-size: 80px; 
        line-height: 85px;
        
        @include breakpoint(mlg) {font-size: 100px; line-height: 85px;}
       
        @include breakpoint(xs) {font-size: 50px; line-height: 45px;}
    
}

.popup-content{

    @include breakpoint(sm){  display: flex;}

    .mobile-text{
         @include breakpoint(xs){ font-size: 14px; line-height: 18px;}
    }
    .mobile-text, .mobile-bold {
        display: none;
          @include breakpoint(xs){ display: block;  }
    }
    .mobile-bold {
         font-family: 'Raleway-black';
          @include breakpoint(xs){ font-size: 20px;line-height: 28px;}
    }
    p{ 
        margin-bottom:30px;
         @include breakpoint(xs){margin-bottom:15px; }
    } 

    padding:25px 25px;
    @include breakpoint(xs){ padding:5px; }
    text-align: center;
    .text{
        text-align: left;    
         @include breakpoint(mlg) {max-width: 330px;}
         @include breakpoint(xs) {display: none;} 
        font-size: 17px;
        line-height: 24px;
        font-family: 'Raleway-Medium';
        b{
            font-family: 'Raleway-black';
        }
    }
    .img{ 
        @include breakpoint(xs) {display: none;} 
    }
    img {
        max-width: 290px;
         @include breakpoint(sm) {max-width: 250px;} 
        @include breakpoint(md) {max-width: 290px;} 
    }

    .title{
        font-family: 'therealmagazine1'; 
        color:#652d90;
        font-size: 80px; line-height: 85px;
        @include breakpoint(mlg) {font-size: 100px; line-height: 85px;}
       
        @include breakpoint(xs) {font-size: 50px; line-height: 45px;}
    }
}
.sgpb-popup-close-button-6{
     @include breakpoint(xs) {
        width: 25px !important; 
        height: 25px !important; 
     }
}
.sgpb-swing, .sgpb-fadeIn{
      @include breakpoint(xs) { bottom: 0 !important;  left: 0 !important;top: auto !important;}
}
.sgpb-content-3484 {
    box-shadow: none !important;
        @include breakpoint(sm){
            max-width: 650px !important;
            margin: auto;
        }
        @include breakpoint(lg){
            max-width: 700px !important;
            margin: auto;
        }
         @include breakpoint(mlg){
            max-width: 800px !important;
            margin: auto;
        }
         @include breakpoint(xs) { 
            border-radius: 0 !important;
            width: 100% !important;
            max-width: 100% !important;
            margin: auto;padding: 10px 0 !important;  
    }

        input[type="email"]{
                width: 100% !important;
                border: none;
                max-width: 75% !important;
                border-bottom: 1px solid;
                margin-bottom: 20px !important; 
                border-radius: 0 !important;
                 @include breakpoint(xs) {margin-bottom: 20px !important;}
        }
}

.briefing-form {
position:relative;
&:after {
    content: '';
    background:url('../images/form.svg') no-repeat;
    position: absolute;
    background-position: right;
    background-size: contain;
    right: 34px;
    width: 50%;
     
    bottom: 0;
    @include breakpoint(sm) { height: 300px; }
     @include breakpoint(md) { height: 280px; }
     @include breakpoint(mlg) { height: 400px; }
     @include breakpoint(xlg) { height: 500px; }
     @include breakpoint(xs) { display: none; }
}
    input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
    textarea {
        background:#eee;
        border:none;
        font-size: 16px !important;
        &:focus {
            background:#eee;
        }
    }

     input[type="radio"], input[type="checkbox"] {
            position: absolute;
            opacity: 0;
     }
     .gform_footer {
        button{

        }
     }
      .field_description_below .gfield_description {
         padding-top: 10px !important;
         font-size: 14px !important;
     }
     input[type="radio"]:checked + label:before, 
     input[type="checkbox"]:checked + label:before {
        background-color: #652D90;
        box-shadow: inset 0 0 0 4px #f4f4f4;
     }
     ul.gfield_radio li label,
     ul.gfield_checkbox li label {
        font-size: 14px;
         @include breakpoint(md) {  font-size: 16px;}
     }
     ul.gfield_checkbox li{
            margin: 0 0 8px !important;
     }
     .gfield_label {
        font-family: 'Raleway-bold' !important;
        font-weight: 100 !important;
        font-size: 16px !important;
     }
     .gfield_checkbox li label,  .gfield_radio li label {
        max-width: 90% !important;
     }
      input[type="radio"] + label:before
     {
        content: '';
        background: #f2f2f2;
       // border-radius: 100%;
        border: 1px solid #b4b4b4;
        display: inline-block;
        width: 25px;
        height: 25px;
        position: relative;
        margin-right: 1em;
        vertical-align: top;
        cursor: pointer;
        text-align: center;
        -webkit-transition: all 250ms ease;
        transition: all 250ms ease;
      }
       input[type="checkbox"] + label:before {
        content: '';
        background: #f2f2f2;
       //border-radius: 100%;
        border: 1px solid #b4b4b4;
        display: inline-block;
        width: 25px;
        height: 25px;
        position: relative;
        margin-right: 1em;
        vertical-align: top;
        cursor: pointer;
        text-align: center;
        -webkit-transition: all 250ms ease;
        transition: all 250ms ease;
      }
      .validation_message{
        padding-top:10px !important;
        font-weight: 100 !important;
        font-size: 15px !important;
      }
      .validation_error { display: none; }
      li.gfield.gfield_error { 
            background-color: transparent !important;
            border:none !important;
            padding:0 !important;
      }
      li.gfield.gfield_error.gfield_contains_required div.ginput_container {
         margin-top: 8px !important;
      }
      li.gfield.gfield_error.gfield_contains_required label.gfield_label {
        margin-top: 0 !important;
      }
      li#field_24_19 {
            width: 50%;
            padding-bottom: 9px;
            border-bottom: 2px solid #eee;
            @include breakpoint(xs) { width: 100%; }
      }
      li#field_24_22 {
        width: 200px;
        display: inline-block;
        @include breakpoint(xs) { width: 100%;display: block; }
      }
      li#field_24_23 {
        display: inline-flex;
        vertical-align: super;
        font-family: 'THEREALMAGAZINE1';
        color: #652D90;
        font-size: 75px;

        @include breakpoint(md) {font-size: 75px; }
        @include breakpoint(sm) {font-size: 53px; }
        @include breakpoint(xs) { 
            font-size: 75px;
            line-height: 70px;
            justify-content: center;
            align-items: center;
            display: inline-flex;
            width: 100%;
         }
    }

    .top_label li.gfield.gf_left_half, .top_label li.gfield.gf_right_half{
          @include breakpoint(xs) {  vertical-align: baseline !important; }
          @include breakpoint(sm) {  vertical-align: baseline !important; }
          @include breakpoint(md) {  vertical-align: top !important; }

    }


}
.post-content-thankyou {
    background:url('../images/dot.svg');
    background-size: contain;
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center; 

    .success {
        font-family: 'THEREALMAGAZINE1';
        color: #652D90;
        

         @include breakpoint(xlg) { font-size: 100px; line-height: 120px;}
         @include breakpoint(mlg) { font-size: 80px; line-height: 100px;}
         @include breakpoint(md) { font-size: 70px; line-height: 90px;}
         @include breakpoint(sm) { font-size: 60px; line-height: 80px;}
         @include breakpoint(xs) { font-size: 50px; line-height: 70px;}
    }

    p {

       @include breakpoint(xlg) {  font-size: 33px; line-height: 39px;    margin-bottom: 25px; }
        @include breakpoint(mlg) {  font-size: 32px; line-height: 40px;    margin-bottom: 25px; }
        @include breakpoint(lg) {  font-size: 24px; line-height: 27px;margin-bottom: 25px; }
        @include breakpoint(sm) {  font-size: 22px; line-height: 25px;margin-bottom: 10px; }
    }
}
.sgpb-swing, .sgpb-fadeIn,
.sg-animated {
    @include breakpoint(xs) { width: 100%;} 
}


.slick-dots {
  display: flex;
  justify-content: center;
  
  margin: 0;
  padding: 1rem 0;
  
  list-style-type: none;
  
    li {
      margin: 0 0.55rem;
    }
  
    button {
      display: block;
     font-family: 'Raleway-Medium';
      background-color: #fff;
      
     // text-indent: -9999px;
      &:focus{
        outline: none;
      }
    }
  
    li.slick-active button {
      background-color: #EB008B;
      
    }
  
}
.sgpb-alert-success {
    background-color:transparent;
    border-color:transparent;
    color:#EB008B !important;
}

.sgpb-content-3607 {
        padding: 20px !important;
}

.pip.enter { display: none !important;
}
 #html5-close-fullscreen .mh-icon-close{
    background-color: transparent !important;
    &:focus{
        outline: none;
    }
 }
#html5-close-fullscreen{
      &:focus{
        outline: none;
    }
}
.mh-icon-close:before{
    content: '' !important; 
    background: url('../images/close.png');
    width: 71px !important;
    height: 71px;
    background-repeat: no-repeat;
    background-color: transparent;
    position:absolute;
    top: 20px; right: 20px;

     @include breakpoint(xs) { 
        background-size: 60%;
        background-position: right;
        right: 10px;
        top: 0;
     } 
}


 
