.top-header.inner{
	position: relative;
    top: 0;
    background: url('../images/inner-page.png') no-repeat;
    background-size: cover;

	&:after{
		content: '';
		background:url('../images/inner-after.png') no-repeat;
		background-position:bottom;

		position:absolute;
		right: 0; bottom:0;
		background-size:contain;
		width: 40%;
    	 @include breakpoint(xlg) { height: 445px; }
    	 @include breakpoint(mlg) { height: 400px; }
    	 @include breakpoint(md) { height: 400px; display: block;}
    	 @include breakpoint(sm) { display: none; }
    	 @include breakpoint(xs) { display: none; }
	}
	
   
 .top-content {
 	color: #fff;

 	.brefing-title{
 		 @include breakpoint(xlg) { font-size: 100px;line-height: 150px; }
 		 @include breakpoint(lg) { font-size: 65px;line-height: 85px; }
 		 @include breakpoint(md) { font-size: 50px;line-height: 90px; }
 		 @include breakpoint(sm) { font-size: 40px;line-height:80px; }
 		 @include breakpoint(xs) { font-size: 30px;line-height:55px; }
 	}

 	.brefing-desc {
 		 @include breakpoint(mlg) { font-size: 25px;line-height: 40px; }
 		 
 		 @include breakpoint(md) { font-size: 18px;line-height: 25px; }
 	}
 }
  @include breakpoint(xlg) { 
  	height: 500px;
  }
    @include breakpoint(mlg) { 

    	padding: 0 100px; 
    	height: 450px;
    	display: flex;
	    justify-content:space-around;
	    flex-direction: column;
	    align-items: flex-start; 
    } 
  
       @include breakpoint(md) { 
     	height: 350px;
     }
    @include breakpoint(sm) { 

    	height: 250px;  
    	padding: 0 57px; 
    	display: inline-table;
    	width: 100%; 
    	text-align: left;
    	display: flex;
	    justify-content:space-around;
	    flex-direction: column;
	    align-items: flex-start;
    } 
     @include breakpoint(xs) {  display: block; padding: 12px 15px; height: 200px;} 
}
.top-header {
   	@include breakpoint(xs) { display: none; }
    @include breakpoint(sm) { display: none; }
    @include breakpoint(md)
  { 
	  	 position:absolute;
	  	 top: 20px;left: 0; right: 0;
	  	 display: flex;
      	 justify-content: space-between;
         vertical-align: middle;
	     align-items: center;
	     text-align: center;
	     padding: 0 30px; z-index: 9999;

  }
  @include breakpoint(lg)
  { 
       	 position:absolute;
      	 top: 45px; left: 0; right: 0;
     	 z-index: 99;
     	 display: flex;
      	justify-content: space-between;
          vertical-align: middle;
	    align-items: center;
	    text-align: center;
	    padding: 0 57px;
    	 
     }    
       @include breakpoint(mlg){
       	 top: 60px;padding: 0 4%;
       }
}
 
 
.top-logo {
	 
	img {
		width: 250px;
		@include breakpoint(mlg){ 
			 width: 350px;
		}
		@include breakpoint(lg){ 
			 width: 250px;
		}
		@include breakpoint(md){ 
			 width: 200px;
		}
		@include breakpoint(xs){ 
			 width: 175px;
		}
	}
	//margin-top: 11px;
	@include breakpoint(md){ 
		 
	}
	@include breakpoint(xs){ 
		padding: 20px 0;

	} 
}

 
#header {
	position:absolute;
	top:0;
}
 
.top-header.cbp-af-header-shrink  {
	   position:fixed;
	   top: 0;
	   background:rgba(50, 20, 76, 0.85);
	   z-index: 9999;
	  
	    @include breakpoint(xlg){ height: 130px;  }
	    @include breakpoint(mlg){ height: 100px;  }
	    @include breakpoint(lg){ height: 90px;  }
	     @include breakpoint(md){ height: 100px;  }

    // -webkit-animation-name: fadeInUp;
	//  animation-name: fadeInUp;
	  -webkit-animation-duration: 1s;
	  animation-duration: 1s;
	  -webkit-animation-fill-mode: both;
	  animation-fill-mode: both;
	  z-index: 99999;
}
 
//Fade up animation

.fadeInUp {
	  -webkit-animation-name: fadeInUp;
	  animation-name: fadeInUp;
	  -webkit-animation-duration: 1s;
	  animation-duration: 1s;
	  -webkit-animation-fill-mode: both;
	  animation-fill-mode: both;
 }
  @-webkit-keyframes fadeInUp {
  0% {
	  opacity: 0;
	  -webkit-transform: translate3d(0, 100%, 0);
	  transform: translate3d(0, 100%, 0);
  }
  100% {
	  opacity: 1;
	  -webkit-transform: none;
	  transform: none;
  	}
  }
  @keyframes fadeInUp {
  0% {
	  opacity: 0;
	  -webkit-transform: translate3d(0, 100%, 0);
	  transform: translate3d(0, 100%, 0);
  }
  100% {
	  opacity: 1;
	  -webkit-transform: none;
	  transform: none;
  	}
  } 
body.page-template-page-briefing.mob-menu-slideout-over{
	padding:0;
}
  .page-template-page-briefing .mob-menu-header-holder.mobmenu {
  	display: none;
  }