#section3 {
  /*@include breakpoint(mlg){ padding: 0 50px 50px; } 
   @include breakpoint(lg){ padding: 0 25px 25px; }*/
   .panel-content{
        background-image: linear-gradient(108deg, rgb(65, 31, 89) 0%, rgb(88, 36, 101) 17%, rgb(119, 42, 118) 45%, rgb(139, 14, 86) 100%);
   }
}
.row-solution .solution {
    div {
      padding:0;
    }
    &:after{
      content: '';
      background:url('../images/after-shadow.svg') no-repeat;
      position:absolute;

         @include breakpoint(xxlg) { bottom:-16%; }
         @include breakpoint(xlg) { bottom:-14%; }
         @include breakpoint(mlg) { bottom:-28%; }
         @include breakpoint(lg) { bottom:-45%;display: block; }
         @include breakpoint(sm) { display: none; }
         @include breakpoint(xs) { display: none; }

      left: 0;
      height: 250px; width: 100%; 

    }
}

 

.solution {
position:relative;
 @include breakpoint(sm) {
      display: flex;
      justify-content: center;
      vertical-align: middle;
      align-items:center;
    }

  .section {

    color: #fff;
    display: flex; 
    .image {
      display: none;
       @include breakpoint(md) { display: block;}
    }
      img { width: 200px; height: auto;

       @include breakpoint(mlg) { width: 100px; } 
       @include breakpoint(lg) { width: 150px; }
       @include breakpoint(md) { width: 120px; }
       @include breakpoint(xs) {display: none; }
     }
    .sec-text {
      @include breakpoint(xlg) {
            font-size: 17px;
            line-height: 24px;
            max-width: 600px;
        }
       @include breakpoint(md) {
            font-size: 15px;
            line-height: 21px;
            max-width: 80%;
        }

          @include breakpoint(lg) {max-width: 90%;}
         @include breakpoint(mlg) {
            font-size: 17px;
            line-height: 22px;
            max-width: 78%;
        }
         
       
    }
    .right-text{
          @include breakpoint(mlg) { padding: 0 40px; }
          @include breakpoint(lg) { padding: 0 25px;z-index: 99; }
          @include breakpoint(md) { padding: 0 20px; }
    }
    .sec-title{
        font-family: 'Raleway-Black';
        color: #fff;
        padding-bottom: 40px;
            @include breakpoint(mlg){font-size: 34px; line-height: 34px;padding-bottom: 25px;}
            @include breakpoint(md){font-size: 28px; line-height: 28px;padding-bottom: 20px;}
             @include breakpoint(sm){ padding-bottom: 10px;font-size: 22px; line-height: 22px; }
            @include breakpoint(xs){font-size: 22px; line-height: 22px; padding: 15px 0 30px;}
        }
  }

  .player {
       
        overflow: hidden;
        z-index: 1;
        width: 95%;
  
    }
}
.row-solution .video{  @include breakpoint(md){ right: -150px !important;  }  }
.row-solution .video.animated{  @include breakpoint(md){opacity: 1;    right: 0 !important;  } }

.row2-solution .video{  @include breakpoint(md){ left: -150px !important;  } }
.row2-solution .video.animated{  @include breakpoint(md){left: 0 !important; }}

.row3-solution .video{  @include breakpoint(md){right: -150px !important; } }
.row3-solution .video.animated{  @include breakpoint(md){ right: 0 !important;  } }

 .row-solution .player{
         float: right;
       
       /*  border-right: none;
         border-radius: 30px 0 0 30px; 
          @include breakpoint(mlg){ height: 400px; border: 7px solid #fff; border-right: none;} 
        @include breakpoint(lg) { height: 300px; border: 4px solid #fff; border-right: none; } 
          @include breakpoint(md) { height: 220px; border: 4px solid #fff; border-right: none; } 
         @include breakpoint(sm) { 
           
             height: 200px; border: 4px solid #fff; border-right: none; 
             } 
        @include breakpoint(xs) { 
          height: 150px; 
          border-radius: 25px;
          float: none;
          border: 4px solid #fff;
         border-right: 4px solid #fff;     
         width: 80%;margin: auto; 
       } */
    }
    .row2-solution .player{
         float: left;
        
      /*   border-left: none;
         border-radius: 0 30px 30px 0px;

          @include breakpoint(xlg){ height: 550px;border: 7px solid #fff;border-left: none; } 
          @include breakpoint(mlg){ height: 500px;border: 7px solid #fff;border-left: none; } 
          @include breakpoint(lg) { height: 400px; border: 4px solid #fff;border-left: none;} 
           @include breakpoint(md) { height: 300px; border: 4px solid #fff;border-left: none;} 
            @include breakpoint(sm) { 
                height: 250px;  border: 4px solid #fff; border-left: none;
             } 
           @include breakpoint(xs) { 
              height: 150px; 
              border-radius: 25px;
              float: none;
              border: 4px solid #fff;
              border-right: 4px solid #fff;     
              width: 80%;margin: auto; 
         } */
    }
 .row-solution .title{

        font-family: 'THEREALMAGAZINE1';
        color: #fff;
        padding-bottom: 35px;

        @include breakpoint(xlg){font-size: 70px; line-height: 70px;}
        @include breakpoint(mlg){font-size: 65px; line-height: 26px;}
         @include breakpoint(xs){font-size: 43px; line-height: 38px; padding-bottom: 15px;}
  }
    .video{
        padding:0;    z-index: 99;
    }
 
  .row3-solution{
      @include breakpoint(xxlg){padding:  50px 6% 100px 6%;}
    @include breakpoint(xlg){padding: 50px 6% 100px 6%;}
    @include breakpoint(mlg){padding: 0 4% 50px 4%;}
    @include breakpoint(md){padding: 35px 35px 35px 4%;}
    @include breakpoint(sm){padding: 0 50px;}
    @include breakpoint(xs) { padding: 0 15px; }
     .solution > div { padding: 0; }
     .row3-content{
       &:after {

        content: '';
        background:url("../images/social-after.svg") no-repeat;
        position: absolute;

         @include breakpoint(sm){display: none;}
         @include breakpoint(xs){display: none;}
         @include breakpoint(lg){bottom: -48%; left: 90%; display: block;height: 175px; z-index: 99;}
          @include breakpoint(mlg){bottom: -48%; left: 90%; display: block;height: 200px;}
         @include breakpoint(xlg){bottom: -70%; left: 90%; display: block;    height: 250px;}
          @include breakpoint(xxlg){bottom: -118%; left: 90%; display: block;    height: 300px;}

         height: 300px;
         width: 100%;
       
      }
     }
     div.laptop-wrapper {

     
     }
     div.laptop-wrapper iframe{
      left: 0;
     /*   @include breakpoint(xlg){ padding: 7.6% 1.2% 16.2% 21%;}
        @include breakpoint(lg){ padding:8.2% 1.3% 19.2% 15.1%; }
         @include breakpoint(md){   padding: 3.2% 1.3% 14.2% 15.5%;}*/
     }
  }
  .row-solution{
    position:relative;
    @include breakpoint(xxlg){padding:  50px 6% 100px 6%;}
    @include breakpoint(xlg){padding: 50px 6% 100px 6%;}
    @include breakpoint(mlg){padding: 0 4% 50px 4%;}
    @include breakpoint(md){padding: 35px 35px 35px 4%;}
    @include breakpoint(sm){padding: 0 50px;}
    @include breakpoint(xs) { padding: 0 15px; }
     
    &:after{
       // content: '';
        background:url('../images/after-shadow.png');
        position: absolute;
        height: 350px;
        width: 100%;
        bottom: -200px;
        z-index: 0;
    }
  }
  .solution-header{
     @include breakpoint(xs){padding: 0 30px;}
     @include breakpoint(sm){padding: 0 50px;}
     @include breakpoint(md){padding: 0 0 0 4%;}
     @include breakpoint(xxlg){padding: 2% 0 0 6%;}
    @include breakpoint(xlg){padding: 2% 0 0 6%;}

     .sub-title {
      font-family: 'Raleway-bold';
      color: #fff;

    @include breakpoint(lg){  font-size: 20px; line-height: 25px;}  
    @include breakpoint(sm){   font-size: 15px; line-height: 21px;}
    }

     .title{

        font-family: 'THEREALMAGAZINE1';
        color: #fff;
        padding-bottom: 35px;

        @include breakpoint(xlg){font-size: 70px; line-height: 70px;}
        @include breakpoint(mlg){font-size: 65px; line-height: 26px;}
        @include breakpoint(lg){font-size: 60px; line-height: 60px;}
        @include breakpoint(sm){font-size: 55px; line-height: 55px;}
        @include breakpoint(xs){font-size: 40px; line-height: 38px; padding-bottom: 15px;text-align: center;}
    }
  }
  .solution-section  { 
    padding: 0;

   @include breakpoint(xs){ display: flow-root;   padding: 0 15px;}

 }
 .row3-solution{ 
       @include breakpoint(xlg){padding: 0 0 100px 6%;}
       @include breakpoint(mlg){padding: 0 0 0 6%;}
      @include breakpoint(md){padding: 0 0 35px 4%;}
      @include breakpoint(sm){padding: 0 50px;}
      @include breakpoint(xs) { padding: 0 15px; }

      .solution {

          &:after{
            content: '';
            background:url('../images/social-background.svg') no-repeat;
            background-size:cover;
            position:absolute;
            height: 350px; width: 100%;
            left: 0;
         
            @include breakpoint(xlg){ bottom:-20%; }
            @include breakpoint(mlg){ bottom:-48px; } 
            @include breakpoint(lg){ bottom:-163px; display: block;}
              @include breakpoint(sm) { display: none; }
             @include breakpoint(xs) { display: none; }
          }
      }
 }
.row2-solution{ position: relative;

  @include breakpoint(xxlg){padding:  50px 6% 100px 6%;}
    @include breakpoint(xlg){padding: 50px 6% 100px 6%;}
    @include breakpoint(mlg){padding: 0 4% 50px 4%;}
    @include breakpoint(md){padding: 35px 35px 35px 4%;}
    @include breakpoint(sm){padding: 0 50px;}
    @include breakpoint(xs) { padding: 0 15px; }
 }
 .row2-solution .solution{

 @include breakpoint(xs){
     
      display: flex; 
      flex-direction: column-reverse;
  
}

  &:after{
    content: '';
    background:url('../images/video-after.svg') no-repeat;
    background-size: cover;
    position:absolute;
    height: 286px;
    width: 100%;
    bottom: -24%;
    left: 0;

      @include breakpoint(xlg){ bottom: 0; }
      @include breakpoint(mlg){ bottom: 0; }
      @include breakpoint(lg){ bottom: 0; display: block;}
      @include breakpoint(sm) { display: none; }
      @include breakpoint(xs) { display: none; }
  }
 } 

 .case-studies {

   @include breakpoint(xs){    padding: 0 20px; }
     .title{

        font-family: 'THEREALMAGAZINE1';
        color: #fff;
        padding-bottom: 50px;
        text-align: center;

        @include breakpoint(xlg){font-size: 70px; line-height: 70px;padding-bottom: 60px;}
        @include breakpoint(mlg){font-size: 65px; line-height: 26px;padding-bottom: 60px;}
        @include breakpoint(lg){font-size: 60px; line-height: 60px;}
        @include breakpoint(sm){font-size: 55px; line-height: 55px;}
        @include breakpoint(xs){font-size: 40px; line-height: 38px;padding-bottom: 15px;} 
    }
button.slick-prev.slick-arrow {
    position: absolute;
      @include breakpoint(mlg){left: -5%;}
      @include breakpoint(lg){left: -12%;}
      @include breakpoint(sm){left: -31px;} 
       @include breakpoint(xs){left: 0;}
    top: 25%;z-index: 99;
    font-size: 0;background:none;border:0;
    width: 80px; height: 80px;
    &:focus{
      outline: none;
    }

    &:before {
      content: '';
      background:url('../images/arrow-left.png') no-repeat;
      max-width: 80px;
      width: 80px;
      height: 80px;
      position: absolute;
    }
}

button.slick-next.slick-arrow {
    position: absolute;
      @include breakpoint(mlg){right: -5%;}
      @include breakpoint(lg){right: -12%;}
      @include breakpoint(sm){right: 0;}  
      @include breakpoint(xs){right: 0;}  

    top: 25%;
    font-size: 0;background:none;border:0;
    width: 80px; height: 80px;

    &:focus{
      outline: none;
    }
     &:before {
      content: '';
      background:url('../images/arrow-right.png') no-repeat;
      max-width: 80px;
      width: 80px;
      height: 80px;
      position: absolute;
    }
}

// Styling the default Slick dots

.slick-dots {
  
  
    button {
     
      text-indent: -9999px;
      width: 1rem;
      height: 1rem;
      padding: 0;
      
      border: none;
      border-radius: 100%;

    }

}
 .slides {
  padding:0;
    li {
      text-align: center;
      
      @include breakpoint(mlg){padding: 0 50px;}  
       @include breakpoint(sm){padding: 0 30px;}  
      

      //width: 450px !important;
      
      a { 
        img {max-height: 300px;}
        &:focus {
          outline: none;
        }
       }
    }

 }


 }
