/* Generator button */
a, a:hover, a:active, a:focus{outline: 0;}
#mnky-generator-button{padding-left:3px;}
.mnky-button-icon{display: inline-block; width: 14px; height: 12px; margin: 0px 5px 0px 2px; background:url('../inc/images/mnky-icon-button.png') no-repeat; vertical-align: middle;}

/* Generator box */
#mnky-generator-overlay{width:100%; height:100%; left:0px; position:fixed; top:0px; z-index: 159900;}
.mnky-overlay-bg{background-color: #000000; opacity: 0.75;}

#mnky-generator-wrap {top:30px; right:30px; left:30px; bottom:30px; display: none; position: fixed; background: #fff; min-width:660px; min-height:600px; z-index: 160000;}
#mnky-generator {margin:0; padding:20px; overflow: auto;}
#mnky-generator-shell {padding:0px;}
#mnky-generator-close{height:13px; width: 13px; position:absolute; right:20px; top:20px; z-index: 1000;}
#mnky-generator-close-html{height:13px; width: 13px; position:absolute; right:10px; top:10px; z-index: 1010;}
#mnky-generator-close span, #mnky-generator-close-html span{display: block; width:13px; height:13px;}
#mnky-generator-close .mnky-close-icon, #mnky-generator-close-html .mnky-close-icon{background:url('../inc/images/mnky-close.png') no-repeat;}

#mnky-generator-shell table tr td {padding: 10px 0;}
#mnky-generator-shell .generator-title {font-family: Arial, Helvetica, sans-serif; font-size:12px; color:#444; font-weight:bold;}
#mnky-generator-shell table tr td.generator-title {padding-right:5px; width:90px;}
#mnky-generator-shell table tr td.size-info {padding-left:20px; width:61px;}
#mnky-generator-shell table tr td.size-info input {border:0; color:#222; font-weight:bold; width:61px !important; color:#9F9F9F !important;}
#mnky-generator-shell .mnky-generator-select-color input[type="text"] {padding: 5px 8px; width: 100%;}

.mnky-generator-select-pack, .mnky-generator-select-style, .mnky-generator-select-hover{width:100%;}

.mnky-generator-note{font-size:11px; color:#9A9A9A; display:block; padding-top:10px;}
#mnky-generator-insert{float:right;}
#mnky-generator-show-html{float:left;}
.mnky-clear{clear:both;}

/* Get HTML */
#mnky-shortcode-html {position: absolute; top: 20%; left: 50%; margin-left:-200px; background:#fff; width:400px; min-height:200px; padding:30px 20px 20px; border:10px solid #2B2B2B; }
#mnky-shortcode-html textarea{width:100%; min-height:100px;}

/* Color picker */
.mnky-generator-select-color {position: relative;}
.mnky-generator-select-color-wheel {position: absolute; left: 0; top: 23px; display: none; background: #fff; border: 1px solid #aaa; z-index: 99999; box-shadow: 0 2px 5px #ccc; -moz-box-shadow: 0 2px 5px #ccc; -webkit-box-shadow: 0 2px 5px #ccc;}

/* Icons list */
.mnky-generator-icon-select ul {min-height:250px; max-height:350px; overflow:auto; display:block; margin:10px 0 0 !important; padding:10px; border:1px solid #ccc;}
.mnky-generator-icon-select li{position: relative;list-style:none; padding:0;}
.mnky-generator-icon-select li:not(.clear){float: left; text-align: center;}
.mnky-generator-icon-select li label {display:block !important; width: 36px; height: 36px;line-height:36px;}
.mnky-generator-icon-select li label i {font-size: 20px;line-height:inherit;}
.mnky-generator-icon-select li label:hover {background:#eee; border:1px solid #ccc !important;}
.mnky-generator-icon-select li input[type="radio"]:checked+label {background: #E1FF95; color:#225803;}
.mnky-generator-icon-select input{position: absolute;visibility:hidden; margin: 0; padding:0; width: 1px; height: 1px; filter:alpha(opacity=0); -moz-opacity:0; -khtml-opacity: 0; opacity: 0; cursor: pointer; }

/* Retina */
@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
	
	.mnky-button-icon{background:url('../inc/images/mnky-icon-button@2x.png') no-repeat; background-size: 14px 12px;}
	#mnky-generator-close .mnky-close-icon, #mnky-generator-close-html .mnky-close-icon{background:url('../inc/images/mnky-close@2x.png') no-repeat; background-size: 13px 13px;}

	
}
