/*Accordion,tabs,tour*/
.dfd_tab_accor_tour() {
	.dfd_tabs_block {
		@dark-bg-border: fade(@main-site-dark-color, 23%);
		.shadow_tab() {
			.box-shadow(0px 3px 15px -3px rgba(255,255,255,0.1));
		}
		/*Tabs*/
		.dfd_tta_tabs {
			/*Style classic*/
			&.classic {
				.vc_tta-tabs-container {
					.vc_tta-tabs-list {
						li {
							&.vc_tta-tab {
								a {
									border-color:@dark-bg-border !important;
									color: @base-color !important;
									&:hover {
										border-color:@dark-bg-border !important;
										.shadow_tab(); 
									}
								}
							}
							&.vc_active {
								a {
									background: @main-site-dark-color !important;
									color:  @main-site-light-color !important;
									&:hover {
										color:  @main-site-light-color !important;
									}                                                                       
								}                                                                
							}                                                        
						}
					}
				}
				.vc_tta-panels-container {
					.vc_tta-panel-title {
						a {
							color: @main-site-dark-color !important;
						}
					}
				}
			}
			/*Style classic_empty*/
			&.classic_empty {
				.vc_tta-tabs-container {
					.vc_tta-tabs-list {
						li {
							&.vc_tta-tab {
								a {
									color: @base-color;
									&:hover {
										border-color:@dark-bg-border !important;
										color:  @main-site-light-color;
									}
									&:before {
										background: @dark-bg-border !important;
									}
								}
							}
							&.vc_active {
								a {
									border-color:@dark-bg-border !important;
									color: @base-color !important;  
									&:hover {
										color: @base-color !important;  
									}
								}
							}
						}
					}
				}
				.vc_tta-panels-container {
					.vc_tta-panel-title {
						a {
							color: @main-site-dark-color !important;
						}
					}
				}
			}
			/*Style collapse*/
			&.collapse {
				.vc_tta-tabs-container {
					.vc_tta-tabs-list {
						li {
							&.vc_tta-tab {
								a {
									border-color: @dark-bg-border !important;
									color: @base-color !important;
									&:hover {
										color: @main-site-light-color !important;
									}
								}
							}
							&.vc_active {
								a {
									background: @main-site-dark-color !important;
									border-color: @dark-bg-border !important;
									color:  @main-site-light-color !important;  
								}                                                                
							}                                                        
						}
					}
				}
				.vc_tta-panels-container {
					.vc_tta-panel-title	{
						a {
							color: @main-site-dark-color !important;
						}
					}
				}
			}
			/*Style big_icon*/
			&.big_icon {
				.vc_tta-tabs-container {
					.vc_tta-tabs-list {
						li {
							&.vc_tta-tab {
								a i {
									color: @main-site-light-color !important;
									border-color: @dark-bg-border !important;
									.transition(all .3s);
									&:hover {
										color: fade(@main-site-light-color,70%) !important;
										.shadow_tab();
									}
								}
							}
							&.vc_active {
								a i {
									color:  darken(@main-site-light-color,50%)  !important;
									&:hover {
										color:  @main-site-light-color  !important;
									}
								}
							}
						}
					}
				}
				.vc_tta-panels-container {
					.vc_tta-panel-title {
						a {
							color: @main-site-dark-color !important;
						}
					}
				}
			}
		}
		.vc_tta-panels-container {
			&:before,
			&:after {
				border-top-color: @dark-bg-border !important;
			}
		}
		/*Accordion*/
		.vc_tta-accordion {
			.vc_tta-panel {
				.vc_tta-panel-heading {
					border-color: @dark-bg-border !important;
					h4 a {
						color: @main-site-dark-color !important;
						i {
							&:before,
							&:after {
								border-color:@main-site-dark-color !important;
							}
						}
						.vc_tta-icon {
							border-left-color: @dark-bg-border !important;
						}
					}
					&:hover {
						.shadow_tab();
					}
				} 
				&.vc_active {
					.vc_tta-panel-heading {
						border-color: @main-site-dark-color !important;
						h4 a {
							i {
								&:before,
								&:after {
									border-color:@main-site-dark-color;
								}
							}
						}
					}
				}
			}
			.style-2 {
				.vc_active {
					.vc_tta-panel-heading {
						background: @main-site-dark-color ;
						a {
							color:  @main-site-light-color !important;  
							i {
								&:before {
									border-color:  @main-site-light-color !important;  
								}
							}
						}
					}
				}
			}
			.style-4 {
				.vc_active {
					.vc_tta-panel-heading {
						background: @main-site-dark-color;
						a {
							color:  @main-site-light-color !important;
							i {
								&:before {
									border-color:  @main-site-light-color !important;
								}
							}
						}
					}
				}
			}
			.style-6 {
				.vc_active {
					.vc_tta-panel-heading {
						border-color: @dark-bg-border !important;
						border-bottom-color: @main-site-dark-color !important;
					}
				}
			}
		} 
		/*Tour*/
		.dfd_tta_tour {
			.vc_tta-tabs-container {
				.vc_tta-tab {
					a {
						color: @main-site-dark-color !important;
						border-color:@dark-bg-border !important;
						&:hover {
							color: @main-site-light-color !important;
						}
						&:before,
						&:after {
							border-color:  @main-site-dark-color!important;
						}
					}
					&.vc_active {
						a {
							background: @main-site-dark-color !important;
							color: @main-site-light-color !important;
							&:before,
							&:after {
								border-color: @main-site-light-color !important;
							}
						}
					}
				}
			}
			.vc_tta-panels-container {
				&:after {
					border-bottom-color: @dark-bg-border;
				}
				.vc_tta-panels {
					.vc_tta-panel {
						.vc_tta-panel-heading {
							.vc_tta-panel-title {
								a {
									color:fade(@main-site-dark-color,70%) !important;
								}
							}
						}
						&.vc_active {
							.vc_tta-panel-heading {
								.vc_tta-panel-title {
									a {
										color:@main-site-dark-color !important;  
									}
								}
							}
						}
					}
				}
			}
			&.style-2 {
				.vc_tta-tab {
					a {
						color: @main-site-light-color !important;
						&:before,
						&:after {
							border-color: @main-site-light-color !important;
						}
					}
					&.vc_active {
						a {
							background: none !important;
							color : lighten(@main-site-dark-color,80%) !important;
							border-color: lighten(@main-site-dark-color,80%) !important;
							&:before,
							&:after {
								border-color: lighten(@main-site-dark-color,80%) !important;
							}
						}
					}
				}
			}
			&.style-3 {
				.vc_tta-tab {
					a {
						color: @main-site-light-color !important;
						&:before,
						&:after {
							border-color: @main-site-light-color !important;
						}
					}
					&.vc_active {
						a {
							background: none !important;
							color : lighten(@main-site-dark-color,80%) !important;
							border-color: lighten(@main-site-dark-color,80%) !important;
							&:before,
							&:after {
								border-color: lighten(@main-site-dark-color,80%) !important;
							}
						}
					}
				}
			}
			&.style-5 {
				.vc_tta-tab {
					a {
						color: @main-site-light-color !important;
						&:before,
						&:after {
							border-color: @main-site-light-color !important;
						}
					}
					&.vc_active {
						a {
							background: none !important;
							color : lighten(@main-site-dark-color,80%) !important;
							border-bottom-color: lighten(@main-site-dark-color,80%) !important;
							&:before,
							&:after {
								border-color: lighten(@main-site-dark-color,80%) !important;
							}
						}
					}
				}
			}
		}
		/*Pagination*/
		.vc_pagination {
			&.vc_pagination-style-dfdrounded {
				li {
					a {
						border-color: @dark-bg-border !important;
					}
					&.vc_active {
						a {
							&:before {
								background: @main-site-light-color !important; 
							}
						}
					}
				}
			}
			&.vc_pagination-style-dfdfillrounded {
				li {
					a {
						background-color: @dark-bg-border !important;
						border: transparent !important;
					}
					&.vc_active {
						a {
							background-color: @main-site-light-color !important;
						}
					}
				}
			}
			&.vc_pagination-style-dfdfillsquare {
				li {
					a {
						background-color: @dark-bg-border !important;
						border: transparent !important;
					}
					&.vc_active {
						a {
							background-color: @main-site-light-color !important;
						}
					}
				}
			}
			&.vc_pagination-style-dfdemptyrounded {
				li {
					a {
						border-color: @dark-bg-border !important;
					}
					&.vc_active {
						a {
							border-color: @main-site-light-color !important; 
						}
					}
				}
			}
			&.vc_pagination-style-dfdline {
				li {
					a {
						overflow:hidden;
						&:before {
							height: 17px !important;
							background-clip: padding-box !important;
							overflow: hidden;
							top: 11px !important;
							background: @dark-bg-border !important;
						}
					}
					&.vc_active {
						a {
							&:before {
								background-clip: padding-box !important;
								background: @main-site-light-color !important;
							}
						}
					}
				}
			}
			&.vc_pagination-style-dfdadvancesquare {
				li {
					a {
						background-color:@dark-bg-border !important;
						border-color: transparent !important;
						background-clip: padding-box !important;
						width: 12px !important;
						height: 12px !important;
						&:before {
							display: none !important;
						}
					}
					&.vc_active {
						a {
							background-color:@main-site-light-color !important;
							border-color: transparent !important;
							&:before {
								display: block !important;
								top: -10px !important;
								border-bottom-color: @main-site-light-color !important;
								background: none !important;
								width: 10px !important;
								height: 10px !important;
								position: relative;
								bottom: 100% !important;
								margin-left: 0px !important;
								z-index: 1;
							}
						}
					}
				}
			}
		}
	}
}
