/* 
    Created on : 27.06.2017, 16:58:52
    Author     : DFD
	Styles for : Button Gradient shortcode
*/

@-webkit-keyframes rightSlideIcon {
	0% {
		-webkit-transform: translateX(0);
	}
	50% {
		-webkit-transform: translateX(20px);
	}
	100% {
		-webkit-transform: translateX(0);
	}
}
@-moz-keyframes rightSlideIcon {
	0% {
		-moz-transform: translateX(0);
	}
	50% {
		-moz-transform: translateX(20px);
	}
	100% {
		-moz-transform: translateX(0);
	}
}
@keyframes rightSlideIcon {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(20px);
	}
	100% {
		transform: translateX(0);
	}
}

.dfd-button-gradient-module-wrap {
	@timing-function: cubic-bezier(.3,.95,.3,.95);
	@timing: .5s;
	.dfd-button-link {
		.rel();
		.inline-block();
		line-height: 43px;
		cursor: pointer;
		.rounded(43px);
		background: transparent;
		-webkit-transition: -webkit-box-shadow @timing @timing-function;
		-moz-transition: -moz-box-shadow @timing @timing-function;
		-o-transition: -o-box-shadow @timing @timing-function;
		-ms-transition: -ms-box-shadow @timing @timing-function;
		transition: box-shadow @timing @timing-function;
		.dfd-button-inner-cover {
			.rel();
			overflow: hidden;
			.block();
			line-height: inherit;
			padding: 0 30px;
			cursor: pointer;
			.rounded(43px);
			background: transparent;
			-webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
			.transition(all @timing @timing-function);
			&:before,
			&:after {
				content: "";
				.abs();
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				.block();
				.rounded(inherit);
				.transition(all @timing @timing-function);
			}
			&:before {/*not hover*/
				background: @main-site-light-color;
				border: 0px solid @main-site-light-color;
				opacity: 1;
				visibility: visible;
				z-index: 1;
			}
			&:after {/*hover*/
				background: #2f77a8;
				opacity: 0;
				visibility: hidden;
				z-index: 2;
			}
			.icon-wrap {
				line-height: inherit;
				z-index: 4;
				&.with-image {
					overflow: hidden;
					img {
						position: relative;
						vertical-align: middle;
						max-width: 100%;
						max-height: 100%;
						width: auto;
						.transition-transform(@timing @timing-function);
					}
				}
			}
			.dfd-button-border {
				.abs();
				top: 0;
				left: 0;
				.block();
				width: 100%;
				height: 100%;
				background: transparent;
				.rounded(inherit);
				z-index: 0;
				&:before,
				&:after {
					content: "";
					.abs();
					top: 0;
					left: 0;
					width: inherit;
					height: inherit;
					background: inherit;
					.rounded(inherit);
					.block();
					.transition(all @timing @timing-function);
					z-index: 0;
				}
				&:before {/*not hover*/
					opacity: 1;
					visibility: visible;
				}
				&:after {/*hover*/
					opacity: 0;
					visibility: hidden;
				}
			}
		}
		&.dfd-fade {
			&:hover {
				.dfd-button-border,
				.dfd-button-inner-cover {
					&:before {
						opacity: 0;
						visibility: hidden;
					}
					&:after {
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}
		&.dfd-slide-left,
		&.dfd-slide-right {
			.dfd-button-border,
			.dfd-button-inner-cover {
				&:before {
					.transform(scaleX(1));
				}
				&:after {
					//.rounded(0);
					opacity: 1;
					visibility: visible;
					.transform(scaleX(0));
				}
			}
			&:hover {
				.dfd-button-border,
				.dfd-button-inner-cover {
					&:before {
						opacity: 1;
						visibility: visible;
						.transform(scaleX(0));
					}
					&:after {
						.transform(scaleX(1));
					}
				}
			}
		}
		&.dfd-slide-left {
			.dfd-button-border,
			.dfd-button-inner-cover {
				&:before {
					.transform-origin(100% 50%);
				}
				&:after {
					.transform-origin(0 50%);
				}
			}
		}
		&.dfd-slide-right {
			.dfd-button-border,
			.dfd-button-inner-cover {
				&:before {
					.transform-origin(0% 50%);
				}
				&:after {
					.transform-origin(100% 50%);
				}
			}
		}
		&.dfd-slide-top,
		&.dfd-slide-bottom {
			.dfd-button-border,
			.dfd-button-inner-cover {
				&:before {
					.transform(scaleY(1));
				}
				&:after {
					//.rounded(0);
					opacity: 1;
					visibility: visible;
					.transform(scaleY(0));
				}
			}
			&:hover {
				.dfd-button-border,
				.dfd-button-inner-cover {
					&:before {
						opacity: 1;
						visibility: visible;
						.transform(scaleY(0));
					}
					&:after {
						.transform(scaleY(1));
					}
				}
			}
		}
		&.dfd-slide-top {
			.dfd-button-border,
			.dfd-button-inner-cover {
				&:before {
					.transform-origin(50% 100%);
				}
				&:after {
					.transform-origin(50% 0);
				}
			}
		}
		&.dfd-slide-bottom {
			.dfd-button-border,
			.dfd-button-inner-cover {
				&:before {
					.transform-origin(50% 0%);
				}
				&:after {
					.transform-origin(50% 100%);
				}
			}
		}
		&.dfd-zoom-in {
			.dfd-button-border,
			.dfd-button-inner-cover {
				overflow: visible;
				-webkit-mask-image: none;
/*				&:before,
				&:after {
					.rounded(inherit);
				}*/
				&:before {
					.scale(1);
				}
			}
			.dfd-button-border {
				&:after {
					.hide();
				}
			}
			&:hover {
				.dfd-button-border,
				.dfd-button-inner-cover {
					&:before {
						.transform(scale(1.2, 1.5));
					}
				}
				.dfd-button-border {
					&:before {
						opacity: 0;
						visibility: hidden;
					}
				}
			}
		}
		&.dfd-3d-rotate {
			//.rounded(0);
			.perspective(1200px);
			.backface-visibility(hidden);
			* {
				.backface-visibility(hidden);
			}
			.dfd-button-inner-rotator {
				.rel();
				.block();
				width: 100%;
				height: 100%;
				.transform(rotateX(0));
				.transform-style(preserve-3d);
				.transition(all @timing @timing-function);
			}
			.dfd-button-inner-cover {
/*				&:hover,
				&:not(:hover) {
					.rounded(0);
					&:before,
					&:after {
						.rounded(0);
					}
				}*/
				&.front {
					.dfd-button-border:before,
					&:before {
						opacity: 1;
						visibility: visible;
					}
					.dfd-button-border:after,
					&:after {
						.hide();
					}
				}
				&.back {
					.abs();
					top: 100%;
					left: 0;
					.block();
					width: 100%;
					height: 100%;
					.transform(translateY(-1px) rotateX(-90deg));
					.transform-origin(50% 0%);
					.dfd-button-border:before,
					&:before {
						.hide();
					}
					.dfd-button-border:after,
					&:after {
						opacity: 1;
						visibility: visible;
					}
				}
			}
			&:hover {
				.dfd-button-inner-rotator {
					.transform(translateY(-50%) rotateX(90deg));
				}
			}
		}
		.dfd-button-tooltip {
			font-size: 12px;
			.abs();
			text-align: center;
			line-height: 1;
			padding: 10px;
			white-space: nowrap;
			color: @main-site-dark-color;
			background: @tooltip-bg;
			z-index: 1;
			opacity: 0;
			visibility: hidden;
			.transition(~"opacity .3s ease, visibility .3s ease");
			&.dfd-button-tooltip-left {
				top: 50%;
				right: 100%;
				margin-right: 4px;
				.translate(0; -50%);
				&:before {
					content: "";
					.abs();
					left: 100%;
					top: 50%;
					margin-top: -2px;
					border: 2px solid transparent;
					border-left-color: @tooltip-bg;
					border-bottom-color: @tooltip-bg;
				}
			}
			&.dfd-button-tooltip-right {
				top: 50%;
				left: 100%;
				margin-left: 4px;
				.translate(0; -50%);
				&:before {
					content: "";
					.abs();
					right: 100%;
					top: 50%;
					margin-top: -2px;
					border: 2px solid transparent;
					border-right-color: @tooltip-bg;
					border-bottom-color: @tooltip-bg;
				}
			}
			&.dfd-button-tooltip-top {
				bottom: 100%;
				left: 50%;
				margin-bottom: 4px;
				.translate(-50%; 0);
				&:before {
					content: "";
					.abs();
					top: 100%;
					left: 50%;
					border: 2px solid transparent;
					border-left-color: @tooltip-bg;
					border-top-color: @tooltip-bg;
				}
			}
			&.dfd-button-tooltip-bottom {
				top: 100%;
				left: 50%;
				margin-top: 4px;
				.translate(-50%; 0);
				&:before {
					content: "";
					.abs();
					bottom: 100%;
					left: 50%;
					border: 2px solid transparent;
					border-left-color: @tooltip-bg;
					border-bottom-color: @tooltip-bg;
				}
			}
			&.dfd-button-tooltip-top-left {
				bottom: 100%;
				right: 100%;
			}
			&.dfd-button-tooltip-top-right {
				bottom: 100%;
				left: 100%;
			}
			&.dfd-button-tooltip-bottom-left {
				top: 100%;
				right: 100%;
			}
			&.dfd-button-tooltip-bottom-right {
				top: 100%;
				left: 100%;
			}
		}
		&:hover {
			.dfd-button-inner-cover {
				&:before {
					opacity: 0;
					visibility: hidden;
				}
				&:after {
					opacity: 1;
					visibility: visible;
				}
			}
			.dfd-button-tooltip {
				opacity: 1;
				visibility: visible;
			}
		}
	}
	.dfd-button-text-main {
		.relative(4);
	}
	.featured-icon {
		.block();
		.rel();
		font-size: 11px;
		.transition(color @timing @timing-function);
		&:before {
			.rel();
			.block();
			margin: 0 auto;
			.transition-transform(@timing @timing-function);
		}
	}
	.dfd-button-module {
		line-height: 0;
		&.style-2,
		&.style-3,
		&.style-4,
		&.style-5,
		&.style-7 {
			.icon-wrap {
				.abs();
				height: 100%;
				top: 0;
				.featured-icon {
					top: 50%;
					height: 1em;
					line-height: 1;
					margin-top: -.5em;
				}
			}
		}
		&.style-2,
		&.style-4 {
			.icon-wrap {
				left: 20px;;
			}
		}
		&.style-3,
		&.style-5,
		&.style-7 {
			.icon-wrap {
				right: 20px;;
			}
		}
		&.style-4 {
			.dfd-button-link {
				.featured-icon {
					&:before {
						.transform(translateX(-110%));
					}
				}
				.icon-wrap {
					&.with-image {
						img {
							.transform(translateX(-110%));
						}
					}
				}
			}
		}
		&.style-5 {
			.dfd-button-link {
				.featured-icon {
					&:before {
						.transform(translateX(110%));
					}
				}
				.icon-wrap {
					&.with-image {
						img {
							.transform(translateX(110%));
						}
					}
				}
			}
		}
		&.style-7 {
			.featured-icon {
				.rel();
			}
			.dfd-button-link {
				.icon-wrap {
					&.with-image {
						overflow: visible;
					}
				}
				&:hover {
					.featured-icon {
						-webkit-animation: rightSlideIcon 0.7s;
						-moz-animation: rightSlideIcon 0.7s;
						animation: rightSlideIcon 0.7s;
					}
					.icon-wrap {
						&.with-image {
							img {
								-webkit-animation: rightSlideIcon 0.7s;
								-moz-animation: rightSlideIcon 0.7s;
								animation: rightSlideIcon 0.7s;
							}
						}
					}
				}
			}
		}
		&.style-4,
		&.style-5 {
			.featured-icon {
				.rel();
				overflow: hidden;
			}
			.dfd-button-link {
				&:hover {
					.featured-icon {
						&:before {
							.transform(translateX(0));
						}
					}
					.icon-wrap {
						&.with-image {
							img {
								.transform(translateX(0));
							}
						}
					}
				}
			}
		}
		&.with-icon {
			&.style-2 {
				.dfd-button-link .dfd-button-inner-cover {
					padding-left: 50px;
				}
			}
			&.style-3 {
				.dfd-button-link .dfd-button-inner-cover {
					padding-right: 50px;
				}
			}
			&.style-4 {
				.dfd-button-link {
					&:hover {
						.dfd-button-inner-cover {
							padding-left: 50px;
						}
					}
				}
			}
			&.style-5,
			&.style-7 {
				.dfd-button-link {
					&:hover {
						.dfd-button-inner-cover {
							padding-right: 50px;
						}
					}
				}
			}
			&.style-6 {
				.dfd-button-link {
					&.dfd-3d-rotate {
						.dfd-button-inner-cover {
							&.front {
								.icon-wrap {
									.hide();
								}
								.dfd-button-text-main {
									.transform(none);
								}
							}
							&.back {
								.icon-wrap {
									.transition(all @timing @timing-function);
									.featured-icon {
										top: 50%;
									}
								}
								.dfd-button-text-main {
									opacity: 0;
									visibility: hidden;
								}
							}
						}
					}
					.dfd-button-inner-cover {
						.icon-wrap {
							.abs();
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							text-align: center;
							overflow: hidden;
							opacity: 0;
							visibility: hidden;
							.transition(top @timing @timing-function);
							.featured-icon {
								top: -50%;
								height: 1em;
								line-height: 1;
								margin-top: -.5em;
								.transition(top @timing @timing-function);
							}
							&.with-image {
								-webkit-transition: opacity @timing @timing-function, visibility @timing @timing-function;
								-moz-transition: opacity @timing @timing-function, visibility @timing @timing-function;
								-o-transition: opacity @timing @timing-function, visibility @timing @timing-function;
								transition: opacity @timing @timing-function, visibility @timing @timing-function;
								img {
									top: -50%;
									.transition(top @timing @timing-function);
								}
							}
						}
						.dfd-button-text-main {
							.block();
							opacity: 1;
							visibility: visible;
							.transform(translateY(0));
							-webkit-transition: -webkit-transform @timing @timing-function, opacity @timing @timing-function, visibility @timing @timing-function;
							-moz-transition: -moz-transform @timing @timing-function, opacity @timing @timing-function, visibility @timing @timing-function;
							-o-transition: -o-transform @timing @timing-function, opacity @timing @timing-function, visibility @timing @timing-function;
							-ms-transition: -ms-transform @timing @timing-function, opacity @timing @timing-function, visibility @timing @timing-function;
							transition: transform @timing @timing-function, opacity @timing @timing-function, visibility @timing @timing-function;
						}
					}
					&:hover {
						.dfd-button-inner-cover {
							.icon-wrap {
								opacity: 1;
								visibility: visible;
								.featured-icon {
									top: 50%;
								}
								&.with-image {
									img {
										top: 0;
									}
								}
							}
							.dfd-button-text-main {
								opacity: 0;
								visibility: hidden;
								.transform(translateY(50%));
								-webkit-transition: -webkit-transform @timing @timing-function, color .2s @timing-function, opacity @timing @timing-function, visibility @timing @timing-function;
								-moz-transition: -moz-transform @timing @timing-function, color .2s @timing-function, opacity @timing @timing-function, visibility @timing @timing-function;
								-o-transition: -o-transform @timing @timing-function, color .2s @timing-function, opacity @timing @timing-function, visibility @timing @timing-function;
								-ms-transition: -ms-transform @timing @timing-function, color .2s @timing-function, opacity @timing @timing-function, visibility @timing @timing-function;
								transition: transform @timing @timing-function, color .2s @timing-function, opacity @timing @timing-function, visibility @timing @timing-function;
							}
						}
					}
				}
			}
		}
		&.dfd-button-full-width {
			.dfd-button-link {
				.block();
			}
		}
	}
}