/* 
    Created on : 18.02.2016, 18:08:01
    Author     : dfd
	Styles for : Contact block module
*/

@icon-color: @title-color;

.dfd-new-soc-icon {
	line-height: .5;
	.soc-icon-container {
		.inline-block();
	}
	a {
		.rel();
		overflow: hidden;
		margin-right: 3px;
		font-size: 20px;
		color: @icon-color;
		text-align: center;
		float: left;
		width: 3em;
		height: 3em;
		line-height: 3em;
		z-index: 1;
		&:before {
			.abs();
			width: inherit;
			height: inherit;
			top: 0;
			left: 0;
			color: inherit;
			.rounded(inherit);
		}
		&:last-child {
			margin-right: 0 !important;
		}
	}
	i {
		.abs();
		width: inherit;
		height: inherit;
		line-height: inherit;
		.rounded(inherit);
		&:before {
			.abs();
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			.rounded(inherit);
		}
	}
	i {
		color: @main-site-dark-color;
		&.soc_icon-facebook {
			background-color: #305fb3;
		}
		&.soc_icon-flickr {
			background-color: #ff0084;
		}
		&.soc_icon-google__x2B_,
		&.soc_icon-gmail,
		&.soc_icon-google {
			background-color: #d7482a;
		}
		&.soc_icon-twitter-2,
		&.soc_icon-twitter-3 {
			background-color: #5eaade;
		}
		&.soc_icon-pinterest {
			background-color: #e1003a;
		}
		&.soc_icon-skype {
			background-color: #12c7ef;
		}
		&.soc_icon-vimeo {
			background-color: #3f90bf;
		}
		&.soc_icon-youtube {
			background-color: #ff3333;
		}
		&.soc_icon-dribbble {
			background-color: #f06eaa;
		}
		&.soc_icon-linkedin {
			background-color: #3399cc;
		}
		&.soc_icon-instagram {
			background-color: #9f6f59;
		}
		&.soc_icon-rss {
			background-color: #fca600;
		}
		&.soc_icon-rus-vk-01,
		&.soc_icon-rus-vk-02 {
			background-color: #587a9f;
		}
		&.soc_icon-wordpress {
			background-color: #242424;
		}
		&.soc_icon-dropbox {
			background-color: #007ee5;
		}
		&.soc_icon-picasa {
			background-color: #9a469e;
		}
		&.soc_icon-deviantart {
			background-color: #5c6f61;
		}
		&.soc_icon-last_fm {
			background-color: #e0282e;
		}
		&.soc_icon-digg {
			background-color: #286091;
		}
		&.soc_icon-evernote {
			background-color: #6fb636;
		}
		&.soc_icon-foursquare_2 {
			background-color: #1ca1cc;
		}
		&.soc_icon-livejournal {
			background-color: #6797c8;
		}
		&.soc_icon-tumblr {
			background-color: #3d5a70;
		}
		&.soc_icon-mail {
			background-color: #f1d454;
		}
		&.soc_icon-behance {
			background-color: #1769ff;
		}
		&.dfd-added-font-icon-px-icon {
			background-color: #00aeef;
		}
		&.dfd-added-font-icon-vb {
			background-color: #27b4e9;
		}
		&.dfd-added-font-icon-b_Xing-icon_bl {
			background-color: #cfdc00;
		}
		&.dfd-added-font-icon-bandcamp-logo {
			background-color: #629aa9;
		}
		&.dfd-added-font-icon-c_spotify-512-black {
			background-color: #1ed760;
		}
		&.dfd-added-font-icon-houzz-dark-icon {
			background-color: #7AC143;
		}
		&.dfd-added-font-icon-Meerkat-color {
			background-color: #FFE203;
		}
		&.dfd-added-font-icon-periscope-logo {
			background-color: #46A3C4;
		}
		&.dfd-added-font-icon-skype {
			background-color: #009ee5;
		}
		&.dfd-added-font-icon-slideshare {
			background-color: #008ed2;
		}
		&.dfd-added-font-icon-Snapchat-logo {
			background-color: #FEFB1E;
		}
		&.dfd-added-font-icon-soundcloud-logo {
			background-color: #ff5500;
		}
		&.dfd-added-font-icon-the-city {
			background-color: #48a3be;
		}
		&.dfd-added-font-icon-pinpoint {
			background-color: #2376DE;
		}
		&.dfd-added-font-icon-viadeo {
			background-color: #FF7D0A;
		}
		&.dfd-added-font-icon-tripadvisor {
			background-color: #1f892f;
		}
	}
	&.with-border {
		a:before {
			border-width: 1px;
			border-style: solid;
			border-color: @border-color;
		}
	}
	/*style-1 & style-2 & style-3*/
	&.left_to_right,
	&.right_to_left {
		a {
			i {
				top: 0;
			}
			&:hover {
				i {
					left: 0;
				}
			}
		}
	}
	&.top_to_bottom,
	&.bottom_to_top {
		a {
			i {
				left: 0;
			}
			&:hover {
				i {
					top: 0;
				}
			}
		}
	}
	&.left_to_right {
		a i {
			left: -100%;
		}
	}
	&.right_to_left {
		a i {
			left: 100%;
		}
	}
	&.top_to_bottom {
		a i {
			top: -100%;
		}
	}
	&.bottom_to_top {
		a i {
			top: 100%;
		}
	}
	/*AND style-1 & style-2 & style-3*/
	&.style-1,
	&.style-2 {
		&.left_to_right,
		&.right_to_left {
			a {
				&:before,
				i {
					.transition(~"border-color .3s ease, left .2s ease");
				}
			}
		}
		&.top_to_bottom,
		&.bottom_to_top {
			a {
				&:before,
				i {
					.transition(~"border-color .3s ease, top .2s ease");
				}
			}
		}
	}
	&.style-1,
	&.style-3 {
		&.left_to_right {
			a:hover {
				&:before {
					left: 100%;
				}
			}
		}
		&.right_to_left {
			a:hover {
				&:before {
					left: -100%;
				}
			}
		}
		&.top_to_bottom {
			a:hover {
				&:before {
					top: 100%;
				}
			}
		}
		&.bottom_to_top {
			a:hover {
				&:before {
					top: -100%;
				}
			}
		}
	}
	&.style-2 {
		a {
			.transition(color .2s ease);
			&:before {
				z-index: 1;
			}
			i {
				&:before {
					.hide();
				}
			}
			&:hover {
				color: @main-site-dark-color;
				&:before {
					border-color: transparent !important;
				}
			}
		}
	}
	&.style-3 {
		&.left_to_right,
		&.right_to_left,
		&.top_to_bottom,
		&.bottom_to_top {
			a {
				&:before,
				i {
					.transition(all .2s ease);
				}
				&:hover {
					i {
						.rotate(0);
					}
				}
			}
		}
		&.left_to_right {
			a {
				&:before {
					.rotate(0);
				}
				i {
					.rotate(-90deg);
				}
				&:hover {
					&:before {
						.rotate(90deg);
					}
				}
			}
		}
		&.right_to_left {
			a {
				&:before {
					.rotate(0);
				}
				i {
					.rotate(90deg);
				}
				&:hover {
					&:before {
						.rotate(-90deg);
					}
				}
			}
		}
		&.top_to_bottom {
			a {
				&:before {
					.rotate(0);
				}
				i {
					.rotate(-90deg);
				}
				&:hover {
					&:before {
						.rotate(90deg);
					}
				}
			}
		}
		&.bottom_to_top {
			a {
				&:before {
					.rotate(0);
				}
				i {
					.rotate(90deg);
				}
				&:hover {
					&:before {
						.rotate(-90deg);
					}
				}
			}
		}
	}
	&.style-4 {
		a {
			.transition(background .2s ease);
			i {
				top: 0;
				left: 0;
				.opacity(0);
				visibility: hidden;
				.transition(~"opacity .2s ease, visibility .2s ease");
			}
			&:hover {
				background: transparent !important;
				i {
					.opacity(1);
					visibility: visible;
				}
			}
		}
	}
	&.style-5 {
		a {
			overflow: visible;
			.transition(color .2s ease);
			&:before {
				.transition(border-color .2s ease);
				z-index: 1;
			}
			i {
				top: 0;
				left: 0;
				.scale(1.3);
				.opacity(0);
				visibility: hidden;
				.transition(all .2s ease);
				&:before {
					.hide();
				}
			}
			&:hover {
				color: @main-site-dark-color;
				&:before {
					border-color: transparent !important;
				}
				i {
					.scale(1);
					.opacity(1);
					visibility: visible;
				}
			}
		}
	}
	&.style-6 {
		a {
			.box-shadow(0px 0px 0px 0px transparent);
			.scale(1);
			top: 0;
			.transition(all .2s ease);
			i {
				top: 0;
				left: 0;
			}
			&:hover {
				.box-shadow(0px 5px 15px 0px fade(@third-site-dark-color, 30%));
				.scale(1.08);
			}
		}
	}
	&.style-7 {
		a {
			.rounded(50%);
			.transition(border-radius .5s ease);
			i {
				top: 0;
				left: 0;
			}
			&:hover {
				.rounded(2px);
			}
		}
	}
	&.style-8 {
		a {
			overflow: initial;
			&:before,
			i {
				.transition(all .2s ease);
			}
			&:before {
				background: @background-grey;
				-webkit-perspective: 100px;
				-moz-perspective: 100px;
				-o-perspective: 100px;
				perspective: 100px;
				-webkit-transform: translate3d(0, 0, 3em);
				-moz-transform: translate3d(0, 0, 3em);
				-o-transform: translate3d(0, 0, 3em);
				transform: translate3d(0, 0, 3em);
			}
			i {
				left: 0;
				top: 0;
			}
		}
		&.left_to_right,
		&.right_to_left {
			a:hover {
				i {
					.transform(rotateY(0));
				}
			}
		}
		&.top_to_bottom,
		&.bottom_to_top {
			a:hover {
				i {
					.transform(rotateX(0));
				}
			}
		}
		&.left_to_right {
			a {
				i {
					-webkit-transform: rotateY(-90deg) translate3d(0, 0, 3em) perspective(1000px);
					-moz-transform: rotateY(-90deg) translate3d(0, 0, 3em) perspective(1000px);
					-o-transform: rotateY(-90deg) translate3d(0, 0, 3em) perspective(1000px);
					transform: rotateY(-90deg) translate3d(0, 0, 3em) perspective(1000px);
					-webkit-transform-origin: 100% 100%;
					-moz-transform-origin: 100% 100%;
					-o-transform-origin: 100% 100%;
					transform-origin: 100% 100%;
				}
				&:before {
					-webkit-transform-origin: 90% 100%;
					-moz-transform-origin: 90% 100%;
					-o-transform-origin: 90% 100%;
					transform-origin: 90% 100%;
				}
				&:hover {
					&:before {
						.transform(rotateY(-90deg));
					}
				}
			}
		}
		&.top_to_bottom {
			a {
				i {
					-webkit-transform: rotateX(90deg) translate3d(0, 0, 3em) perspective(1000px);
					-moz-transform: rotateX(90deg) translate3d(0, 0, 3em) perspective(1000px);
					-o-transform: rotateX(90deg) translate3d(0, 0, 3em) perspective(1000px);
					transform: rotateX(90deg) translate3d(0, 0, 3em) perspective(1000px);
					.transform-origin(100% 100%);
				}
				&:before {
					.transform-origin(100% 90%);
				}
				&:hover {
					&:before {
						.transform(rotateX(-90deg));
					}
				}
			}
		}
		&.right_to_left {
			a {
				i {
					-webkit-transform: rotateY(90deg) translate3d(0, 0, 3em) perspective(1000px);
					-moz-transform: rotateY(90deg) translate3d(0, 0, 3em) perspective(1000px);
					-o-transform: rotateY(90deg) translate3d(0, 0, 3em) perspective(1000px);
					transform: rotateY(90deg) translate3d(0, 0, 3em) perspective(1000px);
					.transform-origin(0 100%);
				}
				&:before {
					.transform-origin(10% 100%);
				}
				&:hover {
					&:before {
						.transform(rotateY(90deg));
					}
				}
			}
		}
		&.bottom_to_top {
			a {
				i {
					-webkit-transform: rotateX(-90deg) translate3d(0, 0, 3em) perspective(1000px);
					-moz-transform: rotateX(-90deg) translate3d(0, 0, 3em) perspective(1000px);
					-o-transform: rotateX(-90deg) translate3d(0, 0, 3em perspective(1000px));
					transform: rotateX(-90deg) translate3d(0, 0, 3em) perspective(1000px);
					.transform-origin(100% 0);
				}
				&:before {
					.transform-origin(100% 10%);
				}
				&:hover {
					&:before {
						.transform(rotateX(90deg));
					}
				}
			}
		}
	}
	&.style-9 {
		a {
			&:before {
				.transition(color .2s ease);
			}
			span {
				@line: 12px;

				&.line-top-left,
				&.line-top-center,
				&.line-top-right {
					&:before {
						bottom: 0;
						top: 100%;
						.transition(~"top .2s ease-in-out, bottom .2s ease-in-out .1s");
					}
				}
				&.line-bottom-left,
				&.line-bottom-center,
				&.line-bottom-right {
					&:before {
						bottom: 100%;
						top: 0;
						.transition(~"top .2s ease-in-out .1s, bottom .2s ease-in-out");
					}
				}
				&.line-top-left,
				&.line-top-center,
				&.line-top-right,
				&.line-bottom-left,
				&.line-bottom-center,
				&.line-bottom-right {
					.abs();
					width: @line;
					height: @line;
					background: transparent;
					&:before {
						content: "";
						.abs();
						left: 50%;
						width: 1px;
					}
				}
				&.line-top-left {
					top: 8px;
					left: 0;
					.rotate(-55deg);
				}
				&.line-top-center {
					top: 0;
					left: 50%;
					margin-left: -@line / 2;
				}
				&.line-top-right {
					top: 8px;
					right: 0;
					.rotate(55deg);
				}
				&.line-bottom-left {
					bottom: 8px;
					left: 0;
					.rotate(55deg);
				}
				&.line-bottom-center {
					bottom: 0;
					left: 50%;
					margin-left: -@line / 2;
				}
				&.line-bottom-right {
					bottom: 8px;
					right: 0;
					.rotate(-55deg);
				}

				&.soc_icon-facebook:before {
					background-color: #305fb3;
				}
				&.soc_icon-flickr:before {
					background-color: #ff0084;
				}
				&.soc_icon-google__x2B_:before,
				&.soc_icon-gmail:before,
				&.soc_icon-google:before {
					background-color: #d7482a;
				}
				&.soc_icon-twitter-2:before,
				&.soc_icon-twitter-3:before {
					background-color: #5eaade;
				}
				&.soc_icon-pinterest:before {
					background-color: #e1003a;
				}
				&.soc_icon-skype:before {
					background-color: #12c7ef;
				}
				&.soc_icon-vimeo:before {
					background-color: #3f90bf;
				}
				&.soc_icon-youtube:before {
					background-color: #ff3333;
				}
				&.soc_icon-dribbble:before {
					background-color: #f06eaa;
				}
				&.soc_icon-linkedin:before {
					background-color: #3399cc;
				}
				&.soc_icon-instagram:before {
					background-color: #9f6f59;
				}
				&.soc_icon-rss:before {
					background-color: #fca600;
				}
				&.soc_icon-rus-vk-01:before,
				&.soc_icon-rus-vk-02:before {
					background-color: #587a9f;
				}
				&.soc_icon-wordpress:before {
					background-color: #242424;
				}
				&.soc_icon-dropbox:before {
					background-color: #007ee5;
				}
				&.soc_icon-picasa:before {
					background-color: #9a469e;
				}
				&.soc_icon-deviantart:before {
					background-color: #5c6f61;
				}
				&.soc_icon-last_fm:before {
					background-color: #e0282e;
				}
				&.soc_icon-digg:before {
					background-color: #286091;
				}
				&.soc_icon-evernote:before {
					background-color: #6fb636;
				}
				&.soc_icon-foursquare_2:before {
					background-color: #1ca1cc;
				}
				&.soc_icon-livejournal:before {
					background-color: #6797c8;
				}
				&.soc_icon-tumblr:before {
					background-color: #3d5a70;
				}
				&.soc_icon-mail:before {
					background-color: #f1d454;
				}
				&.soc_icon-behance:before {
					background-color: #1769ff;
				}
				&.dfd-added-font-icon-px-icon:before {
					background-color: #00aeef;
				}
				&.dfd-added-font-icon-vb:before {
					background-color: #27b4e9;
				}
				&.dfd-added-font-icon-b_Xing-icon_bl:before {
					background-color: #cfdc00;
				}
				&.dfd-added-font-icon-bandcamp-logo:before {
					background-color: #629aa9;
				}
				&.dfd-added-font-icon-c_spotify-512-black:before {
					background-color: #cfdc00;
				}
				&.dfd-added-font-icon-houzz-dark-icon:before {
					background-color: #7AC143;
				}
				&.dfd-added-font-icon-Meerkat-color:before {
					background-color: #FFE203;
				}
				&.dfd-added-font-icon-periscope-logo:before {
					background-color: #46A3C4;
				}
				&.dfd-added-font-icon-skype:before {
					background-color: #009ee5;
				}
				&.dfd-added-font-icon-slideshare:before {
					background-color: #008ed2;
				}
				&.dfd-added-font-icon-Snapchat-logo:before {
					background-color: #FEFB1E;
				}
				&.dfd-added-font-icon-soundcloud-logo:before {
					background-color: #ff5500;
				}
				&.dfd-added-font-icon-the-city:before {
					background-color: #48a3be;
				}
				&.dfd-added-font-icon-pinpoint:before {
					background-color: #2376DE;
				}
				&.dfd-added-font-icon-viadeo:before {
					background-color: #FF7D0A;
				}
				&.dfd-added-font-icon-tripadvisor:before {
					background-color: #1f892f;
				}
			}
			&:hover {
				.line-top-left,
				.line-top-center,
				.line-top-right {
					&:before {
						top: 0;
						bottom: 100%;
					}
				}
				.line-bottom-left,
				.line-bottom-center,
				.line-bottom-right {
					&:before {
						top: 100%;
						bottom: 0;
					}
				}
				&.soc_icon-facebook:before {
					color: #305fb3;
				}
				&.soc_icon-flickr:before {
					color: #ff0084;
				}
				&.soc_icon-google__x2B_:before,
				&.soc_icon-gmail:before,
				&.soc_icon-google:before {
					color: #d7482a;
				}
				&.soc_icon-twitter-2:before,
				&.soc_icon-twitter-3:before {
					color: #5eaade;
				}
				&.soc_icon-pinterest:before {
					color: #e1003a;
				}
				&.soc_icon-skype:before {
					color: #12c7ef;
				}
				&.soc_icon-vimeo:before {
					color: #3f90bf;
				}
				&.soc_icon-youtube:before {
					color: #ff3333;
				}
				&.soc_icon-dribbble:before {
					color: #f06eaa;
				}
				&.soc_icon-linkedin:before {
					color: #3399cc;
				}
				&.soc_icon-instagram:before {
					color: #9f6f59;
				}
				&.soc_icon-rss:before {
					color: #fca600;
				}
				&.soc_icon-rus-vk-01:before,
				&.soc_icon-rus-vk-02:before {
					color: #587a9f;
				}
				&.soc_icon-wordpress:before {
					color: #242424;
				}
				&.soc_icon-dropbox:before {
					color: #007ee5;
				}
				&.soc_icon-picasa:before {
					color: #9a469e;
				}
				&.soc_icon-deviantart:before {
					color: #5c6f61;
				}
				&.soc_icon-last_fm:before {
					color: #e0282e;
				}
				&.soc_icon-digg:before {
					color: #286091;
				}
				&.soc_icon-evernote:before {
					color: #6fb636;
				}
				&.soc_icon-foursquare_2:before {
					color: #1ca1cc;
				}
				&.soc_icon-livejournal:before {
					color: #6797c8;
				}
				&.soc_icon-tumblr:before {
					color: #3d5a70;
				}
				&.soc_icon-mail:before {
					color: #f1d454;
				}
				&.soc_icon-behance:before {
					color: #1769ff;
				}
				&.dfd-added-font-icon-px-icon:before {
					color: #00aeef;
				}
				&.dfd-added-font-icon-vb:before {
					color: #27b4e9;
				}
				&.dfd-added-font-icon-b_Xing-icon_bl:before {
					color: #cfdc00;
				}
				&.dfd-added-font-icon-bandcamp-logo:before {
					color: #629aa9;
				}
				&.dfd-added-font-icon-c_spotify-512-black:before {
					color: #1ed760;
				}
				&.dfd-added-font-icon-houzz-dark-icon:before {
					color: #7AC143;
				}
				&.dfd-added-font-icon-Meerkat-color:before {
					color: #FFE203;
				}
				&.dfd-added-font-icon-periscope-logo:before {
					color: #46A3C4;
				}
				&.dfd-added-font-icon-skype:before {
					color: #009ee5;
				}
				&.dfd-added-font-icon-slideshare:before {
					color: #008ed2;
				}
				&.dfd-added-font-icon-Snapchat-logo:before {
					color: #FEFB1E;
				}
				&.dfd-added-font-icon-soundcloud-logo:before {
					color: #ff5500;
				}
				&.dfd-added-font-icon-the-city:before {
					color: #48a3be;
				}
				&.dfd-added-font-icon-pinpoint:before {
					color: #2376DE;
				}
				&.dfd-added-font-icon-viadeo:before {
					color: #FF7D0A;
				}
				&.dfd-added-font-icon-tripadvisor:before {
					color: #1f892f;
				}
			}
		}
	}
	&.style-10 {
		a {
			i {
				top: 0;
				left: 0;
				.transition(text-shadow .2s ease);
			}
			&:hover {
				i {
					&.soc_icon-facebook {
						text-shadow:	rgb(37, 74, 140) 1px 1px,
										rgb(37, 74, 140) 2px 2px,
										rgb(37, 74, 140) 3px 3px,
										rgb(37, 74, 140) 4px 4px,
										rgb(37, 74, 140) 5px 5px,
										rgb(37, 74, 140) 6px 6px,
										rgb(37, 74, 140) 7px 7px,
										rgb(37, 74, 140) 8px 8px,
										rgb(37, 75, 141) 9px 9px,
										rgb(38, 76, 143) 10px 10px,
										rgb(38, 77, 145) 11px 11px,
										rgb(39, 78, 147) 12px 12px,
										rgb(39, 79, 149) 13px 13px,
										rgb(40, 80, 151) 14px 14px,
										rgb(40, 81, 153) 15px 15px,
										rgb(41, 82, 155) 16px 16px,
										rgb(41, 83, 157) 17px 17px,
										rgb(42, 84, 159) 18px 18px,
										rgb(43, 85, 161) 19px 19px,
										rgb(43, 86, 163) 20px 20px,
										rgb(44, 87, 165) 21px 21px,
										rgb(44, 88, 167) 22px 22px,
										rgb(45, 89, 169) 23px 23px,
										rgb(45, 90, 171) 24px 24px,
										rgb(46, 91, 173) 25px 25px,
										rgb(46, 92, 175) 26px 26px,
										rgb(47, 93, 177) 27px 27px,
										rgb(48, 95, 179) 28px 28px;
					}
					&.soc_icon-flickr {
						text-shadow:	rgb(199, 0, 103) 1px 1px,
										rgb(199, 0, 103) 2px 2px,
										rgb(199, 0, 103) 3px 3px,
										rgb(199, 0, 103) 4px 4px,
										rgb(199, 0, 103) 5px 5px,
										rgb(199, 0, 103) 6px 6px,
										rgb(199, 0, 103) 7px 7px,
										rgb(199, 0, 103) 8px 8px,
										rgb(201, 0, 104) 9px 9px,
										rgb(204, 0, 105) 10px 10px,
										rgb(207, 0, 107) 11px 11px,
										rgb(210, 0, 108) 12px 12px,
										rgb(213, 0, 110) 13px 13px,
										rgb(215, 0, 111) 14px 14px,
										rgb(218, 0, 113) 15px 15px,
										rgb(221, 0, 114) 16px 16px,
										rgb(224, 0, 116) 17px 17px,
										rgb(227, 0, 117) 18px 18px,
										rgb(229, 0, 118) 19px 19px,
										rgb(232, 0, 120) 20px 20px,
										rgb(235, 0, 121) 21px 21px,
										rgb(238, 0, 123) 22px 22px,
										rgb(241, 0, 124) 23px 23px,
										rgb(243, 0, 126) 24px 24px,
										rgb(246, 0, 127) 25px 25px,
										rgb(249, 0, 129) 26px 26px,
										rgb(252, 0, 130) 27px 27px,
										rgb(255, 0, 132) 28px 28px;
					}
					&.soc_icon-google__x2B_,
					&.soc_icon-gmail,
					&.soc_icon-google {
						text-shadow:	rgb(168, 56, 33) 1px 1px,
										rgb(168, 56, 33) 2px 2px,
										rgb(168, 56, 33) 3px 3px,
										rgb(168, 56, 33) 4px 4px,
										rgb(168, 56, 33) 5px 5px,
										rgb(168, 56, 33) 6px 6px,
										rgb(168, 56, 33) 7px 7px,
										rgb(168, 56, 33) 8px 8px,
										rgb(170, 56, 33) 9px 9px,
										rgb(172, 57, 33) 10px 10px,
										rgb(175, 58, 34) 11px 11px,
										rgb(177, 59, 34) 12px 12px,
										rgb(179, 60, 35) 13px 13px,
										rgb(182, 60, 35) 14px 14px,
										rgb(184, 61, 36) 15px 15px,
										rgb(186, 62, 36) 16px 16px,
										rgb(189, 63, 37) 17px 17px,
										rgb(191, 64, 37) 18px 18px,
										rgb(193, 64, 37) 19px 19px,
										rgb(196, 65, 38) 20px 20px,
										rgb(198, 66, 38) 21px 21px,
										rgb(200, 67, 39) 22px 22px,
										rgb(203, 68, 39) 23px 23px,
										rgb(205, 68, 40) 24px 24px,
										rgb(207, 69, 40) 25px 25px,
										rgb(210, 70, 41) 26px 26px,
										rgb(212, 71, 41) 27px 27px,
										rgb(215, 72, 42) 28px 28px;
					}
					&.soc_icon-twitter-2,
					&.soc_icon-twitter-3 {
						text-shadow:	rgb(73, 133, 173) 1px 1px,
										rgb(73, 133, 173) 2px 2px,
										rgb(73, 133, 173) 3px 3px,
										rgb(73, 133, 173) 4px 4px,
										rgb(73, 133, 173) 5px 5px,
										rgb(73, 133, 173) 6px 6px,
										rgb(73, 133, 173) 7px 7px,
										rgb(73, 133, 173) 8px 8px,
										rgb(74, 134, 175) 9px 9px,
										rgb(75, 136, 177) 10px 10px,
										rgb(76, 138, 180) 11px 11px,
										rgb(77, 140, 182) 12px 12px,
										rgb(78, 142, 185) 13px 13px,
										rgb(79, 144, 187) 14px 14px,
										rgb(80, 145, 190) 15px 15px,
										rgb(81, 147, 192) 16px 16px,
										rgb(82, 149, 195) 17px 17px,
										rgb(83, 151, 197) 18px 18px,
										rgb(84, 153, 199) 19px 19px,
										rgb(85, 155, 202) 20px 20px,
										rgb(86, 157, 204) 21px 21px,
										rgb(87, 158, 207) 22px 22px,
										rgb(88, 160, 209) 23px 23px,
										rgb(89, 162, 212) 24px 24px,
										rgb(90, 164, 214) 25px 25px,
										rgb(91, 166, 217) 26px 26px,
										rgb(92, 168, 219) 27px 27px,
										rgb(94, 170, 222) 28px 28px;
					}
					&.soc_icon-pinterest {
						text-shadow:	rgb(176, 0, 45) 1px 1px,
										rgb(176, 0, 45) 2px 2px,
										rgb(176, 0, 45) 3px 3px,
										rgb(176, 0, 45) 4px 4px,
										rgb(176, 0, 45) 5px 5px,
										rgb(176, 0, 45) 6px 6px,
										rgb(176, 0, 45) 7px 7px,
										rgb(176, 0, 45) 8px 8px,
										rgb(178, 0, 45) 9px 9px,
										rgb(180, 0, 46) 10px 10px,
										rgb(183, 0, 46) 11px 11px,
										rgb(185, 0, 47) 12px 12px,
										rgb(188, 0, 48) 13px 13px,
										rgb(190, 0, 48) 14px 14px,
										rgb(193, 0, 49) 15px 15px,
										rgb(195, 0, 50) 16px 16px,
										rgb(198, 0, 50) 17px 17px,
										rgb(200, 0, 51) 18px 18px,
										rgb(202, 0, 52) 19px 19px,
										rgb(205, 0, 52) 20px 20px,
										rgb(207, 0, 53) 21px 21px,
										rgb(210, 0, 54) 22px 22px,
										rgb(212, 0, 54) 23px 23px,
										rgb(215, 0, 55) 24px 24px,
										rgb(217, 0, 56) 25px 25px,
										rgb(220, 0, 56) 26px 26px,
										rgb(222, 0, 57) 27px 27px,
										rgb(225, 0, 58) 28px 28px;
					}
					&.soc_icon-skype {
						text-shadow:	rgb(14, 155, 186) 1px 1px,
										rgb(14, 155, 186) 2px 2px,
										rgb(14, 155, 186) 3px 3px,
										rgb(14, 155, 186) 4px 4px,
										rgb(14, 155, 186) 5px 5px,
										rgb(14, 155, 186) 6px 6px,
										rgb(14, 155, 186) 7px 7px,
										rgb(14, 155, 186) 8px 8px,
										rgb(14, 157, 188) 9px 9px,
										rgb(14, 159, 191) 10px 10px,
										rgb(14, 161, 193) 11px 11px,
										rgb(14, 163, 196) 12px 12px,
										rgb(15, 166, 199) 13px 13px,
										rgb(15, 168, 201) 14px 14px,
										rgb(15, 170, 204) 15px 15px,
										rgb(15, 172, 207) 16px 16px,
										rgb(15, 174, 209) 17px 17px,
										rgb(16, 177, 212) 18px 18px,
										rgb(16, 179, 215) 19px 19px,
										rgb(16, 181, 217) 20px 20px,
										rgb(16, 183, 220) 21px 21px,
										rgb(16, 185, 223) 22px 22px,
										rgb(17, 188, 225) 23px 23px,
										rgb(17, 190, 228) 24px 24px,
										rgb(17, 192, 231) 25px 25px,
										rgb(17, 194, 233) 26px 26px,
										rgb(17, 196, 236) 27px 27px,
										rgb(18, 199, 239) 28px 28px;
					}
					&.soc_icon-vimeo {
						text-shadow:	rgb(49, 112, 149) 1px 1px,
										rgb(49, 112, 149) 2px 2px,
										rgb(49, 112, 149) 3px 3px,
										rgb(49, 112, 149) 4px 4px,
										rgb(49, 112, 149) 5px 5px,
										rgb(49, 112, 149) 6px 6px,
										rgb(49, 112, 149) 7px 7px,
										rgb(49, 112, 149) 8px 8px,
										rgb(49, 113, 151) 9px 9px,
										rgb(50, 115, 153) 10px 10px,
										rgb(51, 116, 155) 11px 11px,
										rgb(51, 118, 157) 12px 12px,
										rgb(52, 120, 159) 13px 13px,
										rgb(53, 121, 161) 14px 14px,
										rgb(53, 123, 163) 15px 15px,
										rgb(54, 124, 165) 16px 16px,
										rgb(55, 126, 167) 17px 17px,
										rgb(56, 128, 170) 18px 18px,
										rgb(56, 129, 172) 19px 19px,
										rgb(57, 131, 174) 20px 20px,
										rgb(58, 132, 176) 21px 21px,
										rgb(58, 134, 178) 22px 22px,
										rgb(59, 136, 180) 23px 23px,
										rgb(60, 137, 182) 24px 24px,
										rgb(60, 139, 184) 25px 25px,
										rgb(61, 140, 186) 26px 26px,
										rgb(62, 142, 188) 27px 27px,
										rgb(63, 144, 191) 28px 28px;
					}
					&.soc_icon-youtube {
						text-shadow:	rgb(199, 40, 40) 1px 1px,
										rgb(199, 40, 40) 2px 2px,
										rgb(199, 40, 40) 3px 3px,
										rgb(199, 40, 40) 4px 4px,
										rgb(199, 40, 40) 5px 5px,
										rgb(199, 40, 40) 6px 6px,
										rgb(199, 40, 40) 7px 7px,
										rgb(199, 40, 40) 8px 8px,
										rgb(201, 40, 40) 9px 9px,
										rgb(204, 41, 41) 10px 10px,
										rgb(207, 41, 41) 11px 11px,
										rgb(210, 42, 42) 12px 12px,
										rgb(213, 42, 42) 13px 13px,
										rgb(215, 43, 43) 14px 14px,
										rgb(218, 43, 43) 15px 15px,
										rgb(221, 44, 44) 16px 16px,
										rgb(224, 44, 44) 17px 17px,
										rgb(227, 45, 45) 18px 18px,
										rgb(229, 46, 46) 19px 19px,
										rgb(232, 46, 46) 20px 20px,
										rgb(235, 47, 47) 21px 21px,
										rgb(238, 47, 47) 22px 22px,
										rgb(241, 48, 48) 23px 23px,
										rgb(243, 48, 48) 24px 24px,
										rgb(246, 49, 49) 25px 25px,
										rgb(249, 49, 49) 26px 26px,
										rgb(252, 50, 50) 27px 27px,
										rgb(255, 51, 51) 28px 28px;
					}
					&.soc_icon-dribbble {
						text-shadow:	rgb(187, 86, 133) 1px 1px,
										rgb(187, 86, 133) 2px 2px,
										rgb(187, 86, 133) 3px 3px,
										rgb(187, 86, 133) 4px 4px,
										rgb(187, 86, 133) 5px 5px,
										rgb(187, 86, 133) 6px 6px,
										rgb(187, 86, 133) 7px 7px,
										rgb(187, 86, 133) 8px 8px,
										rgb(189, 87, 134) 9px 9px,
										rgb(192, 88, 136) 10px 10px,
										rgb(194, 89, 138) 11px 11px,
										rgb(197, 90, 140) 12px 12px,
										rgb(200, 92, 142) 13px 13px,
										rgb(202, 93, 144) 14px 14px,
										rgb(205, 94, 145) 15px 15px,
										rgb(208, 95, 147) 16px 16px,
										rgb(210, 96, 149) 17px 17px,
										rgb(213, 98, 151) 18px 18px,
										rgb(216, 99, 153) 19px 19px,
										rgb(218, 100, 155) 20px 20px,
										rgb(221, 101, 157) 21px 21px,
										rgb(224, 102, 158) 22px 22px,
										rgb(226, 104, 160) 23px 23px,
										rgb(229, 105, 162) 24px 24px,
										rgb(232, 106, 164) 25px 25px,
										rgb(234, 107, 166) 26px 26px,
										rgb(237, 108, 168) 27px 27px,
										rgb(240, 110, 170) 28px 28px;
					}
					&.soc_icon-linkedin {
						text-shadow:	rgb(40, 119, 159) 1px 1px,
										rgb(40, 119, 159) 2px 2px,
										rgb(40, 119, 159) 3px 3px,
										rgb(40, 119, 159) 4px 4px,
										rgb(40, 119, 159) 5px 5px,
										rgb(40, 119, 159) 6px 6px,
										rgb(40, 119, 159) 7px 7px,
										rgb(40, 119, 159) 8px 8px,
										rgb(40, 120, 161) 9px 9px,
										rgb(41, 122, 163) 10px 10px,
										rgb(41, 124, 165) 11px 11px,
										rgb(42, 125, 168) 12px 12px,
										rgb(42, 127, 170) 13px 13px,
										rgb(43, 129, 172) 14px 14px,
										rgb(43, 130, 174) 15px 15px,
										rgb(44, 132, 177) 16px 16px,
										rgb(44, 134, 179) 17px 17px,
										rgb(45, 136, 181) 18px 18px,
										rgb(46, 137, 183) 19px 19px,
										rgb(46, 139, 186) 20px 20px,
										rgb(47, 141, 188) 21px 21px,
										rgb(47, 142, 190) 22px 22px,
										rgb(48, 144, 192) 23px 23px,
										rgb(48, 146, 195) 24px 24px,
										rgb(49, 147, 197) 25px 25px,
										rgb(49, 149, 199) 26px 26px,
										rgb(50, 151, 201) 27px 27px,
										rgb(51, 153, 204) 28px 28px;
					}
					&.soc_icon-instagram {
						text-shadow:	rgb(124, 87, 69) 1px 1px,
										rgb(124, 87, 69) 2px 2px,
										rgb(124, 87, 69) 3px 3px,
										rgb(124, 87, 69) 4px 4px,
										rgb(124, 87, 69) 5px 5px,
										rgb(124, 87, 69) 6px 6px,
										rgb(124, 87, 69) 7px 7px,
										rgb(124, 87, 69) 8px 8px,
										rgb(125, 88, 70) 9px 9px,
										rgb(127, 89, 71) 10px 10px,
										rgb(129, 90, 72) 11px 11px,
										rgb(131, 91, 73) 12px 12px,
										rgb(132, 93, 74) 13px 13px,
										rgb(134, 94, 75) 14px 14px,
										rgb(136, 95, 76) 15px 15px,
										rgb(138, 96, 77) 16px 16px,
										rgb(139, 97, 78) 17px 17px,
										rgb(141, 99, 79) 18px 18px,
										rgb(143, 100, 80) 19px 19px,
										rgb(145, 101, 81) 20px 20px,
										rgb(146, 102, 82) 21px 21px,
										rgb(148, 103, 83) 22px 22px,
										rgb(150, 105, 84) 23px 23px,
										rgb(152, 106, 85) 24px 24px,
										rgb(153, 107, 86) 25px 25px,
										rgb(155, 108, 87) 26px 26px,
										rgb(157, 109, 88) 27px 27px,
										rgb(159, 111, 89) 28px 28px;
					}
					&.soc_icon-rss {
						text-shadow:	rgb(197, 129, 0) 1px 1px,
										rgb(197, 129, 0) 2px 2px,
										rgb(197, 129, 0) 3px 3px,
										rgb(197, 129, 0) 4px 4px,
										rgb(197, 129, 0) 5px 5px,
										rgb(197, 129, 0) 6px 6px,
										rgb(197, 129, 0) 7px 7px,
										rgb(197, 129, 0) 8px 8px,
										rgb(199, 130, 0) 9px 9px,
										rgb(202, 132, 0) 10px 10px,
										rgb(205, 134, 0) 11px 11px,
										rgb(208, 136, 0) 12px 12px,
										rgb(210, 138, 0) 13px 13px,
										rgb(213, 140, 0) 14px 14px,
										rgb(216, 141, 0) 15px 15px,
										rgb(219, 143, 0) 16px 16px,
										rgb(221, 145, 0) 17px 17px,
										rgb(224, 147, 0) 18px 18px,
										rgb(227, 149, 0) 19px 19px,
										rgb(230, 151, 0) 20px 20px,
										rgb(232, 153, 0) 21px 21px,
										rgb(235, 154, 0) 22px 22px,
										rgb(238, 156, 0) 23px 23px,
										rgb(241, 158, 0) 24px 24px,
										rgb(243, 160, 0) 25px 25px,
										rgb(246, 162, 0) 26px 26px,
										rgb(249, 164, 0) 27px 27px,
										rgb(252, 166, 0) 28px 28px;
					}
					&.soc_icon-rus-vk-01,
					&.soc_icon-rus-vk-02 {
						text-shadow:	rgb(69, 95, 124) 1px 1px,
										rgb(69, 95, 124) 2px 2px,
										rgb(69, 95, 124) 3px 3px,
										rgb(69, 95, 124) 4px 4px,
										rgb(69, 95, 124) 5px 5px,
										rgb(69, 95, 124) 6px 6px,
										rgb(69, 95, 124) 7px 7px,
										rgb(69, 95, 124) 8px 8px,
										rgb(69, 96, 125) 9px 9px,
										rgb(70, 97, 127) 10px 10px,
										rgb(71, 99, 129) 11px 11px,
										rgb(72, 100, 131) 12px 12px,
										rgb(73, 101, 132) 13px 13px,
										rgb(74, 103, 134) 14px 14px,
										rgb(75, 104, 136) 15px 15px,
										rgb(76, 105, 138) 16px 16px,
										rgb(77, 107, 139) 17px 17px,
										rgb(78, 108, 141) 18px 18px,
										rgb(79, 109, 143) 19px 19px,
										rgb(80, 111, 145) 20px 20px,
										rgb(81, 112, 146) 21px 21px,
										rgb(82, 113, 148) 22px 22px,
										rgb(83, 115, 150) 23px 23px,
										rgb(84, 116, 152) 24px 24px,
										rgb(85, 117, 153) 25px 25px,
										rgb(86, 119, 155) 26px 26px,
										rgb(87, 120, 157) 27px 27px,
										rgb(88, 122, 159) 28px 28px;
					}
					&.soc_icon-wordpress {
						text-shadow:	rgb(28, 28, 28) 1px 1px,
										rgb(28, 28, 28) 2px 2px,
										rgb(28, 28, 28) 3px 3px,
										rgb(28, 28, 28) 4px 4px,
										rgb(28, 28, 28) 5px 5px,
										rgb(28, 28, 28) 6px 6px,
										rgb(28, 28, 28) 7px 7px,
										rgb(28, 28, 28) 8px 8px,
										rgb(28, 28, 28) 9px 9px,
										rgb(28, 28, 28) 10px 10px,
										rgb(29, 29, 29) 11px 11px,
										rgb(29, 29, 29) 12px 12px,
										rgb(30, 30, 30) 13px 13px,
										rgb(30, 30, 30) 14px 14px,
										rgb(30, 30, 30) 15px 15px,
										rgb(31, 31, 31) 16px 16px,
										rgb(31, 31, 31) 17px 17px,
										rgb(32, 32, 32) 18px 18px,
										rgb(32, 32, 32) 19px 19px,
										rgb(32, 32, 32) 20px 20px,
										rgb(33, 33, 33) 21px 21px,
										rgb(33, 33, 33) 22px 22px,
										rgb(34, 34, 34) 23px 23px,
										rgb(34, 34, 34) 24px 24px,
										rgb(34, 34, 34) 25px 25px,
										rgb(35, 35, 35) 26px 26px,
										rgb(35, 35, 35) 27px 27px,
										rgb(36, 36, 36) 28px 28px;
					}
					&.soc_icon-dropbox {
						text-shadow:	rgb(0, 98, 179) 1px 1px,
										rgb(0, 98, 179) 2px 2px,
										rgb(0, 98, 179) 3px 3px,
										rgb(0, 98, 179) 4px 4px,
										rgb(0, 98, 179) 5px 5px,
										rgb(0, 98, 179) 6px 6px,
										rgb(0, 98, 179) 7px 7px,
										rgb(0, 98, 179) 8px 8px,
										rgb(0, 99, 181) 9px 9px,
										rgb(0, 100, 184) 10px 10px,
										rgb(0, 102, 186) 11px 11px,
										rgb(0, 103, 189) 12px 12px,
										rgb(0, 105, 191) 13px 13px,
										rgb(0, 106, 194) 14px 14px,
										rgb(0, 107, 196) 15px 15px,
										rgb(0, 109, 199) 16px 16px,
										rgb(0, 110, 201) 17px 17px,
										rgb(0, 112, 204) 18px 18px,
										rgb(0, 113, 206) 19px 19px,
										rgb(0, 114, 209) 20px 20px,
										rgb(0, 116, 211) 21px 21px,
										rgb(0, 117, 214) 22px 22px,
										rgb(0, 119, 216) 23px 23px,
										rgb(0, 120, 219) 24px 24px,
										rgb(0, 121, 221) 25px 25px,
										rgb(0, 123, 224) 26px 26px,
										rgb(0, 124, 226) 27px 27px,
										rgb(0, 126, 229) 28px 28px;
					}
					&.soc_icon-picasa {
						text-shadow:	rgb(120, 55, 123) 1px 1px,
										rgb(120, 55, 123) 2px 2px,
										rgb(120, 55, 123) 3px 3px,
										rgb(120, 55, 123) 4px 4px,
										rgb(120, 55, 123) 5px 5px,
										rgb(120, 55, 123) 6px 6px,
										rgb(120, 55, 123) 7px 7px,
										rgb(120, 55, 123) 8px 8px,
										rgb(121, 55, 124) 9px 9px,
										rgb(123, 56, 126) 10px 10px,
										rgb(125, 57, 128) 11px 11px,
										rgb(126, 58, 130) 12px 12px,
										rgb(128, 58, 131) 13px 13px,
										rgb(130, 59, 133) 14px 14px,
										rgb(131, 60, 135) 15px 15px,
										rgb(133, 61, 137) 16px 16px,
										rgb(135, 61, 138) 17px 17px,
										rgb(137, 62, 140) 18px 18px,
										rgb(138, 63, 142) 19px 19px,
										rgb(140, 64, 144) 20px 20px,
										rgb(142, 64, 145) 21px 21px,
										rgb(143, 65, 147) 22px 22px,
										rgb(145, 66, 149) 23px 23px,
										rgb(147, 67, 151) 24px 24px,
										rgb(148, 67, 152) 25px 25px,
										rgb(150, 68, 154) 26px 26px,
										rgb(152, 69, 156) 27px 27px,
										rgb(154, 70, 158) 28px 28px;
					}
					&.soc_icon-deviantart {
						text-shadow:	rgb(72, 87, 76) 1px 1px,
										rgb(72, 87, 76) 2px 2px,
										rgb(72, 87, 76) 3px 3px,
										rgb(72, 87, 76) 4px 4px,
										rgb(72, 87, 76) 5px 5px,
										rgb(72, 87, 76) 6px 6px,
										rgb(72, 87, 76) 7px 7px,
										rgb(72, 87, 76) 8px 8px,
										rgb(73, 88, 77) 9px 9px,
										rgb(74, 89, 78) 10px 10px,
										rgb(75, 90, 79) 11px 11px,
										rgb(76, 91, 80) 12px 12px,
										rgb(77, 93, 81) 13px 13px,
										rgb(78, 94, 82) 14px 14px,
										rgb(79, 95, 83) 15px 15px,
										rgb(80, 96, 84) 16px 16px,
										rgb(81, 97, 85) 17px 17px,
										rgb(82, 99, 86) 18px 18px,
										rgb(83, 100, 87) 19px 19px,
										rgb(84, 101, 88) 20px 20px,
										rgb(85, 102, 89) 21px 21px,
										rgb(86, 103, 90) 22px 22px,
										rgb(87, 105, 91) 23px 23px,
										rgb(88, 106, 92) 24px 24px,
										rgb(89, 107, 93) 25px 25px,
										rgb(90, 108, 94) 26px 26px,
										rgb(91, 109, 95) 27px 27px,
										rgb(92, 111, 97) 28px 28px;
					}
					&.soc_icon-last_fm {
						text-shadow:	rgb(175, 31, 36) 1px 1px,
										rgb(175, 31, 36) 2px 2px,
										rgb(175, 31, 36) 3px 3px,
										rgb(175, 31, 36) 4px 4px,
										rgb(175, 31, 36) 5px 5px,
										rgb(175, 31, 36) 6px 6px,
										rgb(175, 31, 36) 7px 7px,
										rgb(175, 31, 36) 8px 8px,
										rgb(177, 31, 36) 9px 9px,
										rgb(179, 31, 37) 10px 10px,
										rgb(182, 32, 37) 11px 11px,
										rgb(184, 32, 38) 12px 12px,
										rgb(187, 33, 38) 13px 13px,
										rgb(189, 33, 39) 14px 14px,
										rgb(192, 34, 39) 15px 15px,
										rgb(194, 34, 40) 16px 16px,
										rgb(197, 35, 40) 17px 17px,
										rgb(199, 35, 41) 18px 18px,
										rgb(201, 35, 41) 19px 19px,
										rgb(204, 36, 42) 20px 20px,
										rgb(206, 36, 42) 21px 21px,
										rgb(209, 37, 43) 22px 22px,
										rgb(211, 37, 43) 23px 23px,
										rgb(214, 38, 44) 24px 24px,
										rgb(216, 38, 44) 25px 25px,
										rgb(219, 39, 45) 26px 26px,
										rgb(221, 39, 45) 27px 27px,
										rgb(224, 40, 46) 28px 28px;
					}
					&.soc_icon-digg {
						text-shadow:	rgb(31, 75, 113) 1px 1px,
										rgb(31, 75, 113) 2px 2px,
										rgb(31, 75, 113) 3px 3px,
										rgb(31, 75, 113) 4px 4px,
										rgb(31, 75, 113) 5px 5px,
										rgb(31, 75, 113) 6px 6px,
										rgb(31, 75, 113) 7px 7px,
										rgb(31, 75, 113) 8px 8px,
										rgb(31, 76, 114) 9px 9px,
										rgb(31, 77, 116) 10px 10px,
										rgb(32, 78, 117) 11px 11px,
										rgb(32, 79, 119) 12px 12px,
										rgb(33, 80, 121) 13px 13px,
										rgb(33, 81, 122) 14px 14px,
										rgb(34, 82, 124) 15px 15px,
										rgb(34, 83, 125) 16px 16px,
										rgb(35, 84, 127) 17px 17px,
										rgb(35, 85, 129) 18px 18px,
										rgb(35, 86, 130) 19px 19px,
										rgb(36, 87, 132) 20px 20px,
										rgb(36, 88, 133) 21px 21px,
										rgb(37, 89, 135) 22px 22px,
										rgb(37, 90, 137) 23px 23px,
										rgb(38, 91, 138) 24px 24px,
										rgb(38, 92, 140) 25px 25px,
										rgb(39, 93, 141) 26px 26px,
										rgb(39, 94, 143) 27px 27px,
										rgb(40, 96, 145) 28px 28px;
					}
					&.soc_icon-evernote {
						text-shadow:	rgb(87, 142, 42) 1px 1px,
										rgb(87, 142, 42) 2px 2px,
										rgb(87, 142, 42) 3px 3px,
										rgb(87, 142, 42) 4px 4px,
										rgb(87, 142, 42) 5px 5px,
										rgb(87, 142, 42) 6px 6px,
										rgb(87, 142, 42) 7px 7px,
										rgb(87, 142, 42) 8px 8px,
										rgb(88, 144, 42) 9px 9px,
										rgb(89, 146, 43) 10px 10px,
										rgb(90, 148, 43) 11px 11px,
										rgb(91, 150, 44) 12px 12px,
										rgb(93, 152, 45) 13px 13px,
										rgb(94, 154, 45) 14px 14px,
										rgb(95, 156, 46) 15px 15px,
										rgb(96, 158, 46) 16px 16px,
										rgb(97, 160, 47) 17px 17px,
										rgb(99, 162, 48) 18px 18px,
										rgb(100, 164, 48) 19px 19px,
										rgb(101, 166, 49) 20px 20px,
										rgb(102, 168, 49) 21px 21px,
										rgb(103, 170, 50) 22px 22px,
										rgb(105, 172, 51) 23px 23px,
										rgb(106, 174, 51) 24px 24px,
										rgb(107, 176, 52) 25px 25px,
										rgb(108, 178, 52) 26px 26px,
										rgb(109, 180, 53) 27px 27px,
										rgb(111, 182, 54) 28px 28px;
					}
					&.soc_icon-foursquare_2 {
						text-shadow:	rgb(22, 126, 159) 1px 1px,
										rgb(22, 126, 159) 2px 2px,
										rgb(22, 126, 159) 3px 3px,
										rgb(22, 126, 159) 4px 4px,
										rgb(22, 126, 159) 5px 5px,
										rgb(22, 126, 159) 6px 6px,
										rgb(22, 126, 159) 7px 7px,
										rgb(22, 126, 159) 8px 8px,
										rgb(22, 127, 161) 9px 9px,
										rgb(22, 129, 163) 10px 10px,
										rgb(22, 131, 165) 11px 11px,
										rgb(23, 133, 168) 12px 12px,
										rgb(23, 134, 170) 13px 13px,
										rgb(23, 136, 172) 14px 14px,
										rgb(24, 138, 174) 15px 15px,
										rgb(24, 140, 177) 16px 16px,
										rgb(24, 141, 179) 17px 17px,
										rgb(25, 143, 181) 18px 18px,
										rgb(25, 145, 183) 19px 19px,
										rgb(25, 147, 186) 20px 20px,
										rgb(25, 148, 188) 21px 21px,
										rgb(26, 150, 190) 22px 22px,
										rgb(26, 152, 192) 23px 23px,
										rgb(26, 154, 195) 24px 24px,
										rgb(27, 155, 197) 25px 25px,
										rgb(27, 157, 199) 26px 26px,
										rgb(27, 159, 201) 27px 27px,
										rgb(28, 161, 204) 28px 28px;
					}
					&.soc_icon-livejournal {
						text-shadow:	rgb(80, 118, 156) 1px 1px,
										rgb(80, 118, 156) 2px 2px,
										rgb(80, 118, 156) 3px 3px,
										rgb(80, 118, 156) 4px 4px,
										rgb(80, 118, 156) 5px 5px,
										rgb(80, 118, 156) 6px 6px,
										rgb(80, 118, 156) 7px 7px,
										rgb(80, 118, 156) 8px 8px,
										rgb(81, 119, 158) 9px 9px,
										rgb(82, 121, 160) 10px 10px,
										rgb(83, 122, 162) 11px 11px,
										rgb(84, 124, 164) 12px 12px,
										rgb(85, 126, 167) 13px 13px,
										rgb(86, 127, 169) 14px 14px,
										rgb(88, 129, 171) 15px 15px,
										rgb(89, 131, 173) 16px 16px,
										rgb(90, 132, 175) 17px 17px,
										rgb(91, 134, 178) 18px 18px,
										rgb(92, 136, 180) 19px 19px,
										rgb(93, 137, 182) 20px 20px,
										rgb(94, 139, 184) 21px 21px,
										rgb(96, 141, 186) 22px 22px,
										rgb(97, 142, 189) 23px 23px,
										rgb(98, 144, 191) 24px 24px,
										rgb(99, 146, 193) 25px 25px,
										rgb(100, 147, 195) 26px 26px,
										rgb(101, 149, 197) 27px 27px,
										rgb(103, 151, 200) 28px 28px;
					}
					&.soc_icon-tumblr {
						text-shadow:	rgb(48, 70, 87) 1px 1px,
										rgb(48, 70, 87) 2px 2px,
										rgb(48, 70, 87) 3px 3px,
										rgb(48, 70, 87) 4px 4px,
										rgb(48, 70, 87) 5px 5px,
										rgb(48, 70, 87) 6px 6px,
										rgb(48, 70, 87) 7px 7px,
										rgb(48, 70, 87) 8px 8px,
										rgb(48, 71, 88) 9px 9px,
										rgb(49, 72, 89) 10px 10px,
										rgb(49, 73, 90) 11px 11px,
										rgb(50, 74, 92) 12px 12px,
										rgb(51, 75, 93) 13px 13px,
										rgb(51, 76, 94) 14px 14px,
										rgb(52, 77, 95) 15px 15px,
										rgb(53, 78, 97) 16px 16px,
										rgb(53, 79, 98) 17px 17px,
										rgb(54, 80, 99) 18px 18px,
										rgb(55, 81, 100) 19px 19px,
										rgb(55, 82, 102) 20px 20px,
										rgb(56, 83, 103) 21px 21px,
										rgb(57, 84, 104) 22px 22px,
										rgb(57, 85, 105) 23px 23px,
										rgb(58, 86, 107) 24px 24px,
										rgb(59, 87, 108) 25px 25px,
										rgb(59, 88, 109) 26px 26px,
										rgb(60, 89, 110) 27px 27px,
										rgb(61, 90, 112) 28px 28px;
					}
					&.soc_icon-mail {
						text-shadow:	rgb(188, 165, 66) 1px 1px,
										rgb(188, 165, 66) 2px 2px,
										rgb(188, 165, 66) 3px 3px,
										rgb(188, 165, 66) 4px 4px,
										rgb(188, 165, 66) 5px 5px,
										rgb(188, 165, 66) 6px 6px,
										rgb(188, 165, 66) 7px 7px,
										rgb(188, 165, 66) 8px 8px,
										rgb(190, 167, 66) 9px 9px,
										rgb(193, 169, 67) 10px 10px,
										rgb(195, 172, 68) 11px 11px,
										rgb(198, 174, 69) 12px 12px,
										rgb(201, 176, 70) 13px 13px,
										rgb(203, 179, 71) 14px 14px,
										rgb(206, 181, 72) 15px 15px,
										rgb(209, 183, 73) 16px 16px,
										rgb(211, 186, 74) 17px 17px,
										rgb(214, 188, 75) 18px 18px,
										rgb(217, 190, 75) 19px 19px,
										rgb(219, 193, 76) 20px 20px,
										rgb(222, 195, 77) 21px 21px,
										rgb(225, 197, 78) 22px 22px,
										rgb(227, 200, 79) 23px 23px,
										rgb(230, 202, 80) 24px 24px,
										rgb(233, 204, 81) 25px 25px,
										rgb(235, 207, 82) 26px 26px,
										rgb(238, 209, 83) 27px 27px,
										rgb(241, 212, 84) 28px 28px;
					}
					&.soc_icon-behance {
						text-shadow:	rgb(18, 82, 199) 1px 1px,
										rgb(18, 82, 199) 2px 2px,
										rgb(18, 82, 199) 3px 3px,
										rgb(18, 82, 199) 4px 4px,
										rgb(18, 82, 199) 5px 5px,
										rgb(18, 82, 199) 6px 6px,
										rgb(18, 82, 199) 7px 7px,
										rgb(18, 82, 199) 8px 8px,
										rgb(18, 83, 201) 9px 9px,
										rgb(18, 84, 204) 10px 10px,
										rgb(18, 85, 207) 11px 11px,
										rgb(19, 86, 210) 12px 12px,
										rgb(19, 87, 213) 13px 13px,
										rgb(19, 88, 215) 14px 14px,
										rgb(19, 90, 218) 15px 15px,
										rgb(20, 91, 221) 16px 16px,
										rgb(20, 92, 224) 17px 17px,
										rgb(20, 93, 227) 18px 18px,
										rgb(20, 94, 229) 19px 19px,
										rgb(21, 95, 232) 20px 20px,
										rgb(21, 96, 235) 21px 21px,
										rgb(21, 98, 238) 22px 22px,
										rgb(21, 99, 241) 23px 23px,
										rgb(22, 100, 243) 24px 24px,
										rgb(22, 101, 246) 25px 25px,
										rgb(22, 102, 249) 26px 26px,
										rgb(22, 103, 252) 27px 27px,
										rgb(23, 105, 255) 28px 28px;
					}
					&.dfd-added-font-icon-px-icon {
						text-shadow:	rgb(0, 136, 186) 1px 1px,
										rgb(0, 136, 186) 2px 2px,
										rgb(0, 136, 186) 3px 3px,
										rgb(0, 136, 186) 4px 4px,
										rgb(0, 136, 186) 5px 5px,
										rgb(0, 136, 186) 6px 6px,
										rgb(0, 136, 186) 7px 7px,
										rgb(0, 136, 186) 8px 8px,
										rgb(0, 137, 188) 9px 9px,
										rgb(0, 139, 191) 10px 10px,
										rgb(0, 141, 193) 11px 11px,
										rgb(0, 143, 196) 12px 12px,
										rgb(0, 145, 199) 13px 13px,
										rgb(0, 147, 201) 14px 14px,
										rgb(0, 149, 204) 15px 15px,
										rgb(0, 151, 207) 16px 16px,
										rgb(0, 153, 209) 17px 17px,
										rgb(0, 155, 212) 18px 18px,
										rgb(0, 156, 215) 19px 19px,
										rgb(0, 158, 217) 20px 20px,
										rgb(0, 160, 220) 21px 21px,
										rgb(0, 162, 223) 22px 22px,
										rgb(0, 164, 225) 23px 23px,
										rgb(0, 166, 228) 24px 24px,
										rgb(0, 168, 231) 25px 25px,
										rgb(0, 170, 233) 26px 26px,
										rgb(0, 172, 236) 27px 27px,
										rgb(0, 174, 239) 28px 28px;
					}
					&.dfd-added-font-icon-vb {
						text-shadow:	rgb(30, 140, 182) 1px 1px,
										rgb(30, 140, 182) 2px 2px,
										rgb(30, 140, 182) 3px 3px,
										rgb(30, 140, 182) 4px 4px,
										rgb(30, 140, 182) 5px 5px,
										rgb(30, 140, 182) 6px 6px,
										rgb(30, 140, 182) 7px 7px,
										rgb(30, 140, 182) 8px 8px,
										rgb(30, 142, 184) 9px 9px,
										rgb(30, 144, 187) 10px 10px,
										rgb(31, 146, 189) 11px 11px,
										rgb(31, 148, 192) 12px 12px,
										rgb(32, 150, 194) 13px 13px,
										rgb(32, 152, 197) 14px 14px,
										rgb(33, 154, 199) 15px 15px,
										rgb(33, 156, 202) 16px 16px,
										rgb(34, 158, 204) 17px 17px,
										rgb(34, 160, 207) 18px 18px,
										rgb(34, 162, 210) 19px 19px,
										rgb(35, 164, 212) 20px 20px,
										rgb(35, 166, 215) 21px 21px,
										rgb(36, 168, 217) 22px 22px,
										rgb(36, 170, 220) 23px 23px,
										rgb(37, 172, 222) 24px 24px,
										rgb(37, 174, 225) 25px 25px,
										rgb(38, 176, 227) 26px 26px,
										rgb(38, 178, 230) 27px 27px,
										rgb(39, 180, 233) 28px 28px;
					}
					&.dfd-added-font-icon-b_Xing-icon_bl {
						text-shadow:	rgb(161, 172, 0) 1px 1px,
										rgb(161, 172, 0) 2px 2px,
										rgb(161, 172, 0) 3px 3px,
										rgb(161, 172, 0) 4px 4px,
										rgb(161, 172, 0) 5px 5px,
										rgb(161, 172, 0) 6px 6px,
										rgb(161, 172, 0) 7px 7px,
										rgb(161, 172, 0) 8px 8px,
										rgb(163, 174, 0) 9px 9px,
										rgb(165, 176, 0) 10px 10px,
										rgb(167, 179, 0) 11px 11px,
										rgb(170, 181, 0) 12px 12px,
										rgb(172, 184, 0) 13px 13px,
										rgb(174, 186, 0) 14px 14px,
										rgb(177, 188, 0) 15px 15px,
										rgb(179, 191, 0) 16px 16px,
										rgb(181, 193, 0) 17px 17px,
										rgb(184, 196, 0) 18px 18px,
										rgb(186, 198, 0) 19px 19px,
										rgb(188, 200, 0) 20px 20px,
										rgb(190, 203, 0) 21px 21px,
										rgb(193, 205, 0) 22px 22px,
										rgb(195, 208, 0) 23px 23px,
										rgb(197, 210, 0) 24px 24px,
										rgb(200, 212, 0) 25px 25px,
										rgb(202, 215, 0) 26px 26px,
										rgb(204, 217, 0) 27px 27px,
										rgb(207, 220, 0) 28px 28px;
					}
					&.dfd-added-font-icon-bandcamp-logo {
						text-shadow:	rgb(76, 120, 132) 1px 1px,
										rgb(76, 120, 132) 2px 2px,
										rgb(76, 120, 132) 3px 3px,
										rgb(76, 120, 132) 4px 4px,
										rgb(76, 120, 132) 5px 5px,
										rgb(76, 120, 132) 6px 6px,
										rgb(76, 120, 132) 7px 7px,
										rgb(76, 120, 132) 8px 8px,
										rgb(77, 121, 133) 9px 9px,
										rgb(78, 123, 135) 10px 10px,
										rgb(79, 125, 137) 11px 11px,
										rgb(80, 126, 139) 12px 12px,
										rgb(81, 128, 141) 13px 13px,
										rgb(82, 130, 143) 14px 14px,
										rgb(83, 131, 144) 15px 15px,
										rgb(84, 133, 146) 16px 16px,
										rgb(85, 135, 148) 17px 17px,
										rgb(87, 137, 150) 18px 18px,
										rgb(88, 138, 152) 19px 19px,
										rgb(89, 140, 154) 20px 20px,
										rgb(90, 142, 156) 21px 21px,
										rgb(91, 143, 157) 22px 22px,
										rgb(92, 145, 159) 23px 23px,
										rgb(93, 147, 161) 24px 24px,
										rgb(94, 148, 163) 25px 25px,
										rgb(95, 150, 165) 26px 26px,
										rgb(96, 152, 167) 27px 27px,
										rgb(98, 154, 169) 28px 28px;
					}
					&.dfd-added-font-icon-c_spotify-512-black {
						text-shadow:	rgb(23, 168, 75) 1px 1px,
										rgb(23, 168, 75) 2px 2px,
										rgb(23, 168, 75) 3px 3px,
										rgb(23, 168, 75) 4px 4px,
										rgb(23, 168, 75) 5px 5px,
										rgb(23, 168, 75) 6px 6px,
										rgb(23, 168, 75) 7px 7px,
										rgb(23, 168, 75) 8px 8px,
										rgb(23, 170, 76) 9px 9px,
										rgb(23, 172, 77) 10px 10px,
										rgb(24, 175, 78) 11px 11px,
										rgb(24, 177, 79) 12px 12px,
										rgb(24, 179, 80) 13px 13px,
										rgb(25, 182, 81) 14px 14px,
										rgb(25, 184, 82) 15px 15px,
										rgb(25, 186, 83) 16px 16px,
										rgb(26, 189, 84) 17px 17px,
										rgb(26, 191, 85) 18px 18px,
										rgb(26, 193, 86) 19px 19px,
										rgb(27, 196, 87) 20px 20px,
										rgb(27, 198, 88) 21px 21px,
										rgb(27, 200, 89) 22px 22px,
										rgb(28, 203, 90) 23px 23px,
										rgb(28, 205, 91) 24px 24px,
										rgb(28, 207, 92) 25px 25px,
										rgb(29, 210, 93) 26px 26px,
										rgb(29, 212, 94) 27px 27px,
										rgb(30, 215, 96) 28px 28px;
					}
					&.dfd-added-font-icon-houzz-dark-icon {
						text-shadow:	rgb(95, 151, 52) 1px 1px,
										rgb(95, 151, 52) 2px 2px,
										rgb(95, 151, 52) 3px 3px,
										rgb(95, 151, 52) 4px 4px,
										rgb(95, 151, 52) 5px 5px,
										rgb(95, 151, 52) 6px 6px,
										rgb(95, 151, 52) 7px 7px,
										rgb(95, 151, 52) 8px 8px,
										rgb(96, 153, 52) 9px 9px,
										rgb(97, 155, 53) 10px 10px,
										rgb(99, 157, 54) 11px 11px,
										rgb(100, 159, 55) 12px 12px,
										rgb(101, 161, 55) 13px 13px,
										rgb(103, 163, 56) 14px 14px,
										rgb(104, 165, 57) 15px 15px,
										rgb(105, 167, 58) 16px 16px,
										rgb(107, 169, 58) 17px 17px,
										rgb(108, 172, 59) 18px 18px,
										rgb(109, 174, 60) 19px 19px,
										rgb(111, 176, 61) 20px 20px,
										rgb(112, 178, 61) 21px 21px,
										rgb(113, 180, 62) 22px 22px,
										rgb(115, 182, 63) 23px 23px,
										rgb(116, 184, 64) 24px 24px,
										rgb(117, 186, 64) 25px 25px,
										rgb(119, 188, 65) 26px 26px,
										rgb(120, 190, 66) 27px 27px,
										rgb(122, 193, 67) 28px 28px;
					}
					&.dfd-added-font-icon-Meerkat-color {
						text-shadow:	rgb(199, 176, 2) 1px 1px,
										rgb(199, 176, 2) 2px 2px,
										rgb(199, 176, 2) 3px 3px,
										rgb(199, 176, 2) 4px 4px,
										rgb(199, 176, 2) 5px 5px,
										rgb(199, 176, 2) 6px 6px,
										rgb(199, 176, 2) 7px 7px,
										rgb(199, 176, 2) 8px 8px,
										rgb(201, 178, 2) 9px 9px,
										rgb(204, 181, 2) 10px 10px,
										rgb(207, 183, 2) 11px 11px,
										rgb(210, 186, 2) 12px 12px,
										rgb(213, 188, 2) 13px 13px,
										rgb(215, 191, 2) 14px 14px,
										rgb(218, 193, 2) 15px 15px,
										rgb(221, 196, 2) 16px 16px,
										rgb(224, 198, 2) 17px 17px,
										rgb(227, 201, 2) 18px 18px,
										rgb(229, 203, 2) 19px 19px,
										rgb(232, 206, 2) 20px 20px,
										rgb(235, 208, 2) 21px 21px,
										rgb(238, 211, 2) 22px 22px,
										rgb(241, 213, 2) 23px 23px,
										rgb(243, 216, 2) 24px 24px,
										rgb(246, 218, 2) 25px 25px,
										rgb(249, 221, 2) 26px 26px,
										rgb(252, 223, 2) 27px 27px,
										rgb(255, 226, 3) 28px 28px;
					}
					&.dfd-added-font-icon-periscope-logo {
						text-shadow:	rgb(55, 127, 153) 1px 1px,
										rgb(55, 127, 153) 2px 2px,
										rgb(55, 127, 153) 3px 3px,
										rgb(55, 127, 153) 4px 4px,
										rgb(55, 127, 153) 5px 5px,
										rgb(55, 127, 153) 6px 6px,
										rgb(55, 127, 153) 7px 7px,
										rgb(55, 127, 153) 8px 8px,
										rgb(55, 128, 155) 9px 9px,
										rgb(56, 130, 157) 10px 10px,
										rgb(57, 132, 159) 11px 11px,
										rgb(58, 134, 161) 12px 12px,
										rgb(58, 136, 163) 13px 13px,
										rgb(59, 137, 165) 14px 14px,
										rgb(60, 139, 168) 15px 15px,
										rgb(61, 141, 170) 16px 16px,
										rgb(61, 143, 172) 17px 17px,
										rgb(62, 145, 174) 18px 18px,
										rgb(63, 146, 176) 19px 19px,
										rgb(64, 148, 178) 20px 20px,
										rgb(64, 150, 180) 21px 21px,
										rgb(65, 152, 183) 22px 22px,
										rgb(66, 154, 185) 23px 23px,
										rgb(67, 155, 187) 24px 24px,
										rgb(67, 157, 189) 25px 25px,
										rgb(68, 159, 191) 26px 26px,
										rgb(69, 161, 193) 27px 27px,
										rgb(70, 163, 196) 28px 28px;
					}
					&.dfd-added-font-icon-skype {
						text-shadow:	rgb(0, 123, 179) 1px 1px,
										rgb(0, 123, 179) 2px 2px,
										rgb(0, 123, 179) 3px 3px,
										rgb(0, 123, 179) 4px 4px,
										rgb(0, 123, 179) 5px 5px,
										rgb(0, 123, 179) 6px 6px,
										rgb(0, 123, 179) 7px 7px,
										rgb(0, 123, 179) 8px 8px,
										rgb(0, 124, 181) 9px 9px,
										rgb(0, 126, 184) 10px 10px,
										rgb(0, 128, 186) 11px 11px,
										rgb(0, 130, 189) 12px 12px,
										rgb(0, 131, 191) 13px 13px,
										rgb(0, 133, 194) 14px 14px,
										rgb(0, 135, 196) 15px 15px,
										rgb(0, 137, 199) 16px 16px,
										rgb(0, 138, 201) 17px 17px,
										rgb(0, 140, 204) 18px 18px,
										rgb(0, 142, 206) 19px 19px,
										rgb(0, 144, 209) 20px 20px,
										rgb(0, 145, 211) 21px 21px,
										rgb(0, 147, 214) 22px 22px,
										rgb(0, 149, 216) 23px 23px,
										rgb(0, 151, 219) 24px 24px,
										rgb(0, 152, 221) 25px 25px,
										rgb(0, 154, 224) 26px 26px,
										rgb(0, 156, 226) 27px 27px,
										rgb(0, 158, 229) 28px 28px;
					}
					&.dfd-added-font-icon-slideshare {
						text-shadow:	rgb(0, 111, 164) 1px 1px,
										rgb(0, 111, 164) 2px 2px,
										rgb(0, 111, 164) 3px 3px,
										rgb(0, 111, 164) 4px 4px,
										rgb(0, 111, 164) 5px 5px,
										rgb(0, 111, 164) 6px 6px,
										rgb(0, 111, 164) 7px 7px,
										rgb(0, 111, 164) 8px 8px,
										rgb(0, 112, 166) 9px 9px,
										rgb(0, 114, 168) 10px 10px,
										rgb(0, 115, 170) 11px 11px,
										rgb(0, 117, 173) 12px 12px,
										rgb(0, 118, 175) 13px 13px,
										rgb(0, 120, 177) 14px 14px,
										rgb(0, 121, 180) 15px 15px,
										rgb(0, 123, 182) 16px 16px,
										rgb(0, 124, 184) 17px 17px,
										rgb(0, 126, 187) 18px 18px,
										rgb(0, 128, 189) 19px 19px,
										rgb(0, 129, 191) 20px 20px,
										rgb(0, 131, 193) 21px 21px,
										rgb(0, 132, 196) 22px 22px,
										rgb(0, 134, 198) 23px 23px,
										rgb(0, 135, 200) 24px 24px,
										rgb(0, 137, 203) 25px 25px,
										rgb(0, 138, 205) 26px 26px,
										rgb(0, 140, 207) 27px 27px,
										rgb(0, 142, 210) 28px 28px;
					}
					&.dfd-added-font-icon-Snapchat-logo {
						text-shadow:	rgb(198, 196, 23) 1px 1px,
										rgb(198, 196, 23) 2px 2px,
										rgb(198, 196, 23) 3px 3px,
										rgb(198, 196, 23) 4px 4px,
										rgb(198, 196, 23) 5px 5px,
										rgb(198, 196, 23) 6px 6px,
										rgb(198, 196, 23) 7px 7px,
										rgb(198, 196, 23) 8px 8px,
										rgb(200, 198, 23) 9px 9px,
										rgb(203, 201, 23) 10px 10px,
										rgb(206, 204, 24) 11px 11px,
										rgb(209, 207, 24) 12px 12px,
										rgb(212, 209, 24) 13px 13px,
										rgb(214, 212, 25) 14px 14px,
										rgb(217, 215, 25) 15px 15px,
										rgb(220, 218, 25) 16px 16px,
										rgb(223, 220, 26) 17px 17px,
										rgb(226, 223, 26) 18px 18px,
										rgb(228, 226, 26) 19px 19px,
										rgb(231, 229, 27) 20px 20px,
										rgb(234, 231, 27) 21px 21px,
										rgb(237, 234, 27) 22px 22px,
										rgb(240, 237, 28) 23px 23px,
										rgb(242, 240, 28) 24px 24px,
										rgb(245, 242, 28) 25px 25px,
										rgb(248, 245, 29) 26px 26px,
										rgb(251, 248, 29) 27px 27px,
										rgb(254, 251, 30) 28px 28px;
					}
					&.dfd-added-font-icon-soundcloud-logo {
						text-shadow:	rgb(199, 66, 0) 1px 1px,
										rgb(199, 66, 0) 2px 2px,
										rgb(199, 66, 0) 3px 3px,
										rgb(199, 66, 0) 4px 4px,
										rgb(199, 66, 0) 5px 5px,
										rgb(199, 66, 0) 6px 6px,
										rgb(199, 66, 0) 7px 7px,
										rgb(199, 66, 0) 8px 8px,
										rgb(201, 66, 0) 9px 9px,
										rgb(204, 67, 0) 10px 10px,
										rgb(207, 68, 0) 11px 11px,
										rgb(210, 69, 0) 12px 12px,
										rgb(213, 70, 0) 13px 13px,
										rgb(215, 71, 0) 14px 14px,
										rgb(218, 72, 0) 15px 15px,
										rgb(221, 73, 0) 16px 16px,
										rgb(224, 74, 0) 17px 17px,
										rgb(227, 75, 0) 18px 18px,
										rgb(229, 76, 0) 19px 19px,
										rgb(232, 77, 0) 20px 20px,
										rgb(235, 78, 0) 21px 21px,
										rgb(238, 79, 0) 22px 22px,
										rgb(241, 80, 0) 23px 23px,
										rgb(243, 81, 0) 24px 24px,
										rgb(246, 82, 0) 25px 25px,
										rgb(249, 83, 0) 26px 26px,
										rgb(252, 84, 0) 27px 27px,
										rgb(255, 85, 0) 28px 28px;
					}
					&.dfd-added-font-icon-the-city {
						text-shadow:	rgb(56, 127, 148) 1px 1px,
										rgb(56, 127, 148) 2px 2px,
										rgb(56, 127, 148) 3px 3px,
										rgb(56, 127, 148) 4px 4px,
										rgb(56, 127, 148) 5px 5px,
										rgb(56, 127, 148) 6px 6px,
										rgb(56, 127, 148) 7px 7px,
										rgb(56, 127, 148) 8px 8px,
										rgb(56, 128, 150) 9px 9px,
										rgb(57, 130, 152) 10px 10px,
										rgb(58, 132, 154) 11px 11px,
										rgb(59, 134, 156) 12px 12px,
										rgb(60, 136, 158) 13px 13px,
										rgb(60, 137, 160) 14px 14px,
										rgb(61, 139, 162) 15px 15px,
										rgb(62, 141, 164) 16px 16px,
										rgb(63, 143, 166) 17px 17px,
										rgb(64, 145, 169) 18px 18px,
										rgb(64, 146, 171) 19px 19px,
										rgb(65, 148, 173) 20px 20px,
										rgb(66, 150, 175) 21px 21px,
										rgb(67, 152, 177) 22px 22px,
										rgb(68, 154, 179) 23px 23px,
										rgb(68, 155, 181) 24px 24px,
										rgb(69, 157, 183) 25px 25px,
										rgb(70, 159, 185) 26px 26px,
										rgb(71, 161, 187) 27px 27px,
										rgb(72, 163, 190) 28px 28px;
					}
					&.dfd-added-font-icon-pinpoint {
						text-shadow:	rgb(27, 92, 173) 1px 1px,
										rgb(27, 92, 173) 2px 2px,
										rgb(27, 92, 173) 3px 3px,
										rgb(27, 92, 173) 4px 4px,
										rgb(27, 92, 173) 5px 5px,
										rgb(27, 92, 173) 6px 6px,
										rgb(27, 92, 173) 7px 7px,
										rgb(27, 92, 173) 8px 8px,
										rgb(27, 93, 175) 9px 9px,
										rgb(27, 94, 177) 10px 10px,
										rgb(28, 95, 180) 11px 11px,
										rgb(28, 97, 182) 12px 12px,
										rgb(29, 98, 185) 13px 13px,
										rgb(29, 99, 187) 14px 14px,
										rgb(29, 101, 190) 15px 15px,
										rgb(30, 102, 192) 16px 16px,
										rgb(30, 103, 195) 17px 17px,
										rgb(31, 105, 197) 18px 18px,
										rgb(31, 106, 199) 19px 19px,
										rgb(31, 107, 202) 20px 20px,
										rgb(32, 108, 204) 21px 21px,
										rgb(32, 110, 207) 22px 22px,
										rgb(33, 111, 209) 23px 23px,
										rgb(33, 112, 212) 24px 24px,
										rgb(33, 114, 214) 25px 25px,
										rgb(34, 115, 217) 26px 26px,
										rgb(34, 116, 219) 27px 27px,
										rgb(35, 118, 222) 28px 28px;
					}
					&.dfd-added-font-icon-viadeo {
						text-shadow:	rgb(199, 98, 8) 1px 1px,
										rgb(199, 98, 8) 2px 2px,
										rgb(199, 98, 8) 3px 3px,
										rgb(199, 98, 8) 4px 4px,
										rgb(199, 98, 8) 5px 5px,
										rgb(199, 98, 8) 6px 6px,
										rgb(199, 98, 8) 7px 7px,
										rgb(199, 98, 8) 8px 8px,
										rgb(201, 99, 8) 9px 9px,
										rgb(204, 100, 8) 10px 10px,
										rgb(207, 102, 8) 11px 11px,
										rgb(210, 103, 8) 12px 12px,
										rgb(213, 104, 8) 13px 13px,
										rgb(215, 106, 8) 14px 14px,
										rgb(218, 107, 8) 15px 15px,
										rgb(221, 108, 8) 16px 16px,
										rgb(224, 110, 8) 17px 17px,
										rgb(227, 111, 9) 18px 18px,
										rgb(229, 112, 9) 19px 19px,
										rgb(232, 114, 9) 20px 20px,
										rgb(235, 115, 9) 21px 21px,
										rgb(238, 116, 9) 22px 22px,
										rgb(241, 118, 9) 23px 23px,
										rgb(243, 119, 9) 24px 24px,
										rgb(246, 120, 9) 25px 25px,
										rgb(249, 122, 9) 26px 26px,
										rgb(252, 123, 9) 27px 27px,
										rgb(255, 125, 10) 28px 28px;
					}
					&.dfd-added-font-icon-tripadvisor {
						text-shadow:	rgb(24, 107, 37) 1px 1px,
										rgb(24, 107, 37) 2px 2px,
										rgb(24, 107, 37) 3px 3px,
										rgb(24, 107, 37) 4px 4px,
										rgb(24, 107, 37) 5px 5px,
										rgb(24, 107, 37) 6px 6px,
										rgb(24, 107, 37) 7px 7px,
										rgb(24, 107, 37) 8px 8px,
										rgb(24, 108, 37) 9px 9px,
										rgb(24, 110, 38) 10px 10px,
										rgb(25, 111, 38) 11px 11px,
										rgb(25, 113, 39) 12px 12px,
										rgb(25, 114, 39) 13px 13px,
										rgb(26, 116, 40) 14px 14px,
										rgb(26, 117, 40) 15px 15px,
										rgb(26, 119, 41) 16px 16px,
										rgb(27, 120, 41) 17px 17px,
										rgb(27, 122, 42) 18px 18px,
										rgb(27, 123, 42) 19px 19px,
										rgb(28, 125, 43) 20px 20px,
										rgb(28, 126, 43) 21px 21px,
										rgb(28, 128, 44) 22px 22px,
										rgb(29, 129, 44) 23px 23px,
										rgb(29, 131, 45) 24px 24px,
										rgb(29, 132, 45) 25px 25px,
										rgb(30, 134, 46) 26px 26px,
										rgb(30, 135, 46) 27px 27px,
										rgb(31, 137, 47) 28px 28px;
					}
				}
			}
		}
	}
	&.style-11 {
		.soc-icon-container {
			border: 2px solid @third-site-dark-color;
		}
		a {
			border-right: 1px solid @border-color;
			margin-right: 0;
			&:last-child {
				border-right-width: 0;
			}
			&:before {
				opacity: 1;
				visibility: visible;
				.transition(~"opacity .3s ease, visibility .3s ease");
			}
			i {
				left: 0;
				top: 0;
				opacity: 0;
				visibility: hidden;
				.transition(~"opacity .3s ease, visibility .3s ease");
			}
			&:hover {
				&:before {
					opacity: 0;
					visibility: hidden;
				}
				i {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
	&.style-12 {
		a {
			opacity: 1;
			.transition(~"opacity .3s ease-in-out, color  .3s ease-in-out, background .3s ease-in-out");
			&:after {
				content: "";
				.abs();
				width: 2.5em;
				height: 1px;
				background: @icon-color;
				top: 48%;
				left: -115%;
				.transition(~"left 0s ease-in-out, background 0s ease-in-out");
			}
			i {
				.hide();
			}
			&:hover {
				opacity: .5;
				&:after {
					left: 100%;
					.transition(~"left .3s ease-in-out, background .3s ease-in-out");
				}
			}
		}
	}
}